{% extends 'base.html.twig' %}

{% block body %}
    {% if exception is defined and attribute(exception, "message") is defined %}
        {%  set message = attribute(exception, "message") %}
    {% else %}
        {% set message = "unknown" %}
    {% endif %}

    <h2>{{ status_code }}: {{ status_text }}</h2>
    An error has occurred within XTools. <br /><br />

    The server said: {{ msgPrintExists(message) }} <br /><br />

    Please feel free to file a task to report the error <a href='https://phabricator.wikimedia.org/maniphest/task/create/?title=PLEASE REPLACE WITH A DESCRIPTION OF THE ERROR&priority=75&projects=Tool-labs-tools-xtools&description={{ attribute(exception, "file") }}: {{ attribute(exception, "line") }} - {{ message }}\r\n\r\nPlease provide any further details you can here\r\n\r\nXTools version: {{ version }}-{{ shortHash() }}' target=_blank>on Phabricator</a> (Requires a Phabricator account).
{% endblock %}