{% set xtPage = 'error' %}

{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}

{% block body %}
<div class="panel panel-danger">
    <header class="panel-heading">
        <div class="text-center xt-heading-top">
            <strong>{{ status_code }}: {{ status_text }}</strong>
        </div>
    </header>

    <div class="panel-body xt-panel-body error-wrapper">
        <div class="error-mascot--wrapper pull-right">
            <a target="_blank" title="By Lilyu (Own work) [WTFPL], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File%3ALapinou_Furieux.svg"><img class="error-mascot" alt="Lapinou Furieux" src="{{ asset('static/images/error_mascot.svg') }}"/></a>
        </div>

        {% if exception is defined and attribute(exception, 'message') is defined %}
            {% set message = attribute(exception, 'message') %}
        {% else %}
            {% set message = 'unknown' %}
        {% endif %}

        <p>{{ msg('error-title') }}</p>

        <p>
            {% if msgExists(message, [exception.code]) %}
                <strong>{{ msg(message, [exception.code]) }}</strong>
            {% else %}
                {{ msg('error-server-message', ['<code>' ~ message ~ '</code>']) }}
            {% endif %}
        </p>

        <p>
            {% set phabLink %}
                <a target="_blank" href="https://phabricator.wikimedia.org/maniphest/task/create/?title=PLEASE REPLACE WITH A DESCRIPTION OF THE ERROR&amp;priority=75&amp;projects=XTools&amp;description=```{{ attribute(exception, 'file') }}: {{ attribute(exception, 'line') }} - {{ message }}```%0A%0AURL: {{app.request.uri}}%0A%0APlease provide any further details here%0A%0AXTools version: {{ version }}-{{ shortHash() }}">Phabricator</a>
            {% endset %}
            {{ msg('error-report', [phabLink]) }}
        </p>
    </div>
</div>
{% endblock %}
