{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}

{% block body %}
<div class="panel panel-danger">
    <header class="panel-heading">
        <div class="text-center xt-heading-top">
            <strong>{{ status_code }}: {{ status_text }}</strong>
        </div>
    </header>

    <div class="panel-body xt-panel-body error-wrapper">
        <a class="pull-right wikipe-tan-error" title="By Uncle_Wikipe-tan-blood.svg: *Uncle_Wikipe-tan.svg: User:Mikael Häggström form Kasuga~commonswiki original work. derivative work: Esby (talk) derivative work (File:Обгон Японской Википедии2.svg): Das steinerne Herz (File:Обгон Японской Википедии2.svg) [CC BY-SA 2.5-2.0-1.0 (http://creativecommons.org/licenses/by-sa/2.5-2.0-1.0), CC-BY-SA-3.0 (http://creativecommons.org/licenses/by-sa/3.0/), CC BY-SA 4.0 (http://creativecommons.org/licenses/by-sa/4.0) or GFDL (http://www.gnu.org/copyleft/fdl.html)], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File%3AWikipe-tan_tears.svg"><img alt="Wikipe-tan tears" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Wikipe-tan_tears.svg/512px-Wikipe-tan_tears.svg.png"/></a>

        {% if exception is defined and attribute(exception, 'message') is defined %}
            {%  set message = attribute(exception, 'message') %}
        {% else %}
            {% set message = 'unknown' %}
        {% endif %}

        <p>{{ msg('error-title') }}</p>

        <p>{{ msg('error-server-message', ['<code>' ~ msgPrintExists(message) ~ '</code>']) }}</p>

        <p>
            {% set phabLink %}
                <a target="_blank" href="https://phabricator.wikimedia.org/maniphest/task/create/?title=PLEASE REPLACE WITH A DESCRIPTION OF THE ERROR&amp;priority=75&amp;projects=Tool-labs-tools-xtools&amp;description=```{{ attribute(exception, 'file') }}: {{ attribute(exception, 'line') }} - {{ message }}```">Phabricator</a>
            {% endset %}
            {{ msg('error-report', [phabLink]) }}
        </p>
    </div>
</div>
{% endblock %}