{% extends is_sub_request ? 'subrequest.html.twig' : 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}
{% import 'macros/wiki.html.twig' as wiki %}

{% block body %}

{% if not is_sub_request %}
    <div class="panel panel-primary">
        {{ layout.userHeading(user, project, 'TopEdits') }}
        <div class="panel-body xt-panel-body">
            {{ wiki.userLinks(user, project, 'TopEdits') }}
            <h3 class="text-center">{{ msg('topedits-per-namespace') }}</h3>

            {% if project.userHasOptedIn(user) and te.topEdits|length > 2 %}
                {{ layout.nsToc(project, te.topEdits|keys) }}
            {% endif %}
{% endif %}

{% if not(project.userHasOptedIn(user)) %}
    {{ wiki.userOptedOut(project, user) }}
{% elseif te.topEdits|length > 0 %}
    {% for ns, pages in te.topEdits %}
        {% set showPageAssessment = project.hasPageAssessments(ns) %}
        {% set content %}
        <table class="table table-bordered table-hover table-striped topedits-namespace-table xt-show-hide--target">
            <thead><tr>
                <th>
                    <span class="sort-link sort-link--edits" data-column="edits">
                        {{ msg('edits')|ucfirst }}
                        <span class="glyphicon glyphicon-sort"></span>
                    </span>
                </th>
                <th>
                    <span class="sort-link sort-link--page" data-column="page">
                        {{ msg('page-title') }}
                        <span class="glyphicon glyphicon-sort"></span>
                    </span>
                </th>
                {% if showPageAssessment %}
                    <th>
                        <span class="sort-link sort-link--assessment" data-column="assessment">
                            {{ msg('assessment') }}
                            <span class="glyphicon glyphicon-sort"></span>
                        </span>
                    </th>
                {% endif %}
                <th>{{ msg('links') }}</th>
            </tr></thead>
            <tbody>
                {% for page in pages %}
                    {% set pageTitle = titleWithNs(page.page_title, page.page_namespace, project.namespaces) %}
                    <tr>
                        <td class="sort-entry--edits" data-value="{{ page.count }}">
                            {{ page.count|num_format }}
                        </td>
                        <td class="sort-entry--page display-title" data-value="{{ pageTitle }}">
                            {{ wiki.pageLinkRaw(pageTitle, project) }}
                        </td>
                        {% if showPageAssessment %}
                            <td class="sort-entry--assessment" data-value="{{ page.pa_class ? page.pa_class : 'Unknown' }}">
                                {% set badge = project.pageAssessments.badgeURL(page.pa_class) %}
                                {% if badge is defined %}
                                    <img alt="{{ page.pa_class }}" src="{{ badge }}" class="assessment-badge" />
                                {% endif %}
                                {{ page.pa_class ? page.pa_class : msg('unknown') }}
                            </td>
                        {% endif %}
                        <td>
                            {{ wiki.pageLogLinkRaw(pageTitle, project) }}
                            &middot;
                            <a href="{{ path('ArticleInfoResult', {project:project.domain, page:pageTitle}) }}">{{ msg('tool-articleinfo') }}</a>
                            &middot;
                            <a href="{{ path('TopEditsResultPage', {project:project.domain, username:user.usernameIdent, namespace:page.page_namespace, page:page.page_title}) }}" >{{ msg('tool-topedits') }}</a>
                        </td>
                    </tr>
                {% endfor %}
                {% if pages|length >= 10 and te.topEdits|length > 1 %}
                    <tr>
                        <td colspan={{ showPageAssessment ? 4 : 3 }}>
                            <a href="{{ path('TopEditsResultNamespace', {project:project.domain, username:user.usernameIdent, namespace:ns}) }}">
                                {{ msg('more') }}&hellip;
                            </a>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        {% if not(is_sub_request) and te.namespace is not same as('all') %}
            {% set numPages = (te.getNumPagesNamespace / te.limit)|round(0, 'ceil') %}
            {% set hasPrev = te.pagination - 1 >= 0 %}
            {% set hasNext = te.pagination + 1 < numPages %}
            {% set pathVars = {'project': project.domain, 'username': user.usernameIdent, 'namespace': te.namespace} %}

            {% if hasNext or hasPrev %}
                <nav aria-label="...">
                    <ul class="pagination xt-pagination">
                        <li{% if not(hasPrev) %} class="disabled"{% endif %}>
                            {% if hasPrev %}
                            <a href="{{ path('TopEditsResultNamespace', pathVars|merge({'pagination': te.pagination - 1})) }}" aria-label="Previous">
                                {% endif %}
                                <span aria-hidden="true">&laquo;</span>
                                {% if hasPrev %}</a>{% endif %}
                        </li>
                        {% for page in 1..numPages %}
                            {% set active = te.pagination == loop.index0 %}
                            <li{% if active %} class="active"{% endif %}>
                                <a href="{{ path('TopEditsResultNamespace', pathVars|merge({'pagination': loop.index0})) }}">
                                    {{ page }} {% if active %}<span class="sr-only">(current)</span>{% endif %}
                                </a>
                            </li>
                        {% endfor %}
                        <li{% if not(hasNext) %} class="disabled"{% endif %}>
                            {% if hasNext %}
                            <a href="{{ path('TopEditsResultNamespace', pathVars|merge({'pagination': te.pagination + 1})) }}" aria-label="Next">
                                {% endif %}
                                <span aria-hidden="true">&raquo;</span>
                                {% if hasNext %}</a>{% endif %}
                        </li>
                    </ul>
                </nav>
            {% endif %}
        {% endif %}
        {% endset %}

        {% if is_sub_request %}
            <h4 class="xt-show-hide--parent">
                {{ nsName(ns, project.namespaces) }}
                <small class='xt-show'>[{{ msg('show')|lower }}]</small>
                <small class='xt-hide'>[{{ msg('hide')|lower }}]</small>
            </h4>
        {% endif %}

        {% if is_sub_request %}
            {{ content }}
        {% else %}
            {% set downloadLink %}
                {{ layout.downloadLink('TopEditsResultNamespace', {'project': project.domain, 'username': user.usernameIdent, 'namespace': te.namespace}, ['wikitext'], 'UserApiTopEditsNamespace') }}
            {% endset %}
            {{ layout.content_block(nsName(ns, project.namespaces), content, downloadLink, ns, true, te.topEdits|length > 1) }}
        {% endif %}
    {% endfor %}
{% else %}
    <div class="alert alert-info">
        {{ msg('no-contribs') }}
    </div>
{% endif %}

{% if not is_sub_request %}
    </div></div>
{% endif %}
{% endblock %}
