<!DOCTYPE html>
<html lang="{{ lang() }}">
<head>
    <title>{% if title is defined%}{{ msg(title) }} - {% endif %}{{ msg("title_xtools") }}</title>

    <link rel="stylesheet" type="text/css" href="{{ asset("bootstrap/css/bootstrap.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("res/stylenew.css") }}" />
    <link rel="shortcut icon" href="//tools.wmflabs.org/favicon.ico?v=2" />
    <script type="text/javascript" src="{{ asset("res/sortable.js") }}"></script>
    <script type="text/javascript" src="{{ asset("res/jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bootstrap/js/bootstrap.min.js") }}"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript">
        function switchShow( id, elmnt ) {
            var ff = document.getElementById(id);
            if( ff.style.display == "none" || ff.style.display == undefined ) {
                ff.style.display = "block";
                if(elmnt && id != 'xt-notifications') elmnt.innerHTML = '[{{ msg("hide") }}]';
            }
            else{
                ff.style.display = "none";
                if(elmnt && id != 'xt-notifications') elmnt.innerHTML = '[{{ msg("show") }}]';
            }
        }
    </script>

</head>

<body>

<header class="navbar navbar-default navbar-top" role="navigation" style="min-height:40px;">
    <div class="container-fluid">
        <div class="navbar-collapse collapse" style="padding-top:5px;">
            <ul class="list-inline">
                <li>{{ link("", msg("title_xtools")) }}</li>
                <li><span class="login" ><a href="https://tools.wmflabs.org/xtools/oauthredirector.php?action=login&amp;callto=https://www.mediawiki.org/w/api.php&amp;returnto=https://tools.wmflabs.org/xtools-ec/" >{{ msg("login") }}</a></span></li>
                <li><a title="XAgent configuration" href="//tools.wmflabs.org/xtools/agent/config.php"><img style="vertical-align:baseline" src="{{ asset("static/images/Blue_Fedora_hat_12.png") }}" />XAgent</a>&nbsp;&nbsp;</li>
            </ul>
            <span class="pull-right dropdown lang-dropdown">
                <button id="lang-selector" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {# FIXME #}
                    {{ langName() }}
                    <span class="caret"></span>
                </button>
                <ul class="form-control dropdown-menu" aria-labelledby="lang-selector">
                    {% for key, value in allLangs() %}
                        <li>
                            <a class="lang-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'uselang': key})) }}" data-lang="{{ key }}">{{ value|e }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </span>
        </div>
        <nav class="top-nav navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li{% if page is defined and page=="ec" %} class="active"{% endif %} >{{ link("ec", msg("tool_ec")) }}</li>
                <li{% if page is defined and page=="articleinfo" %} class="active"{% endif %}>{{ link("articleinfo", msg("tool_articleinfo")) }}</li>
                <li{% if page is defined and page=="pages" %} class="active"{% endif %}>{{ link("pages", msg("tool_pages")) }}</li>
                <li{% if page is defined and page=="topedits" %} class="active"{% endif %}>{{ link("topedits", msg("tool_topedits")) }}</li>
                <li{% if page is defined and page=="rangecontribs" %} class="active"{% endif %}>{{ link("rangecontribs", msg("tool_rangecontribs")) }}</li>
                <li{% if page is defined and page=="blame" %} class="active"{% endif %}>{{ link("blame", msg("tool_blame")) }}</li>
                <li{% if page is defined and page=="autoedits" %} class="active"{% endif %}>{{ link("autoedits", msg("tool_autoedits")) }}</li>
                <li{% if page is defined and page=="autoblock" %} class="active"{% endif %}>{{ link("autoblock", msg("tool_autoblock")) }}</li>
                <li{% if page is defined and page=="adminstats" %} class="active"{% endif %}>{{ link("adminstats", msg("tool_adminstats")) }}</li>
                <li{% if page is defined and page=="rfa" %} class="active"{% endif %}>{{ link("rfa", msg("tool_rfa")) }}</li>
                <li{% if page is defined and page=="rfab" %} class="active"{% endif %}>{{ link("rfap", msg("tool_rfap")) }}</li>
                <li{% if page is defined and page=="bash" %} class="active"{% endif %}>{{ link("bash", msg("tool_bash")) }}</li>
                <li{% if page is defined and page=="sc" %} class="active"{% endif %}>{{ link("sc", msg("tool_sc")) }}</li>
            </ul>
        </nav>
    </div>
</header>

{% if noticeDisplay is defined and noticeDisplay == true %}
<div class="container-fluid" style="margin-top: -10px;margin-bottom:10px;">
    <p class='alert {% if noticeStyle is defined %}alert-{{ noticeStyle }}{% else %}alert-danger{% endif %} xt-alert'>
        {% if noticeText is defined %}{{ noticeText }}
        {% else %}No notice has been defined but the notice has been turned on.  Poke a maintainer to fix this.
        {% endif %}
    </p>
</div>
{% endif %}

{% if app.session.flashBag.peek('notice') %}
    <div class="container-fluid" style="margin-top: -10px;margin-bottom:10px;">
        {% for flash_message in app.session.flashBag.get('notice') %}
        <p class="alert alert-danger xt-alert">
            {{ msgPrintExists(flash_message) }}
        </p>
        {% endfor %}
    </div>
{% endif %}

<main class="container-fluid" id="content">
    {# if pageTitle is defined %}<h3 style="width:100%; margin-bottom: 0.4em; margin-left:auto; margin-right:auto">{{ pageTitle }}{% if subtitle is defined %}<small style="color:inherit"> &nbsp;&bull;&nbsp; {{ subtitle }}</small>{% endif %}</h3>{% endif #}
    {% if pageTitle is defined %}<h2 style="width: 80%; margin-bottom: .5em; margin-left:auto; margin-right:auto">{{ msg(pageTitle) }}{% if subtitle is defined %}<small> &nbsp;&bull;&nbsp; {{ msg(subtitle) }}</small>{% endif %}</h2>{% endif %}
    <!--hr / -->
    {% block body %}
    {% endblock %}
</main>
<footer class="app-footer container-fluid">
    <span><small><span>{{ msg("executed", [request_time()]) }}</span> &middot; <span>{{ msg("memory", [memory_usage()]) }}</span></small></span>
    </div>
    <hr style="margin:5px 10px;" />
    <div class="row">
        <div class="col">
            <span>&copy; 2008-{{ year() }} &middot; {{ link("about", "About these tools") }}  &middot; v.{{ version }} &middot; <a href="http://github.com/x-tools/xtools-rebirth/tree/{{ hash() }}" target="_blank">r.{{ shortHash() }}</a> </span><br />
            <span>{{ msg_footer() }}</span>
        </div>
        <div class="col pull-right">
            <a style="margin-right:5px;" href="//translatewiki.net/?setlang=en "><img height="36px" src="//upload.wikimedia.org/wikipedia/commons/5/51/Translatewiki.net_logo.svg" alt="translatewiki.net logo"/></a>
            <a href="//tools.wmflabs.org"><img height="40px" src="//tools.wmflabs.org/xtools/static/images/labs.png" alt="Powered by WMF Labs" /></a>
        </div>
    </div>
</footer>
<br />
<br />

<script>
    if (window.sortables_init) sortables_init();
</script>

</body>
</html>
