{% extends is_sub_request ? 'subrequest.html.twig' : 'base.html.twig' %}
{% import 'macros/wiki.html.twig' as wiki %}

{% block body %}

{% if not is_sub_request %}
    <div class="panel panel-primary">
        <header class="panel-heading">
            <div class="text-center xt-heading-top">
                <a class="back-to-search" href="{{ path('ec') }}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    {{ msg('back') }}
                </a>
                {{ wiki.userLink(user, project) }}
                <small> &bull; {{ project.title }} </small>
            </div>
        </header>
        <div class="panel-body xt-panel-body">
            <section class="panel panel-default clearfix">
                <header class="panel-heading col-lg-12">
                    <h4>{{ msg('general-stats') }}</h4>
                </header>
                <div class="panel-body col-lg-12">
{% endif %}

<div class="col-lg-6 stat-list clearfix">
    <table class="table"><tbody>
        <tr>
            <td>{{ msg('user-id') }}</td>
            <td>{{ user.id(project) }}</td>
        </tr>
        <tr>
            <td><a target="_blank" href="{{ wiki.pageUrlRaw('Special:UserRights', project) }}?user={{ user.username }}">{{ msg('user-groups') }}</a></td>
            <td>
                {% for group in user.groups(project) %}
                    {{ group }}{% if not loop.last %}, {% endif %}
                {% endfor %}
                {% if user.globalGroups(project) %}
                    <br />&bull; {{ msg("global-user-groups") }}
                    {% for group in user.globalGroups(project) %}
                        {{ group }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{{ msg('is-admin') }}</td>
            <td>{% if user.isAdmin(project) %}<span class="text-info">&check;{% else %}<span class="text-warning">&cross;</span>{% endif %}</td>
        </tr>
        <tr>
            <td>{{ msg('first-edit') }}</td>
            <td>{% if ec.datetimeFirstRevision %}{{ ec.datetimeFirstRevision|date('Y-m-d H:i') }}{% endif %}</td>
        </tr>
        <tr>
            <td>{{ msg('latest-edit') }}</td>
            <td>{% if ec.datetimeLastRevision %}{{ ec.datetimeLastRevision|date('Y-m-d H:i') }}{% endif %}</td>
        </tr>
        <tr>
            <td class="stat-list--new-group">{{ msg('live-edits') }}</td>
            <td class="stat-list--new-group">{{ ec.countLiveRevisions|number_format }}</td>
        </tr>
        <tr>
            <td>{{ msg('deleted-edits') }}</td>
            <td>{{ ec.countDeletedRevisions|number_format }}</td>
        </tr>
        <tr>
            <td><strong>{{ msg('total-edits') }}</strong></td>
            <td><strong>{{ ec.countAllRevisions|number_format }}</strong></td>
        </tr>
    </tbody></table>
</div>
<div class="col-lg-6 stat-list clearfix">
    <table class="table"><tbody>
        <tr><td>{{ msg('lastday') }}</td><td>{{ ec.countRevisionsInLast('day')|number_format }}</td></tr>
        <tr><td>{{ msg('lastweek') }}</td><td>{{ ec.countRevisionsInLast('week')|number_format }}</td></tr>
        <tr><td>{{ msg('lastmonth') }}</td><td>{{ ec.countRevisionsInLast('month')|number_format }}</td></tr>
        <tr><td>{{ msg('lastyear') }}</td><td>{{ ec.countRevisionsInLast('year')|number_format }}</td></tr>
        <tr>
            <td>{{ msg("average-edits-per-day", [msg("days", [1])]) }}</td>
            <td>
                {{ ec.averageRevisionsPerDay|number_format(1) }}
                <span class="text-muted">
                    ({{ ec.days|number_format }} {{ msg('num-days', [ec.days]) }})
                </span>
            </td>
        </tr>
        <tr>
            <td>{{ msg('average-edit-size') }}</td>
            <td>{{ ec.averageRevisionSize|number_format(1) }}</td>
        </tr>
    </tbody></table>
</div>

<hr style="clear:both" />

<div class="col-lg-4 stat-list clearfix">
    <table class="table">
        {# ======================== PAGES ======================== #}
        <tbody class="stat-list--group">
            <tr>
                <td colspan="2" class="text-muted">{{ msg('pages') }}</td>
            </tr>
            <tr>
                <td>{{ msg('pages-edited-total') }}</td>
                <td>{{ ec.countAllPagesEdited|number_format }}</td>
            </tr>
            <tr>
                <td>{{ msg('average-per-page') }}</td>
                <td>{{ ec.averageRevisionsPerPage }}</td>
            </tr>
            <tr>
                <td>{{ msg('pages-created') }}</td>
                <td>
                    <a href="{{ path('PagesResult', {project:project.domain, username:user.username, namespace:'all', redirects:'none'}) }}">
                        {{ ec.countPagesCreated|number_format }}
                    </a>
                    <span class="text-muted">({{ msg('pages-created-since-deleted', [ec.countPagesCreatedDeleted|number_format]) }})</span>
                </td>
            </tr>
            <tr>
                <td>{{ msg('pages-moved') }}</td>
                <td>{{ ec.countPagesMoved|number_format }}</td>
            </tr>
            <tr>
                <td>{{ msg('pages-deleted') }}</td>
                <td>{{ ec.countPagesDeleted|number_format }}</td>
            </tr>
        </tbody>

        {# ======================== FILES ======================== #}
        <tbody class="stat-list--group">
            <tr>
                <td colspan="2" class="text-muted">{{ msg('files') }}</td>
            </tr>
            <tr>
                <td>{{ msg('files-uploaded') }}</td>
                <td>
                    <a href="{{ wiki.pageUrlRaw('Special:ListFiles', project) }}/{{ user.username }}">{{ ec.countFilesUploaded|number_format }}</a>
                </td>
            </tr>
            {% if isWMFLabs() %}
                <tr>
                    <td>{{ msg('files-uploaded-commons') }}</td>
                    <td>
                        <a href="https://commons.wikimedia.org/wiki/Special:ListFiles/{{ user.username }}" >{{ ec.countFilesUploadedCommons }}</a>
                    </td>
                </tr>
            {% endif %}
        </tbody>

        {# ======================== EDITS ======================== #}
        <tbody class="stat-list--group">
            <tr>
                <td colspan="2" class="text-muted">{{ msg('edits') }}</td>
            </tr>
            <tr>
                <td>{{ msg('auto-edits') }}</td>
                <td><a href="#autoeditslist">{{ ec.countAutomatedRevisions }}</a></td>
            </tr>
            <tr>
                <td>{{ msg('edits-with-comments') }}</td>
                <td>{{ ec.countRevisionsWithComments|number_format }}</td>
            </tr>
            <tr>
                <td>{{ msg('minor-edits') }}</td>
                <td>{{ ec.countMinorRevisions|number_format }}</td>
            </tr>
            <tr>
                <td>{{ msg('small-edits') }}</td>
                <td>{{ ec.countSmallRevisions|number_format }}</td>
            </tr>
            <tr>
                <td>{{ msg('large-edits') }}</td>
                <td>{{ ec.countLargeRevisions|number_format }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-lg-4 stat-list clearfix">
    <table class="table">
        {# ======================== ACTIONS ======================== #}
        <tbody class="stat-list--group">
            <tr>
                <td colspan="2" class="text-muted">{{ msg('actions') }}</td>
            </tr>
            <tr>
                <td>{{ msg('thank') }}</td>
                <td>
                    {{ wiki.userLogLink(user, project, ec.thanks|number_format, 'thanks') }}
                </td>
            </tr>
            <tr>
                <td>{{ msg('approve') }}</td>
                <td>
                    {{ wiki.userLogLink(user, project, ec.approvals|number_format, 'review') }}
                </td>
            </tr>
            <tr>
                <td>{{ msg('patrol') }}</td>
                <td>
                    {{ wiki.userLogLink(user, project, ec.patrols|number_format, 'patrol') }}
                </td>
            </tr>
        </tbody>

        <tbody class="stat-list--group">
            <tr>
                <td colspan="2" class="text-muted">{{ msg('actions-as-admin') }}</td>
            </tr>
            {% if not user.isAdmin(project) %}
                <tr>
                    <td colspan="2" class="stat-list--empty-group">{{ msg('user-is-not-admin') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>{{ msg("users-blocked") }}</td>
                    <td>
                        {{ ec.countUsersBlocked|number_format }}
                        ({{ wiki.userLogLink(user, project, ec.countBlocksSet|number_format, 'block', 'block') }} {{ msg('num-blocks', [ec.countBlocksSet]) }})
                    </td>
                </tr>
                <tr>
                    <td>{{ msg("users-unblocked") }}</td>
                    <td>
                        {{ ec.countUsersUnblocked|number_format }}
                        ({{ wiki.userLogLink(user, project, ec.countBlocksLifted|number_format, 'block', 'unblock') }} {{ msg('num-blocks', [ec.countBlocksLifted]) }})
                    </td>
                </tr>
                <tr><td>{{ msg("protect") }}</td><td>{{ wiki.userLogLink(user, project, ec.countPagesProtected|number_format, 'protect', 'protect') }}</td></tr>
                <tr><td>{{ msg("unprotect") }}</td><td>{{ wiki.userLogLink(user, project, ec.countPagesUnprotected|number_format, 'protect', 'unprotect') }}</td></tr>
                <tr><td>{{ msg("delete") }}</td><td>{{ wiki.userLogLink(user, project, ec.countPagesDeleted|number_format, 'delete', 'delete') }}</td></tr>
                <tr><td>{{ msg("deleted-edits") }})</td><td>{{ ec.countEditsDeleted|number_format }}</td></tr>
                <tr><td>{{ msg("restore") }}</td><td>{{ wiki.userLogLink(user, project, ec.countPagesRestored|number_format, 'delete', 'restore') }}</td></tr>
                <tr><td>{{ msg("import") }}</td><td>{{ wiki.userLogLink(user, project, ec.countPagesImported|number_format, 'import') }}</td></tr>
            {% endif %}
        </tbody>

        {# ======================== BLOCKS ======================== #}
        <tbody class="stat-list--group">
            <tr>
                <td colspan="2" class="text-muted">
                    {{ msg('blocks') }}
                </td>
            </tr>
            <tr>
                <td>{{ msg('re-blocked') }}</td>
                <td>
                    {# @TODO fix link. https://en.wikisource.org/w/index.php?title=Special%3ALog&type=block&user=&page=User%3ASamwilson&year=&month=-1&tagfilter=&subtype=#}
                    {{ wiki.userLogLink(user, project, ec.countBlocksReceived, 'block') }}
                </td>
            </tr>
            <tr>
                <td>{{ msg('block-longest') }}</td>
                <td>@TODO</td>
            </tr>
            <tr>
                <td>{{ msg('block-current') }}</td>
                <td>@TODO</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-lg-4 stat-list clearfix">
    <table class="table top-project-edit-counts">
        <tbody class="stat-list--group">
            <tr>
                <td colspan="2" class="text-muted">
                    {{ msg('top-projects-edit-counts') }}
                    {% spaceless %}
                    {% if is_sub_request %}
                        (<a href="#latest-global-edits">{{ msg('top-projects-read-more-link') }}</a>)
                    {% endif %}
                {% endspaceless %}</td>
            </tr>
            {% for topProj in ec.globalEditCountsTopN(10) %}
                <tr>
                    <td>
                        {% if topProj.project.databaseName == project.databaseName %}
                            <span title="{{ msg('selected') }}">&#9658;</span>
                        {% endif %}
                        <a href="{{ topProj.project.url }}{{ topProj.project.articlePath }}/Special:Contributions/{{ user.username }}">
                        {# use project.domain instead of title due to limited space available in the interface #}
                        {{ topProj.project.domain }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('TopEditsResults', {project:topProj.project.domain, username:user.username}) }}">
                            {{ topProj.total|number_format }}
                        </a>

                        <small class="text-muted">@TODO days</small>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>{{ msg('global-other-sites-edit-count') }}</td>
                <td>@TODO</td>
            </tr>
            <tr>
                <td>{{ msg('global-total-edit-count') }}</td>
                <td>{{ ec.globalEditCount|number_format }} <small>@TODO days</small></td>
            </tr>
        </tfoot>
    </table>
</div>
{#<div class="row">#}
    {#<div class="col-md-2">#}
        {#<div class="chart-wrapper" data-chart-type="pie"#}
             {#data-chart-labels='{{ [ msg('chart-label-small-edits'), msg('chart-label-large-edits') ] | json_encode() | raw }}'#}
             {#data-chart-data='{{ [rev_small, rev_large] | json_encode() | raw }}'#}
        {#>#}
            {#<canvas class="chart" width="100" height="100"></canvas>#}
        {#</div>#}
    {#</div>#}
    {#<div class="col-md-2">#}
        {#<div class="chart-wrapper" data-chart-type="pie"#}
             {#data-chart-labels='{{ [ msg('chart-label-edits-with-comments'), msg('chart-label-edits-without-comments') ] | json_encode() | raw }}'#}
             {#data-chart-data='{{ [with_comments, without_comments] | json_encode() | raw }}'#}
        {#>#}
            {#<canvas class="chart" width="100" height="100"></canvas>#}
        {#</div>#}
    {#</div>#}
{#</div>#}

{% if not is_sub_request %}
    </div></section></div></div>
{% endif %}

{% endblock %}
