{% extends is_sub_request ? 'subrequest.html.twig' : 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-6">
        <table class="table-condensed xt-table">
            <tr><td>{{ msg("user-id") }}:</td><td>{{ user.id(project) }}</td></tr>
            <tr class="groups">
                <td><a href="{{ project.url }}/{{ project.scriptPath }}?title=Special:UserRights&user={{ user.username }}">{{ msg("user-groups") }}</a>:</td>
                <td>
                    {% for group in user.groups(project) %}
                        {{ group }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    {% if user.globalGroups(project) %}
                        <br />&bull; {{ msg("global-user-groups") }}:
                        {% for group in user.globalGroups(project) %}
                            {{ group }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{{ msg('is-admin') }}</td>
                <td>{% if user.isAdmin(project) %}<span class="alert-info">&check;{% else %}<span class="alert-warning">&cross;</span>{% endif %}</td>
            </tr>
            <tr><td>{{ msg("first-edit") }}:</td><td>{{ ec.datetimeFirstRevision|date('Y-m-d H:i') }}</td></tr>
            <tr><td>{{ msg("latest-edit") }}:</td><td>{{ ec.datetimeLastRevision|date('Y-m-d H:i') }}</td></tr>
            <tr>
                <td style="border-left:1px solid blue" class="highlighted">{{ msg("live-edits") }}:</td>
                <td class="tdnum">{{ ec.countLiveRevisions|number_format }}</td>
            </tr>
            <tr>
                <td style="border-left:1px solid blue" class="highlighted" >{{ msg("deleted-edits") }}:</td>
                <td class="tdnum">{{ ec.countDeletedRevisions|number_format }}</td>
            </tr>
            <tr>
                <td style="border-left:1px solid blue" class="highlighted" ><strong>{{ msg("total-edits") }}:</strong></td>
                <td class="tdnum"><strong>{{ ec.countAllRevisions|number_format }}</strong></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table-condensed xt-table">
            <tr><td>{{ msg("lastday") }}:</td><td class="tdnum" >{{ ec.countRevisionsInLast('day')|number_format }}</td><td></td></tr>
            <tr><td>{{ msg("lastweek") }}:</td><td class="tdnum" >{{ ec.countRevisionsInLast('week')|number_format }}</td><td></td></tr>
            <tr><td>{{ msg("lastmonth") }}:</td><td class="tdnum" >{{ ec.countRevisionsInLast('month')|number_format }}</td><td></td></tr>
            <tr><td>{{ msg("lastyear") }}:</td><td class="tdnum" >{{ ec.countRevisionsInLast('year')|number_format }}</td><td></td></tr>
            <tr class="averge-daily-edit-count">
                <td>{{ msg("average-edits-per-day", [msg("days", [1])]) }}:</td>
                <td class="tdnum">
                    {{ ec.averageRevisionsPerDay|number_format }}
                </td>
                <td class="tdgeneral text-muted">
                    ({{ ec.days|number_format }} {{ msg('num-days', [ec.days]) }})
                </td>
            </tr>
            <tr><td>{{ msg('average-edit-size') }}</td><td class="tdnum">{{ ec.averageRevisionSize }}</td><td>KB</td></tr>
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="col">
        <table class="table-condensed xt-table">
            <caption>{{ msg('pages') }}</caption>
            <tr><td>{{ msg("pages-edited-total") }}</td><td class="tdnum">{{ ec.countAllPagesEdited|number_format }}</td><td></td></tr>
            <tr>
                <td>{{ msg("average-per-page") }}</td>
                <td class="tdnum">{{ ec.averageRevisionsPerPage }}</td>
                <td></td>
            </tr>
            <tr>
                <td>{{ msg('pages-created') }}</td>
                <td class="tdnum">
                    <a href="{{ path('PagesResult', {project:project.domain, username:user.username, namespace:'all', redirects:'none'}) }}">
                        {{ ec.countPagesCreated|number_format }}
                    </a>
                </td>
                <td class="text-muted">{{ msg('pages-created-since-deleted', [ec.countPagesCreatedDeleted|number_format]) }}</td>
            </tr>
            <tr><td>{{ msg("pages-moved") }}:</td><td class="tdnum">{{ ec.countPagesMoved|number_format }}</td><td></td></tr>
            <tr><td>{{ msg("pages-deleted") }}</td><td class="tdnum">{{ ec.countPagesDeleted|number_format }}</td><td></td></tr>
        </table>

        <table class="table-condensed xt-table">
            <caption>{{ msg('files') }}</caption>
            <tr>
                <td>{{ msg('files-uploaded') }}</td>
                <td class="tdnum" >
                    <a href="//{{ project.url }}/wiki/Special:ListFiles/{{ user.username }}">{{ ec.countFilesUploaded|number_format }}</a>
                </td>
                <td></td>
            </tr>
            {% if is_labs %}
                <tr>
                    <td>{{ msg('files-uploaded-commons') }}</td>
                    <td class="tdnum" >
                        <a href="https://commons.wikimedia.org/wiki/Special:ListFiles/{{ user.username }}" >{{ ec.countFilesUploadedCommons }}</a>
                    </td>
                    <td></td>
                </tr>
            {% endif %}
        </table>

        <table class="table-condensed xt-table">
            <caption>{{ msg('edits') }}</caption>
            <tr><td>{{ msg('autoedits') }}</td><td class="tdnum"><a href="#autoeditslist">{{ ec.countAutomatedRevisions }}</a></td><td></td></tr>
            <tr><td>{{ msg('reverted-edits') }}</td><td class="tdnum" >@TODO</td><td></td></tr>
            <tr><td>{{ msg('edits-with-comment') }}</td><td class="tdnum">{{ ec.countRevisionsWithComments|number_format }}</td><td></td></tr>
            <tr><td>{{ msg('minor-edits') }}</td><td class="tdnum">{{ ec.countMinorRevisions|number_format }}</td><td></td></tr>
            <tr><td>{{ msg('small-edits') }}</td><td class="tdnum">{{ ec.countSmallRevisions|number_format }}</td><td></td></tr>
            <tr><td>{{ msg('large-edits') }}</td><td class="tdnum">{{ ec.countLargeRevisions|number_format }}</td><td></td></tr>
        </table>

    </div>
    <div class="col">
        <table class="table-condensed xt-table">
            <caption>{{ msg('actions') }}</caption>
            <tr>
                <td>{{ msg("thank") }}:</td>
                <td class="tdnum">
                    <a href="{{ project.url }}/index.php?title=Special%3ALog&type=thanks&user={{ user.username }}&page=&year=&month=-1&tagfilter=" >
                        {{ ec.thanks|number_format }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>{{ msg("approve") }}:</td>
                <td class="tdnum">
                    <a href="{{ project.url }}/index.php?title=Special%3ALog&type=review&user={{ user.username }}&page=&year=&month=-1&tagfilter=&hide_patrol_log=1&hide_review_log=1&hide_thanks_log=1" >
                        {{ ec.approvals|number_format }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>{{ msg("patrol") }}:</td>
                <td class="tdnum">
                    <a href="{{ project.url }}/index.php?title=Special%3ALog&type=patrol&user={{ user.username }}&page=&year=&month=-1&tagfilter=" >
                        {{ ec.patrols|number_format }}
                    </a>
                </td>
            </tr>
            <tr class="tr-mid-header"><th colspan="2">{{ msg("actions-as-admin") }}</th></tr>
            {% if not user.isAdmin(project) %}
                <tr>
                    <td colspan="2" class="alert-warning">{{ msg('user-is-not-admin') }}</td>
                </tr>
            {% else %}
            {#<tr><td>{{ msg("block") }}:</td><td><span class="tdgeneral">{{ usersBlocked }} <small>x</small></span></td></tr>#}
            {#<tr><td>{{ msg("unblock") }}:</td><td><span class="tdgeneral">{{ usersUnblocked }} <small>x</small></span></td></tr>#}
            {#<tr><td>{{ msg("protect") }}:</td><td><span class="tdgeneral">{{ pagesProtected }} <small>x</small></span></td></tr>#}
            {#<tr><td>{{ msg("unprotect") }}:</td><td><span class="tdgeneral">{{ pagesUnprotected }} <small>x</small></span></td></tr>#}
            {#<tr><td>{{ msg("delete") }}:</td><td><span class="tdgeneral">{{ pagesDeleted }} <small>x</small></span></td></tr>#}
            {#<tr><td>{{ msg("delete") }} ({{ msg("revisions", [1]) }}):</td><td><span class="tdgeneral">{{ pagesDeletedRevision }} <small>x</small></span></td></tr>#}
            {#<tr><td>{{ msg("restore") }}:</td><td><span class="tdgeneral">{{ pagesRestored }} <small>x</small></span></td></tr>#}
            {#<tr><td>{{ msg("import") }}:</td><td><span class="tdgeneral">{{ pagesImported }} <small>x</small></span></td></tr>#}
            {% endif %}
        </table>

        <table class="table-condensed xt-table">
            <caption>{{ msg("blocks") }}</caption>
            <tr>
                <td>{{ msg('re-blocked') }}</td>
                <td>{{ wiki_log_link('User:'~user.username, project.url, '@TODO') }}</td>
            </tr>
            <tr><td>{{ msg('block-longest') }}</td><td>@TODO</td></tr>
            <tr><td>{{ msg('block-current') }}</td><td>@TODO</td></tr>
            <tr>
                <td colspan="2">
                    <a href="{{ project.url }}/Special:BlockLog/{{ user.username }}">{{ msg('block-log') }}</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="col">
        <table class="table-condensed xt-table top-project-edit-counts">
            <thead>
            <tr>
                <th colspan="2" title="{{ msg('top-projects-explanation') }}">{{ msg('top-projects-table-header') }}</th>
                <th class="text-muted text-right"><a href="#latestglobal">{{ msg('top-projects-read-more-link') }}</a></th>
            </tr>
            </thead>
            {#{% for top_project in top_projects_edit_counts %}#}
                {#<tr>#}
                    {#<td {% if top_project.dbName == project %}class="current"{% endif %}>#}
                        {#{% if top_project.dbName == project %}<span title="{{ msg('selected') }}">►</span>{% endif %}#}
                        {#{{ top_project.wikiName }}#}
                    {#</td>#}
                    {#<td class="tdgeneral">#}
                        {#<a href="{{ path('TopEditsResults', {project:top_project.dbName, username:username}) }}">#}
                            {#{{ top_project.total|number_format }}#}
                        {#</a>#}
                    {#</td>#}
                    {#<td class="tdnum"><small class="text-muted">@TODO days</small></td>#}
                {#</tr>#}
            {#{% endfor %}#}
            <tfoot>
            <tr>
                <td>@TODO {{ msg('sul-total-other-sites-count') }}</td>
                <td><span class="tdgeneral" >@TODO</span></td>
                <td class="tdnum"><small> @TODO days</small></td>
            </tr>
            <tr>
                <th>{{ msg('sul-total-edits') }}</th>
                <td><span class="tdgeneral">@TODO sul-total</span></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
{#<div class="row">#}
    {#<div class="col-md-2">#}
        {#<div class="chart-wrapper" data-chart-type="pie"#}
             {#data-chart-labels='{{ [ msg('chart-label-small-edits'), msg('chart-label-large-edits') ] | json_encode() | raw }}'#}
             {#data-chart-data='{{ [rev_small, rev_large] | json_encode() | raw }}'#}
        {#>#}
            {#<canvas class="chart" width="100" height="100"></canvas>#}
        {#</div>#}
    {#</div>#}
    {#<div class="col-md-2">#}
        {#<div class="chart-wrapper" data-chart-type="pie"#}
             {#data-chart-labels='{{ [ msg('chart-label-edits-with-comments'), msg('chart-label-edits-without-comments') ] | json_encode() | raw }}'#}
             {#data-chart-data='{{ [with_comments, without_comments] | json_encode() | raw }}'#}
        {#>#}
            {#<canvas class="chart" width="100" height="100"></canvas>#}
        {#</div>#}
    {#</div>#}
{#</div>#}

{% endblock %}
