{% extends 'base.html.twig' %}
{% import 'macros/forms.html.twig' as forms %}

{% block body %}
    <form class="col-lg-8 col-lg-offset-2" action="{{ path("ec") }}" method="get" accept-charset="utf-8" >
        <fieldset class="form-fieldset">
            {{ forms.wiki_input(project) }}
            {{ forms.user_input(true, false, project) }}

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="format" value="wikitext">
                    {{ msg('view-wikitext') }}
                </label>
            </div>
        </fieldset>
        {{ forms.submit_btn }}
    </form>
{% endblock %}
