{% extends is_sub_request ? 'subrequest.html.twig' : 'base.html.twig' %}

{% block body %}

<table class="table-striped table-condensed sortable xt-table">
    <thead>
        <tr>
            <th>{{ msg('ec-latestglobal-time') }}</th>
            <th>{{ msg('ec-latestglobal-project') }}</th>
            <th>{{ msg('ec-latestglobal-actions') }}</th>
            <th>{{ msg('ec-latestglobal-page') }}</th>
            <th>{{ msg('size') }}</th>
            <th>{{ msg('ec-latestglobal-comment') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for edit in ec.globalEdits(40) %}
        <tr>
            <td class="tddate">{{ edit.timestamp.format('Y-m-d H:i') }}</td>
            <td class="tdgeneral"><a href="{{ edit.project.url }}">{{ edit.project.title }}</a></td>
            <td class="text-nowrap">(
                {{ diff_link(edit.id, edit.project.url, 'diff') }}
                &middot; {{ user_log_link(user.username, edit.project.url, 'log') }}
                &middot;
                <a href="{{ path('TopEditsResults', {project:edit.project.databaseName, username:user.username, namespace:edit.page.namespace, article:edit.page.title}) }}">
                    topedits
                </a>
                )
            </td>
            <td class="tdgeneral">
                {% if edit.page.namespace != 0 %}
                    {% set qualified_name = attribute(edit.project.namespaces, edit.page.namespace)~':'~edit.page.title %}
                {% else %}
                    {% set qualified_name = edit.page.title %}
                {% endif %}
                {{ wiki_link(qualified_name, edit.project.url, edit.page.displayTitle) }}
            </td>
            <td class="tdnum">{{ edit.lengthChange|diff_format }}</td>
            <td class="tdrevtext">{{ edit.comment }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
