{% extends is_sub_request ? 'subrequest.html.twig' : 'base.html.twig' %}

{% block body %}

<table class="table-striped table-condensed sortable xt-table">
    <thead>
        <tr>
            <th>{{ msg('ec-latestglobal-time') }}</th>
            <th>{{ msg('ec-latestglobal-project') }}</th>
            <th>{{ msg('ec-latestglobal-actions') }}</th>
            <th>{{ msg('ec-latestglobal-page') }}</th>
            <th>{{ msg('ec-latestglobal-comment') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for rev in ec.latestGlobalRevisions %}
        <tr>
            <td class="tddate">{{ rev.timestamp|date('Y-m-d H:i') }}</td>
            <td><a href="{{ rev.project.url }}">{{ rev.project.title }}</a></td>
            <td>(
                {{ diff_link(rev.rev_id, rev.project.url, 'diff') }}
                &middot; {{ user_log_link(user.username, rev.project.url, 'log') }}
                &middot;
                <a href="{{ path('TopEditsResults', {project:rev.project.databaseName, username:user.username, namespace:rev.page_namespace, article:rev.page_title}) }}">
                    topedits
                </a>
                )
            </td>
            <td class="tdtitle break">{{ wiki_link(rev.page_title, rev.project.url) }}</td>
            <td class="revtext break">{{ rev.rev_comment }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
