{% extends is_sub_request ? 'subrequest.html.twig' : 'base.html.twig' %}
{% import 'macros/wiki.html.twig' as wiki %}

{% block body %}

{% if not is_sub_request %}
    <div class="panel panel-primary">
        <header class="panel-heading">
            <div class="text-center xt-heading-top">
                <a class="back-to-search" href="{{ path('ec') }}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    {{ msg('back') }}
                </a>
                {{ wiki.userLink(user, project) }}
                <small> &bull; {{ project.title }} </small>
            </div>
        </header>
        <div class="panel-body xt-panel-body">
            <section class="panel panel-default clearfix">
                <header class="panel-heading col-lg-12">
                    <h4>{{ msg('latest-global-edits') }}</h4>
                </header>
                <div class="panel-body col-lg-12">
{% endif %}

<table class="table table-bordered table-hover table-striped latest-global-table">
    <thead><tr>
        {% for key in ['date', 'project', 'links', 'page-title', 'size', 'edit-summary'] %}
            <th>
                <span{% if key != "links" %} class="sort-link sort-link--{{ key }}" data-column="{{ key }}"{% endif %}>
                    {% if key == 'average-time-bw-edits' %}
                        atbe<sup>1</sup>
                    {% else %}
                        {{ msg(key)|capitalize_first }}
                    {% endif %}
                    {% if key == 'added_bytes' %}
                        <sup class="rm-inline-margin-left">2</sup>
                    {% endif %}
                    {% if key != "links" %}<span class="glyphicon glyphicon-sort"></span>{% endif %}
                </span>
            </th>
        {% endfor %}
    </tr></thead>
    <tbody>
    {% for edit in ec.globalEdits(40) %}
        <tr>
            <td class="sort-entry--date" data-value="{{ edit.timestamp.format('U') }}">
                {{ wiki.permaLink(edit) }}
            </td>
            <td class="sort-entry--project" data-value="{{ edit.project.domain }}">
                {# Use project.domain here instead of title to preserve limited space in the interface #}
                <a href="{{ edit.project.url }}">{{ edit.project.domain }}</a>
            </td>
            <td>
                {{ wiki.diffLink(edit) }}
                &middot;
                {{ wiki.userLogLink(user, edit.project) }}
                &middot;
                <a href="{{ path('TopEditsResults', {project:edit.project.databaseName, username:user.username, namespace:edit.page.namespace, article:edit.page.titleWithoutNamespace}) }}">{{ msg('tool-topedits') }}</a>
            </td>
            <td class="sort-entry--page-title display-title" data-value="{{ edit.page.title }}">
                {{ wiki.pageLink(edit.page, edit.page.displayTitle) }}
            </td>
            <td class="sort-entry--size" data-value="{{ edit.lengthChange }}">
                {{ edit.lengthChange|diff_format }}
            </td>
            <td class="sort-entry--summary" data-value="{{ edit.comment }}">
                {{ edit.wikifiedComment|raw }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if not is_sub_request %}
    </div></section>
    <div class="text-muted times-in-utc" style="clear:both">
        {{ msg('times-in-utc') }}
    </div>
    </div></div>
{% endif %}

{% endblock %}
