{% extends is_sub_request ? 'subrequest.html.twig' : 'base.html.twig' %}
{% import 'macros/wiki.html.twig' as wiki %}

{% block body %}

{% if not is_sub_request %}
    <div class="panel panel-primary">
        <header class="panel-heading">
            <div class="text-center xt-heading-top">
                <a class="back-to-search" href="{{ path('ec') }}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    {{ msg('back') }}
                </a>
                {{ wiki.userLink(user, project) }}
                <small> &bull; {{ project.title }} </small>
            </div>
        </header>
        <div class="panel-body xt-panel-body">
            <section class="panel panel-default clearfix">
                <header class="panel-heading col-lg-12">
                    <h4>
                        {{ msg('month-counts') }}
                        <span class='pull-right text-muted xt-panel-description'>
                            {{ layout.downloadLink('EditCounterMonthCounts', {project:project.domain, username:user.username}, ['wikitext', 'csv']) }}
                        </span>
                    </h4>
                </header>
                <div class="panel-body col-lg-12">
{% endif %}

{% if not project.userHasOptedIn(user) %}
    <div class="alert alert-info">
        <p>{{ msg('not-opted-in', [ wiki.pageLink(opted_in_page) ] ) }}</p>
    </div>
{% else %}

{% if ec.monthTotals|length > 0 %}
    <table class="sr-only">
        <thead>
            <tr>
                <th>{{ msg('month') }}</th>
                <th>{{ msg('count') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for month,total in ec.monthTotals %}
                <tr>
                    <td>{{ month }}</td>
                    <td>{{ total|num_format }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {# Set height of chart based on how many months (horizontal rows) are being reported. #}
    <div style="position:relative; height:{{ (25 * ec.monthCounts.monthLabels|length) + 30 }}px">
        <canvas id="monthcounts-canvas"></canvas>
    </div>

    <script type="text/javascript">
        $(function() {
            /** @type {Array} To be passed into Chart.js */
            var datasets = [];

            /** @type {Array} The labels for the y-axis. */
            var labels = {{ ec.monthCounts.monthLabels|json_encode|raw }};

            /** @type {Number} Max value of the year totals */
            var maxTotal = 0;

            // Format data for use in charts.
            {% for nsId,namespaceData in ec.monthCounts.totals %}
                var dataset = {
                    label: "{{ nsName(nsId, project.namespaces) }}",
                    backgroundColor: "{{ color(nsId) }}",
                    data: [],
                };

                {% for year,yearData in namespaceData %}
                    {% for month,monthData in yearData %}
                        dataset.data.push({{ monthData }});

                        // Determine maximum value for the totals. This is needed
                        //   so that we know how much spacing to add in the labels.
                        if ({{ monthData }} > maxTotal) {
                            maxTotal = {{ monthData }};
                        }
                    {% endfor %}
                {%- endfor -%}

                datasets.push(dataset);
            {% endfor %}

            window.setupMonthYearChart('month', datasets, labels, maxTotal);
        });
    </script>
{% else %}
    <div class="alert alert-info">
        {{ msg('no-contribs') }}
    </div>
{% endif %}

{% endif %}

{% if not is_sub_request %}
    </div></section></div></div>
{% endif %}

{% endblock %}
