{% extends is_sub_request ? 'subrequest.html.twig' : 'base.html.twig' %}
{% import 'macros/wiki.html.twig' as wiki %}

{% block body %}

{% if not is_sub_request %}
    <div class="panel panel-primary">
        <header class="panel-heading">
            <div class="text-center xt-heading-top">
                <a class="back-to-search" href="{{ path('ec') }}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    {{ msg('back') }}
                </a>
                {{ wiki.userLink(user, project) }}
                <small> &bull; {{ project.title }} </small>
            </div>
        </header>
        <div class="panel-body xt-panel-body">
            <section class="panel panel-default clearfix">
                <header class="panel-heading col-lg-12">
                    <h4>{{ msg('month-counts') }}</h4>
                </header>
                <div class="panel-body col-lg-12">
{% endif %}

{% if not project.userHasOptedIn(user) %}
    <div class="alert alert-info">
        <p>{{ msg('not-opted-in', [ wiki.pageLink(opted_in_page) ] ) }}</p>
    </div>
{% else %}

<script type="text/javascript">
    $(function() {
        var datasets = [];
        {% for nsId,namespaceData in ec.monthCounts.totals %}
            var dataset = {
                label: "{{ nsName(nsId, project.namespaces) }}",
                backgroundColor: "{{ color(nsId) }}",
                data: [],
            };

            {% for year,yearData in namespaceData %}
                {% for month,monthData in yearData %}
                    dataset.data.push({{ monthData }});
                {% endfor %}
            {%- endfor -%}

            datasets.push(dataset);
        {% endfor %}

        window.chart = new Chart($("#monthcounts-bar-chart"), {
            type: 'horizontalBar',
            data: {
                labels: {{ ec.monthCounts.monthLabels|json_encode|raw }},
                datasets: datasets
            },
            options: {
                tooltips: {
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        stacked: true,
                        ticks: {
                            beginAtZero: true,
                            callback: function(value, index, values) {
                                if (Math.floor(value) === value) {
                                    return value;
                                }
                            }
                        }
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });
    });
</script>
{# 8 * number of months seems to be the magic equation for the height (minimum 28) #}
<canvas id="monthcounts-bar-chart" height="{{ max(8 * ec.monthCounts.monthLabels|length, 28) }}"></canvas>

{% endif %}

{% if not is_sub_request %}
    </div></section></div></div>
{% endif %}

{% endblock %}
