{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}
{% import 'macros/wiki.html.twig' as wiki %}

{% block body %}

<div class="panel panel-primary">
    {{ layout.userHeading(user, project, xtPage) }}

    <div class="panel-body xt-panel-body">
        {{ wiki.userLinks(user, project, xtPage) }}

        <div class="text-center xt-toc">
            {% set sections = ['general-stats', 'namespace-totals', 'year-counts', 'month-counts', 'timecard', 'top-edited-pages', 'latest-global-edits'] %}

            {% for section in sections %}
                <span>
                    <a href="#{{ section }}" data-section="{{ section }}">{{ msg(section) }}</a>
                </span>
            {% endfor %}
        </div>

        {% set content %}
            {{ render(path('EditCounterGeneralStats', {
                'username': user.username,
                'project': project.domain
            })) }}
        {% endset %}
        {% set headerLink %}
            <a href="{{ path('EditCounterGeneralStats', {project:project.domain, username:user.username})}}">{{ msg("general-stats") }}</a>
        {% endset %}
        {{ layout.content_block(headerLink, content, '', 'general-stats', true) }}

        {% set content %}
            {{ render(path('EditCounterNamespaceTotals', {
                'username': user.username,
                'project': project.domain
            })) }}
        {% endset %}
        {% set headerLink %}
            <a href="{{ path('EditCounterNamespaceTotals', {project:project.domain, username:user.username})}}">{{ msg('namespace-totals') }}</a>
        {% endset %}
        {{ layout.content_block(headerLink, content, '', 'namespace-totals', true) }}

        {% set content %}
            {{ render(path('EditCounterYearCounts', {
                'username': user.username,
                'project': project.domain
            })) }}
        {% endset %}
        {% set headerLink %}
            <a href="{{ path('EditCounterYearCounts', {project:project.domain, username:user.username})}}">{{ msg('year-counts') }}</a>
        {% endset %}
        {{ layout.content_block(headerLink, content, '', 'year-counts', true) }}

        {% set content %}
            {{ render(path('EditCounterMonthCounts', {
                'username': user.username,
                'project': project.domain
            })) }}
        {% endset %}
        {% set headerLink %}
            <a href="{{ path('EditCounterMonthCounts', {project:project.domain, username:user.username})}}">
                {{ msg('month-counts') }}
            </a>
        {% endset %}
        {{ layout.content_block(headerLink, content, '', 'month-counts', true) }}

        {% set content %}
            {{ render(path('EditCounterTimecard', {
                'username': user.username,
                'project': project.domain
            })) }}
        {% endset %}
        {% set headerLink %}
            <a href="{{ path('EditCounterTimecard', {project:project.domain, username:user.username})}}">{{ msg('timecard') }}</a>
        {% endset %}
        {{ layout.content_block(headerLink, content, '', 'timecard', true) }}

        {% set content %}
            {{ render(path('TopEditsResults', {
                'username': user.username,
                'project': project.domain,
                'namespace': 'all'
            })) }}
        {% endset %}
        {% set headerLink %}
            <a href="{{ path('TopEditsResults', {project:project.domain, username:user.username, namespace:'all'})}}">{{ msg('top-edited-pages') }}</a>
        {% endset %}
        {{ layout.content_block(headerLink, content, '', 'top-edited-pages', true) }}

        {% set content %}
            <div id="latestglobal-container" data-username="{{ user.username }}" data-project="{{ project.domain }}">
                <img src="{{ asset('static/images/loader.gif') }}" />
            </div>
        {% endset %}
        {% set headerLink %}
            <a href="{{ path('EditCounterLatestGlobal', {project:project.domain, username:user.username})}}">{{ msg('latest-global-edits') }}</a>
        {% endset %}
        {{ layout.content_block(headerLink, content, '', 'latest-global-edits', true) }}

        <div class="text-muted times-in-utc">
            {{ msg('times-in-utc') }}
        </div>
    </div>
</div>

{% endblock %}
