{% extends 'base.html.twig' %}

{% block body %}

<div class="panel panel-primary">
    <header class="panel-heading">
        <div class="text-center xt-heading-top">
            <a class="back-to-search" href="{{ path('ec') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Back
            </a>
            {{ user_link(user.username, project.url) }}
            <small> &bull; {{ project.title }} </small>
        </div>
    </header>

    <div class="panel-body xt-panel-body-top">
        <p class="text-center xt-heading-subtitle">&middot;
            {{ user_log_link(user.username, project.domain) }} &middot;
            {% if is_labs %}
                <a href="https://tools.wmflabs.org/guc/?user={{ user.username }}" >{{ msg('global_contribs') }}</a> &middot;
                <a href="https://meta.wikimedia.org/w/index.php?title=Special%3ACentralAuth&target={{ user.username }}" >{{ msg('global-account-manager') }}</a> &middot;
                <a href="https://tools.wmflabs.org/quentinv57-tools/tools/sulinfo.php?username={{ user.username }}" >{{ msg('sul-info') }}</a> &middot;
                <a href="https://tools.wmflabs.org/wikiviewstats/?lang=en&wiki=wikipedia&page=User:{{ user.username }}*" >{{ msg('pageviews-in-userspace') }}</a> &middot;
            {% endif %}
        </p>

        <div class="panel panel-default" id="generalstats">
            <div class="panel-heading">
                <h4 class="topcaption">{{ msg("general-stats") }}</h4>
            </div>
            <div class="panel-body" id="generalstats">
                {{ render(path('EditCounterGeneralStats', {
                    'username': user.username,
                    'project': project.domain
                })) }}
            </div>
        </div>

        <div class="panel panel-default" id="namespace-totals">
            <div class="panel-heading"><h4>{{ msg('namespacetotals') }}</h4></div>
            <div class="panel-body">
                {{ include( 'editCounter/namespace_totals.html.twig' ) }}
            </div>
        </div>

        <div class="panel panel-default" id="year-counts">
            <div class="panel-heading"><h4>{{ msg('yearcounts') }}</h4></div>
            <div class="panel-body">
                {{ render(path('EditCounterYearCounts', {
                    'username': user.username,
                    'project': project.domain
                })) }}
            </div>
        </div>

        <div class="panel panel-default" id="timecard">
            <div class="panel-heading"><h4>{{ msg('timecard') }}</h4></div>
            <div class="panel-body">
                {{ render(path('EditCounterTimeCard', {
                    'username': user.username,
                    'project': project.domain
                })) }}
            </div>
        </div>

        <div class="panel panel-default" id="latestglobal">
            <div class="panel-heading">
                <h4>{{ msg('latest-global-edits') }} <small>{{ msg('latest-global-edits-desc') }}</small></h4>
            </div>
            <div class="panel-body">
                {{ render(path('EditCounterLatestGlobal', {
                    'username': user.username,
                    'project': project.domain
                })) }}
            </div>
        </div>

        <div class="panel panel-default" id="monthcounts">
            <div class="panel-heading"><h4>{{ msg('month-counts') }}</h4></div>
            <div class="panel-body">
                {{ render(path('EditCounterMonthCounts', {
                    'username': user.username,
                    'project': project.domain
                })) }}
            </div>
        </div>

        <div class="panel panel-default" id="autoeditslist">
            <div class="panel-heading"><h4>{{ msg('auto-edits') }}</h4></div>
            <div class="panel-body">
                <table class="table">
                    {% for tool,count in ec.automatedRevisionsSummary %}
                        <tr>
                            <th>{{ tool }}</th>
                            <td>{{ count|number_format }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>
</div>

{% endblock %}
