{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}
{% import 'macros/wiki.html.twig' as wiki %}

{% block body %}

<div class="panel panel-primary">
    {{ layout.userHeading(user, project, xtPage) }}

    <div class="panel-body xt-panel-body">
        {{ wiki.userLinks(user, project, xtPage) }}

        <div class="text-center xt-toc">
            {% set sections = ['general-stats', 'namespace-totals', 'year-counts', 'month-counts', 'timecard', 'top-edited-pages'] %}
            {% if ec.rightsChanges|length > 0 %}
                {% set sections = sections|merge(['rights-changes']) %}
            {% endif %}
            {% set sections = sections|merge(['latest-global-edits']) %}

            {% for section in sections %}
                <span>
                    <a href="#{{ section }}" data-section="{{ section }}">{{ msg(section) }}</a>
                </span>
            {% endfor %}
        </div>

        {% set content %}
            {{ render(path('EditCounterGeneralStats', {
                'username': user.username,
                'project': project.domain
            })) }}
        {% endset %}
        {% set headerLink %}
            <a href="{{ path('EditCounterGeneralStats', {project:project.domain, username:user.username})}}">{{ msg('general-stats') }}</a>
        {% endset %}
        {% set downloadLink %}
            {{ layout.downloadLink('EditCounterGeneralStats', {project:project.domain, username:user.username}, ['wikitext']) }}
        {% endset %}
        {{ layout.content_block(headerLink, content, downloadLink, 'general-stats', true) }}

        {% set content %}
            {{ render(path('EditCounterNamespaceTotals', {
                'username': user.username,
                'project': project.domain
            })) }}
        {% endset %}
        {% set headerLink %}
            <a href="{{ path('EditCounterNamespaceTotals', {project:project.domain, username:user.username})}}">{{ msg('namespace-totals') }}</a>
        {% endset %}
        {% set downloadLink %}
            {{ layout.downloadLink('EditCounterNamespaceTotals', {project:project.domain, username:user.username}, ['wikitext', 'csv']) }}
        {% endset %}
        {{ layout.content_block(headerLink, content, downloadLink, 'namespace-totals', true) }}

        {% set content %}
            {{ render(path('EditCounterYearCounts', {
                'username': user.username,
                'project': project.domain
            })) }}
        {% endset %}
        {% set headerLink %}
            <a href="{{ path('EditCounterYearCounts', {project:project.domain, username:user.username})}}">{{ msg('year-counts') }}</a>
        {% endset %}
        {% set downloadLink %}
            {{ layout.downloadLink('EditCounterYearCounts', {project:project.domain, username:user.username}, ['wikitext', 'csv']) }}
        {% endset %}
        {{ layout.content_block(headerLink, content, downloadLink, 'year-counts', true) }}

        {% set content %}
            {{ render(path('EditCounterMonthCounts', {
                'username': user.username,
                'project': project.domain
            })) }}
        {% endset %}
        {% set headerLink %}
            <a href="{{ path('EditCounterMonthCounts', {project:project.domain, username:user.username})}}">
                {{ msg('month-counts') }}
            </a>
        {% endset %}
        {% set downloadLink %}
            {{ layout.downloadLink('EditCounterMonthCounts', {project:project.domain, username:user.username}, ['wikitext', 'csv']) }}
        {% endset %}
        {{ layout.content_block(headerLink, content, downloadLink, 'month-counts', true) }}

        {% set content %}
            {{ render(path('EditCounterTimecard', {
                'username': user.username,
                'project': project.domain
            })) }}
        {% endset %}
        {% set headerLink %}
            <a href="{{ path('EditCounterTimecard', {project:project.domain, username:user.username})}}">{{ msg('timecard') }}</a>
        {% endset %}
        {% set downloadLink %}
            {{ layout.downloadLink('EditCounterTimecard', {project:project.domain, username:user.username}, ['wikitext']) }}
        {% endset %}
        {{ layout.content_block(headerLink, content, downloadLink, 'timecard', true) }}

        {% set content %}
            {{ render(path('TopEditsResults', {
                'username': user.username,
                'project': project.domain,
                'namespace': 'all'
            })) }}
        {% endset %}
        {% set headerLink %}
            <a href="{{ path('TopEditsResults', {project:project.domain, username:user.username, namespace:'all'})}}">{{ msg('top-edited-pages') }}</a>
        {% endset %}
        {% set downloadLink %}
            {{ layout.downloadLink('TopEditsResults', {project:project.domain, username:user.username, namespace:'all'}, ['wikitext']) }}
        {% endset %}
        {{ layout.content_block(headerLink, content, downloadLink, 'top-edited-pages', true) }}

        {% if ec.rightsChanges|length > 0 %}
            {% set content %}
                {% include 'editCounter/rights_changes.html.twig' with {
                    'is_sub_request': true,
                    'project': project,
                    'user': user,
                    'ec': ec
                } %}
            {% endset %}
            {% set headerLink %}
                <a href="{{ path('EditCounterRightsChanges', {project:project.domain, username:user.username})}}">{{ msg('rights-changes') }}</a>
            {% endset %}
            {% set downloadLink %}
                {{ layout.downloadLink('EditCounterRightsChanges', {project:project.domain, username:user.username}, ['wikitext']) }}
            {% endset %}
            {{ layout.content_block(headerLink, content, downloadLink, 'rights-changes', true) }}
        {% endif %}

        {% set content %}
            <div id="latestglobal-container" data-username="{{ user.username }}" data-project="{{ project.domain }}">
                <img src="{{ asset('static/images/loader.gif') }}" />
            </div>
        {% endset %}
        {% set headerLink %}
            <a href="{{ path('EditCounterLatestGlobal', {project:project.domain, username:user.username})}}">{{ msg('latest-global-edits') }}</a>
        {% endset %}
        {{ layout.content_block(headerLink, content, '', 'latest-global-edits', true) }}

        <div class="text-muted times-in-utc">
            {{ msg('times-in-utc') }}
        </div>
    </div>
</div>

{% endblock %}
