{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                Edit Counter!
            </div>

        </div>
    </div>
    {% if project is defined %}{{ project }}{% endif %}
    {% if username is defined %}{{ username }}{% endif %}
    {% if wiki is defined %}{{ wiki }}{% endif %}
    {% if dbName is defined %}{{ dbName }}{% endif %}
    {% if lang is defined %}{{ lang }}{% endif %}
    {% if name is defined %}{{ name }}{% endif %}
    {% if family is defined %}{{ family }}{% endif %}
    {% if url is defined %}{{ url }}{% endif %}
    {% if users is defined %}{{ dump(users) }}{% endif %}
    {% if name is defined %}{{ name }}{% endif %}
{% endblock %}
