{| class="wikitable sortable"
|-
{% for key in ['date', 'rights', 'admin', 'summary'] %}
! {{ msg(key)|capitalize_first }}
{% endfor %}
{% for timestamp, change in rightsChanges %}
|-
| style="white-space: nowrap;" | {% if change.type == 'local' %}[[Special:Redirect/logid/{{ change.logId }}|{{ timestamp|date_format }}]]{% else %}[https://meta.wikimedia.org/wiki/Special:Redirect/logid/{{ change.logId }} {{ timestamp|date_format }}]{% endif %}

| {% for right in change.added %}
<span style="color:#006400">+{{ right|trim }}</span>{% if not loop.last %}, {% endif %}
{% endfor %}{% if change.added|length > 0 and change.removed|length > 0 %}

{% endif %}
{% for right in change.removed %}
<span style="color:#8B0000">-{{ right|trim }}</span>{% if not loop.last %}, {% endif %}
{% endfor %}

| <span class="plainlinks">[{% verbatim %}{{{% endverbatim %}fullurl:User:{{ change.admin }}}} {{ change.admin }}]</span>
| {% if change.automatic %}''{{ msg('automatic') }}''
{% else %}
{{ change.comment }}
{% endif %}
{% endfor %}
|}
