{% extends is_sub_request ? 'subrequest.html.twig' : 'base.html.twig' %}
{% import 'macros/wiki.html.twig' as wiki %}

{% block body %}

{% if not is_sub_request %}
    <div class="panel panel-primary">
        <header class="panel-heading">
            <div class="text-center xt-heading-top">
                <a class="back-to-search" href="{{ path('ec', {project: project.domain, username:user.username}) }}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    {{ msg('see-full-statistics') }}
                </a>
                {{ wiki.userLink(user, project) }}
                <small> &bull; {{ project.title }} </small>
            </div>
        </header>
        <div class="panel-body xt-panel-body">
            {{ wiki.userLinks(user, project) }}
            <section class="panel panel-default clearfix">
                <header class="panel-heading col-lg-12">
                    <h4>
                        {{ msg('rights-changes') }}
                        <span class='pull-right text-muted xt-panel-description'>
                            {{ layout.downloadLink('EditCounterRightsChanges', {project:project.domain, username:user.username}, ['wikitext']) }}
                        </span>
                    </h4>
                </header>
                <div class="panel-body col-lg-12">
{% endif %}

{% if ec.rightsChanges|length > 0 %}
    {% include 'editCounter/rights_changes_table.html.twig' with {'rightsChanges': ec.rightsChanges} %}
{% else %}
    <div class="alert alert-info">
        {{ msg('no-result', [user.username]) }}
    </div>
{% endif %}

{% if ec.globalRightsChanges|length > 0 %}
    <h4 class="xt-show-hide--parent">
        {{ msg('global-rights-changes') }}
        <small class='xt-show'>[{{ msg('show')|lower }}]</small>
        <small class='xt-hide'>[{{ msg('hide')|lower }}]</small>
    </h4>
    <div class="xt-show-hide--target">
        {% include 'editCounter/rights_changes_table.html.twig' with {'rightsChanges': ec.globalRightsChanges} %}
    </div>
{% endif %}

{% if not is_sub_request %}
    </div></section></div></div>
{% endif %}

{% endblock %}
