{% extends is_sub_request ? 'subrequest.html.twig' : 'base.html.twig' %}
{% import 'macros/wiki.html.twig' as wiki %}

{% block body %}

{% if not is_sub_request %}
    <div class="panel panel-primary">
        <header class="panel-heading">
            <div class="text-center xt-heading-top">
                <a class="back-to-search" href="{{ path('ec') }}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    {{ msg('back') }}
                </a>
                {{ wiki.userLink(user, project) }}
                <small> &bull; {{ project.title }} </small>
            </div>
        </header>
        <div class="panel-body xt-panel-body">
            <section class="panel panel-default clearfix">
                <header class="panel-heading col-lg-12">
                    <h4>{{ msg('year-counts') }}</h4>
                </header>
                <div class="panel-body col-lg-12">
{% endif %}

<canvas id="yearcounts-canvas"></canvas>
<script type="text/javascript">
    new Chart($("#yearcounts-canvas"), {
        type: 'horizontalBar',
        data: {
            labels: [{% for y in ec.yearcounts.years %}"{{ y }}"{% if not loop.last %},{% endif %}{% endfor %}],
            datasets: [
                {% for ns_id,yeartotals in ec.yearcounts.totals %}
                {
                    label: "{{ attribute(project.namespaces, ns_id) }}",
                    data: [
                        {% for y in ec.yearcounts.years %}
                        {% if attribute(yeartotals, y) is defined %}{{ attribute(yeartotals, y) }}{% else %}0{% endif %}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    ],
                    backgroundColor: "{{ color(ns_id) }}"
                }{% if not loop.last %},{% endif %}
                {% endfor %}
            ]
        },
        options: {
            tooltips: {
                mode: 'index',
                intersect: false
            },
            hover: {
                mode: 'index'
            },
            responsive: true,
            scales: {
                xAxes: [{
                    stacked: true
                }],
                yAxes: [{
                    stacked: true
                }]
            }
        }
    });
</script>

{% if not is_sub_request %}
    </div></section></div></div>
{% endif %}

{% endblock %}
