{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}
{% import 'macros/wiki.html.twig' as wiki %}

{% block body %}
<div class="panel panel-primary">
    <header class="panel-heading">
        <div class="text-center xt-heading-top">
            <a class="back-to-search" href="{{ path('adminscore') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{ msg('back') }}
            </a>
            {{ wiki.userLink(user, project) }}
            &bull;
            {{ project.domain }}
        </div>
    </header>
    <div class="panel-body xt-panel-body">
        {% set content %}
            <div class="col-lg-6 stat-list clearfix">
                <table class="table"><tbody>
                    {% for key in master|keys %}
                        {# Don't confuse people by showing 0 for blocks #}
                        {% if not(key == 'blocks' and master[key].score == 0) %}
                            <tr>
                                <td>{{ msg(key) }}</td>
                                <td>
                                    <span class="text-success">{{ master[key].score|diff_format }}</span>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tfoot>
                        <th>{{ msg('total') }}</th>
                        <th>{{ total | number_format }}</th>
                    </tfoot>
                </tbody></table>
            </div>
        {% endset %}
        {{ layout.content_block('tool-adminscore', content) }}
    </div>
</div>
{% endblock %}
