{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}
{% import 'macros/wiki.html.twig' as wiki %}

{% block body %}
<div class="panel panel-primary">
    {{ layout.userHeading(user, project, 'AdminScore') }}

    <div class="panel-body xt-panel-body">
        {{ wiki.userLinks(user, project, 'AdminScore') }}

        {% set content %}
            <div class="col-lg-12 stat-list clearfix">
                <table class="table"><tbody>
                    {% for key in as.scores|keys %}
                        {# Don't confuse people by showing 0 for blocks #}
                        {% if not(key == 'blocks' and as.scores[key].score == 0) %}
                            <tr>
                                <td>{{ msg(key) }}</td>
                                <td>
                                    <span class="text-success">{{ as.scores[key].score|diff_format }}</span>
                                </td>
                                <td>
                                    <span class="text-muted small">
                                        {{ msg(key~"-desc", [as.scores[key].value, as.scores[key].value|num_format]) }}
                                    </span>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <th>{{ msg('total') }}</th>
                        <th>{{ as.total|num_format }}</th>
                        <th><span class="text-muted small"><a href="http://xtoolsproject.org/en/stable/tools/adminscore.html#algorithm" target="_blank">{{ msg("how-calculated") }}</a></span></th>
                    </tfoot>
                </table>
            </div>
        {% endset %}
        {{ layout.content_block('tool-adminscore', content) }}
    </div>
</div>
{% endblock %}
