{% extends 'base.html.twig' %}

{% block body %}
    <table class="leantable table-condensed xt-table" >
        <tr><td>{{ msg("username") }}: </td><td><a href="{{ url|raw }}/wiki/User:{{ username }}" >{{ username }} @ {{ project }}</a></td></tr>
            {% for key in master|keys %}
                {% if master[key]["value"] != 0 %}
                    <tr><td>{{ msg(key) }}</td><td><span class="text-success">+{{ master[key]["score"] }}</span></td></tr>
                {% endif %}
            {% endfor %}
    </table>
    <h3>Total: {{ total }}</h3>
{% endblock %}
