{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-3 col-lg-offset-1 text-center">
        <img class="splash-logo" src="{{ asset('static/images/logo.svg') }}" alt="{{ msg('xtools-title') }}" />
        <h4>{{ msg('xtools-slogan') }}</h4>
    </div>
    <div class="col-lg-7 tool-list">
        {% for tool in tools() %}
            {% if enabled(tool) %}
                <a class="btn btn-default" href="{{ path(tool) }}">
                    <span class="tool-name">{{ msg("tool-" ~ tool) }}</span>
                    &mdash;
                    {{ msg("tool-" ~ tool ~ "-desc") }}
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
