{% extends 'base.html.twig' %}
{% import 'macros/forms.html.twig' as forms %}

{% block body %}
    <form class="col-lg-8 col-lg-offset-2" action="{{ path("topedits") }}" method="get" accept-charset="utf-8" >
        <fieldset class="form-fieldset">
            {{ forms.user_input() }}
            {{ forms.wiki_input(project) }}
            {{ forms.namespace_select(namespaces, true) }}
            {{ forms.page_input(false) }}
        </fieldset>
        {{ forms.submit_btn() }}
    </form>
{% endblock %}
