{% extends 'base.html.twig' %}

{% block body %}


    <div class="panel panel-primary" style="text-align:center">
        <div class="panel-heading">
            <p class="xt-heading-top" >
                <a href="{{ article.fullurl }}">
                    {% if article.pageprops.displaytitle is defined %}
                        {{ article.pageprops.displaytitle|raw }}
                    {% else %}
                        {{ article.title }}
                    {% endif %}
                </a>
                <span style="padding-left:10px;" > &bull;&nbsp; {{ project }} </span>
            </p>
        </div>

        <div class="panel-body xt-panel-body-top" >
            <p class="text-center xt-heading-subtitle">
                {{ wiki_log_link(article.title, '//'~project) }} &middot;
                <a href="{{ path('ArticleInfoResult', {project:project, article:article.title|url_encode}) }}">{{ msg('tool_articleinfo') }}</a>
            </p>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Edits per page</h4>
                </div>
                <div class="panel-body" id="nstotals">

                    <table class="table-condensed xt-table" >
                        <tr>
                            <td>User:</td>
                            <td colspan="4" >
                                {{ user_link(username, '//'~project ) }}
                                <a href="//{{ project }}/wiki/User:{{ username }}" >{{ username }}</a>
                                &middot;<a title="Edit Counter" href="{{ path('EditCounterResult', {project:project, username:username}) }}" >(ec)</a>
                            </td>
                        </tr>
                        <tr><td>Number of edits:</td><td><span class="tdnum" colspan=1 >{{ revision_count }}</span></td></tr>
                        <tr><td>Added:</td><td><span class="tdnum">{{ total_added|diff_format }}</span></td></tr>
                        <tr><td>Deleted:</td><td><span class="tdnum" >{{ total_removed|diff_format }}</span></td></tr>
                    </table>

                    <table class="table-striped sortable table-condensed xt-table" >
                        <tr>
                            <th>Date</th>
                            <th>Username</th>
                            <th>Diff</th>
                            <th>Hist</th>
                            <th>Size</th>
                            <th>Comment</th>
                        </tr>

                        {% for rev in revisions %}
                        <tr>
                            <td style="font-size:95%; white-space:nowrap;">{{ rev.timestamp }} &middot; </td>
                            <td>{{ user_link(username, '//'~project) }}</td>
                            <td>({{ diff_link(rev.id, '//'~project, 'diff') }})</td>
                            <td>(<a href="//{{ project }}/w/index.php?title={{ article.title }}&amp;action=history&amp;year={{ rev.year }}&amp;month={{ rev.month }} " >hist</a>)</td>
                            <td style="text-align:right;padding-right:5px" >
                                {{ rev.length_change|diff_format }}
                            </td>
                            <td style="font-size:85%" >{{ rev.comment }}</td>
                        </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
