{% extends 'base.html.twig' %}

{% block body %}
    
<div class="panel panel-primary" style="text-align:center">
    <div class="panel-heading">
        <p class="xt-heading-top" >
            <a href="//{{ project }}/wiki/User:{{ username }}">{{ username }}</a>
            <span style="padding-left:10px;" > &bull;&nbsp; {{ project }} </span>
        </p>
    </div>
    <div class="panel-body xt-panel-body-top" >
        <p>
            <a href="//en.wikipedia.org/w/index.php?title=Special%3ALog&type=block&user=&page=User%3A{{ username }}&year=&month=-1&tagfilter=" >Block log</a> &middot;
            <a href="{{ path('EditCounterResult', {project:project, username:username}) }}" >Edit Counter</a> &middot;
            <a href="//tools.wmflabs.org/guc/?user={{ username }}" >Global user contributions</a> &middot;
            <a target="_blank" href="//tools.wmflabs.org/pageviews?project={{ project }}&pages=User:{{ username }}" >Userpage pageviews</a>
        </p>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>TOP edits per namespace</h4>
            </div>
            <div class="panel-body" id="nstotals">
                <table class="table-condensed xt-table" ><tr><td colspan=22 ><h3>Article</h3></td></tr>
                    {% for edit in edits %}
                    <tr>
                        <td class=tdnum >{{ edit.count }}</td>
                        <td><a href="//{{ project }}/wiki/{{ edit.page_title }}" >{{ edit.displaytitle|raw }}</a></td>
                        <td><a href="//{{ project }}/w/index.php?title=Special:Log&type=&page={{ edit.page_title }}" ><small>log</small></a> &middot; </td>
                        <td><a href="{{ path('ArticleInfoResult', {project:project, article:edit.page_title|url_encode}) }}"><small>page history</small></a> &middot; </td>
                        <td><a href="{{ path('TopEditsResults', {project:project, username:username, namespace:namespace, article:edit.page_title|url_encode}) }}" ><small>topedits</small></a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
