{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}

{% block body %}
<div class="panel panel-primary">
    <header class="panel-heading">
        <div class="text-center xt-heading-top" >
            <a class="back-to-search" href="{{ path('topedits') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{ msg('back') }}
            </a>
            {{ wiki_link(article.title, project.url) }}
            <small>
                &bull;
                {{ project.title }}
            </small>
        </div>
    </header>

    <div class="panel-body xt-panel-body" >
        <p class="text-center xt-heading-subtitle">
            {{ wiki_log_link(article.title, project.url) }}
            &middot;
            <a href="{{ path('ArticleInfoResult', {project:project.domain, article:article.title|url_encode}) }}">{{ msg('tool-articleinfo') }}</a>
        </p>

        {% set content %}
        <dl class="col-lg-6 dl-horizontal stat-list clearfix">
            <dt>{{ msg('user') }}</dt>
            <dd>
                {{ user_link(user.username, project.url) }}
                &middot;
                <a href="{{ path('EditCounterResult', {project:project.domain, username:user.username}) }}" >{{ msg('tool-ec') }}</a>
            </dd>
            <dt>{{ msg('count') }}</dt>
            <dd>{{ revision_count }}</dd>
            <dt>{{ msg('added') }}</dt>
            <dd>{{ total_added|diff_format }}</dd>
            <dt>{{ msg('deleted') }}</dt>
            <dd>{{ total_removed|diff_format }}</dd>
        </dl>

        <table class="table table-bordered table-hover table-striped top-editors-table">
            <thead><tr>
                {% for key in ['date', 'links', 'size', 'comment'] %}
                    <th>
                        <span{% if key != "links" %} class="sort-link sort-link--{{ key }}" data-column="{{ key }}"{% endif %}>
                            {{ msg(key) | capitalize_first }}
                            {% if key != "links" %}<span class="glyphicon glyphicon-sort"></span>{% endif %}
                        </span>
                    </th>
                {% endfor %}
            </tr></thead>

            {% for rev in revisions %}
            <tr>
                <td class="sort-entry--date" data-value="{{ rev.timestamp }}">
                    {{ perma_link(rev.id, project.url, rev.timestamp) }}
                </td>
                <td>
                    {{ diff_link(rev.id, project.url, msg('diff') | capitalize_first ) }}
                    &middot;
                    {% set offset = date(rev.year~"-"~rev.month~"-01") | date("Ymt")~"235959" %}
                    {{ wiki_history_link(article.title, project.url, msg('history'), offset) }}
                </td>
                <td class="sort-entry--size" data-value="{{ rev.length_change }}">{{ rev.length_change|diff_format }}</td>
                <td class="sort-entry--comment" data-value="{{ rev.comment }}">{{ rev.comment | wikify_comment(article.title, project.url) }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endset %}
        {{ layout.content_block('edits-per-page', content) }}
    </div>
</div>
{% endblock %}
