{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}

{% block body %}
<div class="panel panel-primary">
    <header class="panel-heading">
        <div class="text-center xt-heading-top" >
            <a class="back-to-search" href="{{ path('topedits') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{ msg('back') }}
            </a>
            {{ user_link(user.username, project.url) }}
            <small>
                &bull;
                {{ project.title }}
            </small>
        </div>
    </header>

    <div class="panel-body xt-panel-body" >
        <p class="text-center xt-heading-subtitle">
            {{ user_log_link(user.username, project.url, msg('block_log'), 'block') }}
            &middot;
            <a href="{{ path('EditCounterResult', {project:project.domain, username:user.username}) }}" >{{ msg('tool_ec') }}</a>
            {% if not isSingleWiki() %}
            &middot;
            <a target="_blank" href="//tools.wmflabs.org/guc/?user={{ user.username }}" >{{ msg('global_contribs') }}</a>
            {% endif %}
            {% if isWMFLabs() %}
            &middot;
            <a target="_blank" href="//tools.wmflabs.org/pageviews/?project={{ project.domain }}&amp;pages=User:{{ user.username }}">{{ msg('pageviews_userpage') }}</a>
            {% endif %}
        </p>

        <h3 class="text-center">{{ msg('topedits_per_namespace') }}</h3>

        {% set content %}
        <table class="table table-bordered table-hover table-striped topedits-namespace-table" >
            <thead><tr>
                <th>
                    <span class="sort-link sort-link--edits" data-column="edits">
                        {{ msg('edits') | capitalize_first }}
                        <span class="glyphicon glyphicon-sort"></span>
                    </span>
                </th>
                <th>
                    <span class="sort-link sort-link--page" data-column="page">
                        {{ msg('page') }}
                        <span class="glyphicon glyphicon-sort"></span>
                    </span>
                </th>
                <th>{{ msg('links') }}</th>
            </tr></thead>
            <tbody>
                {% for edit in edits %}
                <tr>
                    <td class="sort-entry--edits tdnum" data-value="{{ edit.count }}">{{ edit.count|number_format }}</td>
                    <td class="sort-entry--page" data-value="{{ edit.page_title }}">
                        {{ wiki_link(edit.page_title, project.url, edit.displaytitle) }}
                    </td>
                    <td>
                        {{ wiki_log_link(edit.page_title, project.url) }}
                        &middot;
                        <a href="{{ path('ArticleInfoResult', {project:project.domain, article:edit.page_title|url_encode}) }}">{{ msg('tool_articleinfo') }}</a>
                        &middot;
                        <a href="{{ path('TopEditsResults', {project:project.domain, username:user.username, namespace:namespace, article:edit.page_title|url_encode}) }}" >{{ msg('tool_topedits') }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endset %}
        {{ layout.content_block(content_title, content, '', null, false, false) }}
    </div>
</div>
{% endblock %}
