{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}
{% import 'macros/wiki.html.twig' as wiki %}

{% block body %}
<div class="panel panel-primary">
    <header class="panel-heading">
        <div class="text-center xt-heading-top" >
            <a class="back-to-search" href="{{ path('topedits') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{ msg('back') }}
            </a>
            <a href="{{ page.url }}">{{ page.displaytitle|raw }}</a>
            <small>
                &bull;
                {{ project.title }}
            </small>
        </div>
    </header>

    <div class="panel-body xt-panel-body" >
        {% set content %}
        <dl class="col-lg-6 dl-horizontal stat-list clearfix">
            <dt>{{ msg('article') }}</dt>
            <dd>
                {{ wiki.pageLink(page, page.displaytitle|raw) }}
                <small>({{ wiki.pageLogLink(page) }}
                &middot; <a href="{{ path('ArticleInfoResult', {project:project.domain, article:page.title}) }}">{{ msg('tool-articleinfo') }}</a>)</small>
            </dd>
            <dt>{{ msg('user') }}</dt>
            <dd>
                {{ wiki.userLink(user, project) }}
                <small>(<a href="{{ path('EditCounterResult', {project:project.domain, username:user.username}) }}" >{{ msg('tool-ec') }}</a>)</small>
            </dd>
            <dt>{{ msg('count') }}</dt>
            <dd>{{ revision_count|number_format }}</dd>
            <dt>{{ msg('added') }}</dt>
            <dd>{{ total_added|diff_format }}</dd>
            <dt>{{ msg('deleted') }}</dt>
            <dd>{{ total_removed|diff_format }}</dd>
        </dl>

        <table class="table table-bordered table-hover table-striped top-editors-table">
            <thead><tr>
                {% for key in ['date', 'links', 'size', 'comment'] %}
                    <th>
                        <span{% if key != "links" %} class="sort-link sort-link--{{ key }}" data-column="{{ key }}"{% endif %}>
                            {{ msg(key)|capitalize_first }}
                            {% if key != "links" %}<span class="glyphicon glyphicon-sort"></span>{% endif %}
                        </span>
                    </th>
                {% endfor %}
            </tr></thead>

            {% for rev in revisions|reverse %}
            <tr>
                <td class="sort-entry--date" data-value="{{ rev.timestamp|date('U') }}">
                    {{ wiki.permaLink(rev) }}
                </td>
                <td>
                    {{ wiki.diffLink(rev) }}
                    &middot;
                    {% set offset = date(rev.year ~ '-' ~ rev.month ~ '-01')|date('Ymt') ~ '235959' %}
                    {{ wiki.pageHistLink(page, msg('history'), offset) }}
                </td>
                <td class="sort-entry--size" data-value="{{ rev.size }}">
                    {{ rev.size|diff_format }}
                </td>
                <td class="sort-entry--comment" data-value="{{ rev.comment }}">
                    {{ rev.comment|wikify_comment(page.title, project.url) }}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endset %}
        {{ layout.content_block('topedits-article', content, msg('topedits-article-desc'), null, false, false) }}
    </div>
</div>
{% endblock %}
