{% macro wiki_input(project) %}
<div class="input-group{% if isSingleWiki() %} hidden{% endif %} form-row">
    <label class="input-group-addon form-label" for="project_input">
        {{ msg("wiki") }}
        <div class="glyphicon glyphicon-info-sign tooltipcss pull-right">
            <div class="tooltip-body">
                <strong>Accepted formats:</strong>
                <code>enwiki</code> or <code>en.wikipedia</code> or
                <span class="text-nowrap"><code>en.wikipedia.org</code></span>
            </div>
        </div>
    </label>
    <input type="text" class="form-control"
        {% if (project is defined) and (project != "") %}value="{{ project }}"
        {% elseif isSingleWiki() %}value="wiki"
        {% endif %}
        name="project"
        id="project_input"
        required>
    {# FIXME: en.wikipedia.org should only be the default when app.is_labs is set #}
</div>
{% endmacro %}

{% macro page_input(required = true) %}
<div class="input-group form-row">
    <label class="input-group-addon form-label" for="article_input">
        {{ msg("page") }}
    </label>
    <input type="text" class="form-control" name="article" id="article_input"{% if required %} required{% endif %}>
    <span class="input-group-addon">
        <label>
            <input type="checkbox" name="nofollowredir" />
            {{ msg("nofollowredir") }}
        </label>
    </span>
</div>
{% endmacro %}

{% macro user_input(required = true, multiple = false) %}
<div class="input-group form-row">
    <label class="input-group-addon form-label" for="user_input">
        {{ msg("username") }}
        <div class="glyphicon glyphicon-info-sign tooltipcss pull-right">
            <div class="tooltip-body">
                {% if multiple %}
                    <strong>Multiple users allowed (separated by pipes):</strong>
                    <br>eg: <code>UserX|UserY|UserZ</code>
                {% else %}
                    Username or IPv4 or IPv6
                {% endif %}
            </div>
        </div>
    </label>
    <input type="text" class="form-control" name="username" id="user_input"{% if required %} required{% endif %}>
</div>
{% endmacro %}

{% macro namespace_select(namespaces, allOption = false) %}
<div class="input-group form-row">
    <label class="input-group-addon form-label" for="namespace_select">
        {{ msg("namespace") }}
    </label>
    <select class="form-control namespace-selector" name="namespace" id="namespace_select">
        {% if allOption %}
            <option value="all">{{ msg('all') | capitalize_first }}</option>
        {% endif %}
        {% for id, name in namespaces %}
            <option value="{{ id }}" {% if loop.first %}selected="selected"{% endif %}>
                {{ name }}
            </option>
        {% endfor %}
    </select>
</div>
{% endmacro %}

{% macro date_input(type = 'start', required = false) %}
<div class="input-group form-row">
    <label class="input-group-addon form-label" for="date_{{ type }}_input">
        {{ msg(type) }}
        {% if type == 'end' %}
            <span class="text-muted">({{ msg("optional") }})</span>
        {% endif %}
    </label>
    <input type="date" class="form-control" name="{{ type }}" placeholder="2016-11-01"{% if required %} required{% endif %} />
</div>
{% endmacro %}

{% macro submit_btn() %}
<button class="btn btn-large btn-primary form-submit">{{ msg("submit") }}</button>
{% endmacro %}
