{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}

{% block body %}
<div class="panel panel-primary">
    <header class="panel-heading">
        <div class="text-center xt-heading-top">
            <a class="back-to-search" href="{{ path('sc') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{ msg('back') }}
            </a>
            {{ user_link(username, project_url) }}
            <small>
                &bull;
                {{ project }}
            </small>
        </div>
    </header>

    <div class="panel-body xt-panel-body">
        <p class="text-center xt-heading-subtitle">
            {{ wiki_log_link('User:'~username, project_url, msg('block-log'), 'block') }}
            &middot;
            <a href="{{ path('EditCounterResult', {project:project, username:username}) }}" >{{ msg('tool-ec') }}</a>
            {% if not isSingleWiki() %}
            &middot;
            <a target="_blank" href="//tools.wmflabs.org/guc/?user={{ username }}" >{{ msg('global-contribs') }}</a>
            {% endif %}
            {% if isWMFLabs() %}
            &middot;
            <a target="_blank" href="//tools.wmflabs.org/pageviews/?project={{ project }}&amp;pages=User:{{ username }}">{{ msg('pageviews-userpage') }}</a>
            {% endif %}
        </p>

        {% set content %}
            <dl class="col-lg-12 dl-horizontal stat-list clearfix">
                <dt>{{ msg('username') }}</dt>
                <dd>{{ user_link(username, project_url) }}</dd>
                <dt>{{ msg('user-id') }}</dt>
                <dd>{{ id }}</dd>
                <dt>{{ msg('user-groups') }}</dt>
                <dd>{{ groups }}</dd>
                {% if globalGroups is defined and globalGroups|length > 0 %}
                <dt>{{ msg('global-user-groups') }}</dt>
                <dd>
                    {% for group in globalGroups %}
                        {{ group }}
                    {% endfor %}
                </dd>
                {% endif %}
                <dt>{{ msg('total') }}</dt>
                <dd>{{ rev | number_format }}</dd>
                <dt>{{ msg('live-edits') }}</dt>
                <dd>{{ live | number_format }}</dd>
                <dt>{{ msg('deleted-edits') }}</dt>
                <dd>{{ arch | number_format }}</dd>
            </dl>
        {% endset %}
        {{ layout.content_block('tool-sc-desc', content) }}
    </div>
</div>
{% endblock %}
