{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}
{% import 'macros/wiki.html.twig' as wiki %}

{% block body %}
<div class="panel panel-primary">
    {{ layout.userHeading(user, project, xtPage) }}

    <div class="panel-body xt-panel-body">
        {{ wiki.userLinks(user, project, xtPage) }}

        {% set content %}
            <div class="col-lg-12 stat-list clearfix">
                <table class="table">
                    {% if sec.namespace != 'all' or sec.namespace == '' %}
                        <tr>
                            <td>{{ msg('namespace') }}</td>
                            <td>{{ nsName(sec.namespace, project.namespaces) }}</td>
                        </tr>
                    {% endif %}
                    {% if sec.start %}
                        <tr>
                            <td>{{ msg('start') }}</td>
                            <td>{{ sec.start|date('Y-m-d') }}</td>
                        </tr>
                    {% endif %}
                    {% if sec.end %}
                        <tr>
                            <td>{{ msg('end') }}</td>
                            <td>{{ sec.end|date('Y-m-d') }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="stat-list--new-group">{{ msg('username') }}</td>
                        <td class="stat-list--new-group">{{ wiki.userLink(user, project) }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('user-id') }}</td>
                        <td>{{ sec.userId }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('user-groups') }}</td>
                        <td>{{ sec.userGroups|join(', ') }}</td>
                    </tr>
                    {% if sec.globalUserGroups|length > 0 %}
                        <tr>
                            <td>{{ msg('global-user-groups') }}</td>
                            <td>{{ sec.globalUserGroups|join(', ') }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>{{ msg('total') }}</td>
                        <td>{{ sec.totalEditCount|num_format }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('live-edits') }}</td>
                        <td>{{ sec.liveEditCount|num_format }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('deleted-edits') }}</td>
                        <td>{{ sec.deletedEditCount|num_format }}</td>
                    </tr>
                </table>
            </div>
        {% endset %}
        {{ layout.content_block('tool-sc-desc', content) }}
    </div>
</div>
{% endblock %}
