{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}
{% import 'macros/wiki.html.twig' as wiki %}

{% block body %}
<div class="panel panel-primary">
    <header class="panel-heading">
        <div class="text-center xt-heading-top">
            <a class="back-to-search" href="{{ path('sc') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{ msg('back') }}
            </a>
            {{ wiki.userLink(user, project) }}
            <small>
                &bull;
                {{ project.domain }}
            </small>
        </div>
    </header>

    <div class="panel-body xt-panel-body">
        <p class="text-center xt-heading-subtitle">
            {{ wiki.userLogLink(user, project, msg('block-log'), 'block') }}
            &middot;
            <a href="{{ path('EditCounterResult', {project:project.domain, username:user.username}) }}" >{{ msg('tool-ec') }}</a>
            {% if not isSingleWiki() %}
            &middot;
            <a target="_blank" href="//tools.wmflabs.org/guc/?user={{ user.username }}" >{{ msg('global-contribs') }}</a>
            {% endif %}
            {% if isWMFLabs() %}
            &middot;
            <a target="_blank" href="//tools.wmflabs.org/pageviews/?project={{ project.domain }}&amp;pages=User:{{ user.username }}">{{ msg('pageviews-userpage') }}</a>
            {% endif %}
        </p>

        {% set content %}
            <div class="col-lg-12 stat-list clearfix">
                <table class="table">
                    <tr>
                        <td>{{ msg('username') }}</td>
                        <td>{{ wiki.userLink(user, project) }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('user-id') }}</td>
                        <td>{{ id }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('user-groups') }}</td>
                        <td>{{ groups }}</td>
                    </tr>
                    {% if globalGroups is defined and globalGroups|length > 0 %}
                        <tr>
                            <td>{{ msg('global-user-groups') }}</td>
                            <td>
                                {% for group in globalGroups %}
                                    {{ group }}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>{{ msg('total') }}</td>
                        <td>{{ rev | number_format }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('live-edits') }}</td>
                        <td>{{ live | number_format }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('deleted-edits') }}</td>
                        <td>{{ arch | number_format }}</td>
                    </tr>
                </table>
            </div>
        {% endset %}
        {{ layout.content_block('tool-sc-desc', content) }}
    </div>
</div>
{% endblock %}
