{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}
{% import 'macros/wiki.html.twig' as wiki %}

{% block body %}
<div class="panel panel-primary">
    <header class="panel-heading">
        <div class="text-center xt-heading-top">
            <a class="back-to-search" href="{{ path('adminstats') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{ msg('back') }}
            </a>
            <a target="_blank" href="{{ project.url }}">{{ project.title }}</a>
            <small>
                &bull;
                {{ as.start }}
                &mdash;
                {{ as.end }}
            </small>
        </div>
    </header>

    <div class="panel-body xt-panel-body">
        <h3 class="text-center">{{ msg('tool-adminstats') }}</h3>

        {% set content %}
            <div class="col-lg-12 stat-list">
                <table class="table"><tbody>
                    <tr>
                        <td>{{ msg('start') }}</td>
                        <td>{{ as.start }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('end') }}</td>
                        <td>{{ as.end }} ({{ as.numDays|num_format }} {{ msg('num-days', [as.numDays]) }})</td>
                    </tr>
                    <tr>
                        <td>{{ msg('log-types') }}</td>
                        <td>delete, block, protect, import, rights</td>
                    </tr>
                    <tr>
                        <td>{{ msg('current-admins') }}</td>
                        <td>{{ wiki.userGroupLink('sysop', project, as.numAdmins|num_format) }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('admins-without-action') }}</td>
                        <td>
                            {{ as.numAdminsWithoutActions|num_format }}
                            ({{ as.numAdminsWithoutActions|percent_format(as.numAdmins) }})
                        </td>
                    </tr>
                    <tr>
                        <td>{{ msg('non-admins-with-actions') }}</td>
                        <td>{{ (as.numUsers - as.numAdmins)|num_format }}</td>
                    </tr>
                </tbody></table>
            </div>
        {% endset %}
        {{ layout.content_block('general-stats', content) }}

        <div style="clear:both"></div>

        {% set content %}
            <table class="table table-bordered table-hover table-striped top-editors-table table-sticky-header">
                <thead><tr>
                    <th>#</th>
                    {% for key in ['username', 'user-groups', 'links', 'total', 'delete', 'restore', 're-block', 'unblock', 're-protect', 'unprotect', 'import', 'rights'] %}
                        <th>
                            <span{% if key != "links" %} class="sort-link sort-link--{{ key }}" data-column="{{ key }}"{% endif %}>
                                {{ msg(key)|capitalize_first }}
                                {% if key != 'links' %}<span class="glyphicon glyphicon-sort"></span>{% endif %}
                            </span>
                        </th>
                    {% endfor %}
                </tr></thead>
                <tbody>
                    {% for key,value in as.stats %}
                        {% set username = value.user_name %}
                        <tr>
                            <td>{{ loop.index }}.</td>
                            <td class="sort-entry--username" data-value="{{ username }}">
                                {{ wiki.userLink(username, project) }}
                            </td>
                            <td class="sort-entry--user-groups" data-value="{{ value.groups }}">{{ value.groups }}</td>
                            <td>
                                {% if enabled('ec') %}
                                    <a title="{{ msg('tool-ec') }}" href="{{ path('EditCounterResult', {project: project.domain, username: username}) }}" >ec</a>
                                    &middot;
                                {% endif %}
                                {% if isWMFLabs() %}
                                    {{ wiki.gucLink(username, 'guc') }}
                                    &middot;
                                {% endif %}
                                {{ wiki.userLogLink(username, project, msg('log')|lower) }}
                            </td>
                            <td class="sort-entry--total" data-value="{{ value.total }}">{{ value.total|num_format }}</td>
                            <td class="sort-entry--delete" data-value="{{ value.delete }}">{{ value.delete|num_format }}</td>
                            <td class="sort-entry--restore" data-value="{{ value.restore }}">{{ value.restore|num_format }}</td>
                            <td class="sort-entry--re-block" data-value="{{ value.block }}">{{ value.block|num_format }}</td>
                            <td class="sort-entry--unblock" data-value="{{ value.unblock }}">{{ value.unblock|num_format }}</td>
                            <td class="sort-entry--re-protect" data-value="{{ value.protect }}">{{ value.protect|num_format }}</td>
                            <td class="sort-entry--unprotect" data-value="{{ value.unprotect }}">{{ value.unprotect|num_format }}</td>
                            <td class="sort-entry--import" data-value="{{ value.import }}">{{ value.import|num_format }}</td>
                            <td class="sort-entry--rights" data-value="{{ value.rights }}">{{ value.rights|num_format }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endset %}
        {{ layout.content_block('summary', content) }}
    </div>
</div>
{% endblock %}
