{% extends 'base.html.twig' %}

{% block body %}

    <div class="panel-body xt-panel-body-top"  >
        <p>
        <table class="table-condensed xt-table" style="text-align:left">
            <tr><td>Starting date:</td><td>{{ start_date }} ({{ days }} {{ msg("days", [days]) }})</td></tr>
            <tr><td>Log types:</td><td>delete, block, protect, import, rights</td></tr>
            <tr><td>Current Admins (grp):</td><td>{{ group_link("sysop", url, adminCount) }}</td></tr>
            <tr><td>Admins without action:</td><td>{{ adminsWithoutAction }} ({{ admins_without_action_pct }}%)</td></tr>
        </table>
        </p>
        <br />

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4  class="topcaption" >{{ msg('summary') }}</h4>
            </div>
            <div class="panel-body" id="generalstats">
                <table class="table-striped table-condensed table-hover sortable xt-table">

                    <tr>
                        <th>#</th>
                        <th>{{ msg("username") }}</th>
                        <th>{{ msg("groups") }}</th>
                        <th>{{ msg("link") }}</th>
                        <th>{{ msg("total") }}</th>
                        <th>{{ msg("delete") }}</th>
                        <th>{{ msg("restore") }}</th>
                        <th>{{ msg("block") }}</th>
                        <th>{{ msg("unblock") }}</th>
                        <th>{{ msg("protect") }}</th>
                        <th>{{ msg("unprotect") }}</th>
                        <th>{{ msg("import") }}</th>
                        <th>{{ msg("rights") }}</th>
                    </tr>


                {% for key,value in users %}
                    {% set username=value.user_name %}
                    <tr>
                        <td>{{ loop.index }}.</td>
                        <td style="max-width:150px;"><a style="max-width:120px;" href="{{ linkWiki(url, "User:"~username) }}">{{ username }}</a></td>
                        <td>{{ value.groups }}</td>
                        <td style="white-space:nowrap;">
                            <a title="Edit Counter" href="{{ link("/ec/"~project~"/"~username) }}" >ec</a> &middot;
                            {% if isWMFLabs() %}<a title="Global User Contributions" href="//tools.wmflabs.org/guc/?user={{ username|e }}" >guc</a> &middot;{% endif %}
                            <a title="Log" href="//en.wikipedia.org/w/index.php?title=Special:Log&user={{ username }} " >log</a>
                        </td>
                        <td class="tdnum" >{{ value.mtotal }}</td>
                        <td class="tdnum" >{{ value.mdelete }}</td>
                        <td class="tdnum" >{{ value.mrestore }}</td>
                        <td class="tdnum" >{{ value.mblock }}</td>
                        <td class="tdnum" >{{ value.munblock }}</td>
                        <td class="tdnum" >{{ value.mprotect }}</td>
                        <td class="tdnum" >{{ value.munprotect }}</td>
                        <td class="tdnum" >{{ value.mimport }}</td>
                        <td class="tdnum" >{{ value.mrights }}</td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
{% endblock %}