{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}

{% block body %}
<div class="panel panel-primary">
    <header class="panel-heading">
        <div class="text-center xt-heading-top">
            <a class="back-to-search" href="{{ path("autoedits") }}"">
            <span class="glyphicon glyphicon-chevron-left"></span>
            {{ msg('back') }}
            </a>
            {{ user_link(username, projectUrl) }} &middot; {{ wikiName }}
        </div>
    </header>
    <div class="panel-body xt-panel-body">
        <p class="text-center xt-heading-subtitle">
            {{ user_log_link(username, projectUrl, msg('block-log'), 'block') }}
            {% if isWMFLabs() %}
                &middot;
                <a href="//tools.wmflabs.org/guc/?user={{ username }}" target="_blank">{{ msg('global-contribs') }}</a>
            {% endif %}
            {% if not(isSingleWiki()) %}
                &middot;
                {{ wiki_link('Special:CentralAuth/'~username, projectUrl, 'CentralAuth') }}
            {% endif %}
        </p>

        {% set content %}
            <div class="panel-body stat-list clearfix" id="summary">
                <table class="table">
                    <tr>
                        <td>{{ msg('start-date') }}</td>
                        <td>{{ start }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('end-date') }}</td>
                        <td>{{ end }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('auto-edits') }}</td>
                        <td>{{ total_semi | number_format }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('total') }}</td>
                        <td>{{ total | number_format }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('percentage') }}</td>
                        <td>{{ total_pct | percent_format }}</td>
                    </tr>
                </table>
            </div>
        {% endset %}
        {{ layout.content_block('summary', content) }}


        {% set edits %}
            <table class="table table-bordered table-hover table-striped">
                {% for key in ['tool', 'count'] %}
                    <th class="sort-link sort-link--{{ key }}" data-column="{{ key }}">
                        {{ msg(key) | capitalize_first }}
                    </th>
                {% endfor %}
                {% for tool, count in semi_automated %}
                    <tr>
                        <td class="sort-entry--tool" data-value="{{ tool }}">
                            {{ tool }}
                        </td>
                        <td class="sort-entry--count" data-value="{{ count }}">
                            {{ count|number_format(0, ".", ",") }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endset %}
        {{ layout.content_block('auto-edits', edits) }}
    </div>
</div>
{% endblock %}