{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}
{% import 'macros/pieChart.html.twig' as chart %}
{% import 'macros/wiki.html.twig' as wiki %}

{% block body %}
<div class="panel panel-primary">
    {{ layout.userHeading(user, project, xtPage) }}

    <div class="panel-body xt-panel-body">
        {{ wiki.userLinks(user, project, xtPage) }}

        <h3 class="text-center">{{ msg('tool-autoedits') }}</h3>

        {# Show TOC when the user has a ton of automated tools, making the page hard to navigate #}
        {% if ae.toolCounts|length > 2 %}
            <div class="text-center xt-toc">
                {% set sections = ['summary', 'auto-edits', 'non-auto-contribs'] %}
                {% for section in sections %}
                    <span>
                        <a href="#{{ section }}" data-section="{{ section }}">{{ msg(section) }}</a>
                    </span>
                {% endfor %}
            </div>
        {% endif %}

        {% set content %}
            <div class="panel-body stat-list autoedits-stat-list clearfix" id="summary">
                <table class="table autoedits-table pull-left">
                    {% if ae.start is not empty %}
                        <tr>
                            <td>{{ msg('start') }}</td>
                            <td>{{ ae.start|date_format('yyyy-MM-dd') }}</td>
                        </tr>
                    {% endif %}
                    {% if ae.end is not empty %}
                        <tr>
                            <td>{{ msg('end') }}</td>
                            <td class="xt-test--end-date">{{ ae.end|date_format('yyyy-MM-dd') }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>{{ msg('namespace') }}</td>
                        <td>{{ nsName(ae.namespace, project.namespaces) }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('total-edits') }}</td>
                        <td>{{ ae.editCount|num_format }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('auto-edits') }}</td>
                        <td>
                            {{ ae.automatedCount|num_format }}
                            ({{ ae.automatedPercentage|percent_format }})
                        </td>
                    </tr>
                    <tr>
                        <td>{{ msg('non-auto-contribs') }}</td>
                        <td>
                            {{ (ae.editCount - ae.automatedCount)|num_format }}
                            ({{ (100 - ae.automatedPercentage)|percent_format }})
                        </td>
                    </tr>
                </table>
                {% if ae.editCount > 0 %}
                    <div class="pull-left">
                        {{
                            chart.pie_chart('auto_edits',
                                [{
                                    label: msg('non-auto-contribs'),
                                    value: ae.editCount - ae.automatedCount,
                                    percentage: 100 - ae.automatedPercentage
                                },
                                {
                                    label: msg('auto-edits'),
                                    value: ae.automatedCount,
                                    percentage: ae.automatedPercentage
                                }],
                                false,
                                'autoedits-summary-chart',
                                140
                            )
                        }}
                    </div>
                {% endif %}
            </div>

            <div class="footnotes text-muted">
                {{ msg('all-approximate') }}
            </div>
        {% endset %}
        {{ layout.content_block('summary', content) }}

        {% if ae.editCount == 0 %}
            {% set content %}
                <div class="alert alert-info">
                    {{ msg('no-contribs') }}
                </div>
            {% endset %}
        {% else %}
            {% set content %}
                {% if ae.toolCounts|length > 0 %}
                    <table class="table table-bordered table-hover table-striped tools-table toggle-table">
                        <thead>
                        {% for key in ['tool', 'count', 'percent-of-tools', 'percent-of-edit-count'] %}
                            <th>
                                <span class="sort-link sort-link--{{ key }}" data-column="{{ key }}">
                                    {{ msg(key)|capitalize_first }}
                                    <span class="glyphicon glyphicon-sort"></span>
                                </span>
                            </th>
                        {% endfor %}
                        </thead>
                        <tbody>
                        {% for tool, values in ae.toolCounts %}
                            <tr>
                                <td class="sort-entry--tool linked" data-value="{{ tool }}">
                                    <span class="tools-toggle toggle-table--toggle" data-index="{{ loop.index0 }}" data-key="{{ tool }}">
                                        <span class="glyphicon glyphicon-remove"></span>
                                        <span class="color-icon" style="background:{{ chartColor(loop.index0) }}"></span>
                                    </span>
                                    {{ wiki.pageLinkRaw(values.link, project, values.label) }}
                                </td>
                                <td class="sort-entry--count" data-value="{{ values.count }}">
                                    <a href="{{ path('AutoEditsContributionsResult', {project:project.domain, username:user.username, start: ae.start, end: ae.end, namespace: ae.namespace, tool: tool}) }}">
                                        {{ values.count|num_format }}
                                    </a>
                                </td>
                                <td class="sort-entry--percent-of-tools" data-value="{{ values.count }}">
                                    {{ values.count|percent_format(ae.toolsTotal) }}
                                </td>
                                <td class="sort-entry--percent-of-edit-count" data-value="{{ values.count }}">
                                    {{ values.count|percent_format(ae.editCount) }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <th class="tools--tools">
                                {{ ae.toolCounts|length|num_format }}
                                {{ msg('num-tools', [ae.toolCounts|length]) }}
                            </th>
                            <th class="tools--count">
                                <a href="{{ path('AutoEditsContributionsResult', {project:project.domain, username:user.username, start: ae.start, end: ae.end, namespace: ae.namespace}) }}">
                                    {{ ae.toolsTotal|num_format }}
                                </a>
                            </th>
                            <th colspan=2></th>
                        </tfoot>
                    </table>

                    {% if ae.toolCounts|length > 1 %}
                        {##
                         # Set the size of the chart to be relative to the number of tools.
                         # Otherwise it may get too big and hog up the real estate.
                         # 37 is the heigh of one row.
                         ##}
                        {% set maxHeight = min(400, (ae.toolCounts|length + 2) * 37) %}
                        {% set height = max(150, maxHeight) %}
                        <div class="chart-wrapper tools-chart-wrapper toggle-table--chart">
                            <canvas id="tool_chart" width="{{ height }}" height="{{ height }}"></canvas>
                        </div>

                        {% set colors = [] %}
                        {% for i in 0..(ae.toolCounts|length) %}
                            {% set colors = colors|merge([chartColor(i)]) %}
                        {% endfor %}

                        <script>
                            window.toolsChart = new Chart($('#tool_chart'), {
                                type: 'pie',
                                data: {
                                    labels: {{ ae.toolCounts|keys|json_encode()|raw }},
                                    datasets: [{
                                        data: [
                                            {% for tool, values in ae.toolCounts %}
                                                {{ values.count }}{% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        ],
                                        backgroundColor: {{ colors|json_encode()|raw }},
                                        borderColor: {{ colors|json_encode()|raw }},
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    aspectRatio: 1,
                                    legend: {
                                      display: false,
                                    },
                                    tooltips: {
                                        callbacks: {
                                            label: function(tooltipItem, chartData) {
                                                var label = chartData.labels[tooltipItem.index],
                                                    value = chartData.datasets[0].data[tooltipItem.index];
                                                return label + ': ' + value.toLocaleString(i18nLang);
                                            }
                                        }
                                    }
                                }
                            });
                            window.countsByTool = {{ ae.toolCounts|json_encode()|raw }};
                        </script>
                    {% endif %}
                {% else %}
                    <div class="alert alert-info">
                        {{ msg('no-contribs') }}
                    </div>
                {% endif %}
                <p style="clear:both">
                    <a target="_blank" href="https://phabricator.wikimedia.org/maniphest/task/create/?title=Request to add tool to AutoEdits&amp;projects=XTools&amp;description=Project: {{ project.domain }}%0A%0A{{ msg('auto-edits-request-name') }}:%0A%0A{{ msg('auto-edits-request-examples') }}:%0A%0A{{ msg('auto-edits-request-doc') }}:">
                        {{ msg('auto-edits-request') }}
                        <span class="glyphicon glyphicon-new-window"></span>
                    </a>
                </p>
            {% endset %}
        {% endif %}
        {{ layout.content_block('auto-edits', content) }}

        {% if ae.editCount == 0 %}
            {% set content %}
                <div class="alert alert-info">
                    {{ msg('no-contribs') }}
                </div>
            {% endset %}
        {% else %}
            {% set content %}
                <div>
                    <em class="non-auto-edits-loading text-muted">{{ msg('loading') }}...</em>
                    <div class="non-auto-edits-container"
                        data-project="{{ project.domain }}"
                        data-username="{{ user.username }}"
                        data-start="{{ ae.start }}"
                        data-end="{{ ae.end }}"
                        data-namespace="{{ ae.namespace }}"
                        data-target="nonautoedits">
                    </div>
                </div>
                <script>
                    $(function () {
                        window.loadContributions();
                    });
                </script>
            {% endset %}
        {% endif %}
        {% set headerLink %}
            <a href="{{ path('NonAutoEditsContributionsResult', {project:project.domain, username:user.username, start: ae.start, end: ae.end, namespace: ae.namespace}) }}">{{ msg('non-auto-contribs') }}</a>
        {% endset %}
        {{ layout.content_block(headerLink, content, null, 'non-auto-contribs', true) }}

        <div class="times-in-utc text-muted">
            {{ msg('times-in-utc') }}
        </div>
    </div>
</div>
{% endblock %}
