{% extends "base.html.twig" %}
{% import 'macros/forms.html.twig' as forms %}

{% block body %}
<div class="col-lg-12">
    <form class="form-horizontal" style="width:80%; margin:0 auto" action="{{ path("rfa") }}" method="get" accept-charset="utf-8" >
        <fieldset class="form-fieldset">

            <div class="input-group">
                <span class="input-group-addon form-label">{{ msg("project") }}</span>
                <select class="form-control" name="projecttype">
                    {% for project in available|keys %}
                        {% for type in available[project]|keys %}
                            <option value="{{ project }}|{{ type }}">{{ project }}: {{ available[project][type] }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
            {{ forms.user_input(true, false, project) }}

            <br />
            <input class="btn btn-large btn-primary" type="submit" value="Submit" />
        </fieldset>
    </form>
</div>
{% endblock %}