{% extends "base.html.twig" %}
{% import 'macros/forms.html.twig' as forms %}

{% block body %}
    <form class="col-lg-8 col-lg-offset-2" action="{{ path('rfx') }}" method="get" accept-charset="utf-8">
        <fieldset class="form-fieldset">
            <div class="input-group">
                <span class="input-group-addon form-label">{{ msg('project') }}</span>
                <select class="form-control" name="projecttype">
                    {% for project in available|keys %}
                        {% for type in available[project]|keys %}
                            <option value="{{ project }}|{{ type }}">{{ project }}: {{ available[project][type] }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
            {{ forms.user_input(true, false, null, true) }}
        </fieldset>
        {{ forms.submit_btn() }}
    </form>
{% endblock %}
