{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}
{% import 'macros/wiki.html.twig' as wiki %}

{% block body %}
<div class="panel panel-primary">
    <header class="panel-heading">
        <div class="text-center xt-heading-top">
            <a class="back-to-search" href="{{ path('rfa') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{ msg('back') }}
            </a>
            {{ wiki.pageLink(page) }}
            <small>
                &bull;
                {{ project.domain }}
            </small>
        </div>
    </header>
    <div class="panel-body xt-panel-body">
        <p class="text-center xt-heading-subtitle">
            {{ wiki.pageLogLinkRaw('User:' ~ user.username, project, msg('block-log'), 'block') }}
            {% if enabled('ec') %}
                &middot;
                <a href="{{ path('EditCounterResult', {'project':project.domain, 'username':user.username}) }}">{{ msg('tool-ec') }}</a>
            {% endif %}
            {% if isWMFLabs() %}
                &middot;
                <a href="//tools.wmflabs.org/guc/?user={{ user.username }}" target="_blank">{{ msg('global-contribs') }}</a>
            {% endif %}
            {% if not(isSingleWiki()) %}
                &middot;
                {{ wiki.pageLinkRaw('Special:CentralAuth/' ~ user.username, project, msg('sul-info')) }}
            {% endif %}
            {% if isWMFLabs() %}
                &middot;
                <a target="_blank" href="//tools.wmflabs.org/pageviews/?project={{ project.domain }}&amp;pages=User:{{ user.username }}">{{ msg('pageviews-userpage') }}</a>
            {% endif %}
        </p>

        {% set content %}
            <div class="col-lg-6 stat-list clearfix">
                <table class="table"><tbody>
                    <tr>
                        <td>{{ msg('user') }}</td>
                        <td>{{ wiki.userLink(user, project) }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('type') }}</td>
                        <td>{{ type|upper }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('rfx-tally') }}</td>
                        <td>
                            {{ support|length }}/{{ oppose|length }}/{{ neutral|length }}
                            ({{ support|length|percent_format(support|length + oppose|length + neutral|length) }})
                        </td>
                    </tr>
                    <tr>
                        <td>{{ msg('end') }}</td>
                        <td>{{ enddate }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('rfx-duplicates') }}</td>
                        <td>
                            {{ duplicates|length|number_format }}
                        </td>
                    </tr>
                </tbody></table>
            </div>
        {% endset %}
        {{ layout.content_block('summary', content) }}

        {% set content %}
            <ol>
                {% for username in support %}
                    <li>
                        {{ wiki.userLink(username, project) }}
                        {% if username in duplicates %}
                            <span class="text-danger">({{ msg("duplicate-vote")|lower }})</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        {% endset %}
        {{ layout.content_block('support', content) }}

        {% set content %}
            <ol>
                {% for username in oppose %}
                    <li>{{ wiki.userLink(username, project) }}</li>
                {% endfor %}
            </ol>
        {% endset %}
        {{ layout.content_block('oppose', content) }}

        {% set content %}
            <ol>
                {% for username in neutral %}
                    <li>{{ wiki.userLink(username, project) }}</li>
                {% endfor %}
            </ol>
        {% endset %}
        {{ layout.content_block('neutral', content) }}
    </div>
</div>
{% endblock %}
