{% extends "base.html.twig" %}
{% import 'macros/wiki.html.twig' as wiki %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <p class="xt-heading-top">
                {{ wiki.pageLinkRaw(pagename, project, pagename) }}
            </p>
        </div>
        <div class="panel-body xt-panel-body-top">
            <p>
                {{ wiki.userLogLink(username, project, msg('block-log'), 'block') }}
                &middot;
                <a href="{{ path('EditCounterResult', {"project":project.DatabaseName, "username":username}) }}">{{ msg("tool-ec") }}</a>
                {% if isWMFLabs() %}
                    &middot;
                <a href="https://tools.wmflabs.org/guc/?user={{ username }}">Global user contributions</a>
                    &middot;
                <a href="https://meta.wikimedia.org/w/index.php?title=Special%3ACentralAuth&amp;target={{ username }}">Global Account Manager</a>
                    &middot;
                <a href="https://tools.wmflabs.org/pageviews/?project=en.wikipedia.org&amp;pages=User:{{ username }}">Userpage pageviews</a>
                {% endif %}
            </p>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="topcaption">{{ msg("general-stats") }}<span class="showhide" onclick="switchShow( 'generalstats', this )">[hide]</span></h4>
                </div>
                <div class="panel-body" id="generalstats">
                    {{ wiki.userLink(username, project) }}'s {{ type|upper }} ({{ support|length }}/{{ oppose|length }}/{{ neutral|length }}, {{ percent }}%)
                    <br />
                    {{ msg("end") }}: {{ enddate }}
                    <br />
                    {{ msg("rfx-duplicates", [duplicates|length]) }}
                        <div class="container">
                                <h3>{{ msg("support") }}</h3>
                                <ol>
                                    {% for username in support %}
                                        <li>{{ wiki.userLink(username.name, project) }}</li>
                                    {% endfor %}
                                </ol>
                                <h3>{{ msg("oppose") }}</h3>
                                <ol>
                                    {% for username in oppose %}
                                        <li>{{ wiki.userLink(username.name, project) }}</li>
                                    {% endfor %}
                                </ol>
                                <h3>{{ msg("neutral") }}</h3>
                                <ol>
                                    {% for username in neutral %}
                                        <li>{{ wiki.userLink(username.name, project) }}</li>
                                    {% endfor %}
                                </ol>
                                </ol>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}