{% extends 'base.html.twig' %}
{% import 'macros/forms.html.twig' as forms %}

{% block body %}
    {% set patternDesc %}{{ msg('pattern-input-desc', ['<code>%</code>']) }}{% endset %}
    <form class="col-lg-8 col-lg-offset-2" action="{{ path('LargestPages') }}" method="get" accept-charset="utf-8" >
        <fieldset class="form-fieldset">
            {{ forms.wiki_input(project) }}
            {{ forms.namespace_select(project, true, namespace) }}
            <div class="input-group form-row">
                <label class="input-group-addon form-label" for="inclusion_pattern">
                    {{ msg('pages-inclusion-pattern') }}
                    <div class="glyphicon glyphicon-info-sign tooltipcss pull-right" role="dialog" aria-labelledby="accepted-formats-desc">
                        <div class="tooltip-body" id="accepted-formats-desc">
                            {{ msg('inclusion-pattern') }}
                            {{ patternDesc }}
                        </div>
                    </div>
                </label>
                <input class="form-control" name="include_pattern" id="inclusion_pattern" placeholder="{{ msg('optional') }}" />
            </div>
            <div class="input-group form-row">
                <label class="input-group-addon form-label" for="exclusion_pattern">
                    {{ msg('pages-exclusion-pattern') }}
                    <div class="glyphicon glyphicon-info-sign tooltipcss pull-right" role="dialog" aria-labelledby="accepted-formats-desc">
                        <div class="tooltip-body" id="accepted-formats-desc">
                            {{ msg('exclusion-pattern') }}
                            {{ patternDesc }}
                        </div>
                    </div>
                </label>
                <input class="form-control" name="exclude_pattern" id="exclusion_pattern" placeholder="{{ msg('optional') }}" />
            </div>
        </fieldset>
        {{ forms.submit_btn() }}
    </form>
{% endblock %}
