{% extends 'base.html.twig' %}
{% import 'macros/forms.html.twig' as forms %}

{% block body %}
    <form class="col-lg-8 col-lg-offset-2" action="{{ path('bash') }}" method="get" accept-charset="utf-8" >
        <fieldset class="form-fieldset">
            <div class="input-group form-row">
                <label class="input-group-addon form-label" for="id">
                        {{ msg("quote-number") }}
                </label>
                <input type="number" class="form-control" name="id" id="id" required>
                <div class="input-group-btn">
                    <button class="btn btn-large btn-primary">{{ msg("submit") }}</button>
                </div>
            </div>
        </fieldset>
        <div>
            <a class="btn btn-primary form-submit" href="{{ path('bashRandom') }}">{{ msg("quote-random") }}</a>
            <a class="btn btn-primary form-submit" href="{{ path('bashAll') }}">{{ msg("quote-show-all") }}</a>
        </div>
    </form>
{% endblock %}
