{% extends is_sub_request ? 'subrequest.html.twig' : 'editCounter/subtool.html.twig' %}
{% import 'macros/wiki.html.twig' as wiki %}
{% import 'macros/layout.html.twig' as layout %}

{% block downloadLink %}
    {{ layout.downloadLink('EditCounterMonthCounts', {project:project.domain, username:user.username}, ['wikitext', 'csv']) }}
{% endblock %}

{% block ecBody %}

{% if not project.userHasOptedIn(user) %}
    <div class="alert alert-info">
        <p>{{ msg('not-opted-in', [ wiki.pageLink(opted_in_page) ] ) }}</p>
    </div>
{% else %}

{% if ec.monthTotals|length > 0 %}
    <table class="sr-only">
        <thead>
            <tr>
                <th>{{ msg('month') }}</th>
                <th>{{ msg('count') }}</th>
                {% for ns in ec.monthCounts.totals|keys %}
                    <th>{{ nsName(ns, project.namespaces) }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for month,namespaces in ec.monthCountsWithNamespaces %}
                <tr>
                    <td>{{ month }}</td>
                    <td>{{ ec.monthTotals[month]|num_format }}</td>
                    {% for _ns,count in namespaces %}
                        <td>{{ count|num_format }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {# Set height of chart based on how many months (horizontal rows) are being reported. #}
    <div style="position:relative; height:{{ (25 * ec.monthCounts.monthLabels|length) + 30 }}px">
        <canvas id="monthcounts-canvas"></canvas>
    </div>

    <script type="text/javascript">
        $(function() {
            /** @type {Array} To be passed into Chart.js */
            var datasets = [];

            /** @type {Array} The labels for the y-axis. */
            var labels = {{ ec.monthCounts.monthLabels|json_encode|raw }};

            /** @type {Number} Max value of the year totals */
            var maxTotal = 0;

            // Format data for use in charts.
            {% for nsId,namespaceData in ec.monthCounts.totals %}
                var dataset = {
                    label: "{{ nsName(nsId, project.namespaces) }}",
                    backgroundColor: "{{ color(nsId) }}",
                    data: []
                };

                {% for year,yearData in namespaceData %}
                    {% for month,monthData in yearData %}
                        dataset.data.push({{ monthData }});

                        // Determine maximum value for the totals. This is needed
                        //   so that we know how much spacing to add in the labels.
                        if ({{ monthData }} > maxTotal) {
                            maxTotal = {{ monthData }};
                        }
                    {% endfor %}
                {%- endfor -%}

                datasets.push(dataset);
            {% endfor %}

            var showLegend = {% if is_sub_request %}false{% else %}true{% endif %};
            xtools.editcounter.setupMonthYearChart('month', datasets, labels, maxTotal, showLegend);
        });
    </script>
{% else %}
    <div class="alert alert-info">
        {{ msg('no-contribs') }}
    </div>
{% endif %}

{% endif %}

{% endblock %}
