{| class="wikitable sortable"
|-
{% for key in ['date', 'rights', 'performer', 'summary'] %}
! {{ msg(key)|ucfirst }}
{% endfor %}
{% for timestamp, change in rightsChanges %}
|-
| style="white-space: nowrap;" | {% if change.logId is not empty %}{#
    #}{% if change.type == 'local' %}{#
        #}[[Special:Redirect/logid/{{ change.logId }}|{{ timestamp|trans|date_format }}]]{#
    #}{% else %}{#
        #}[https://meta.wikimedia.org/wiki/Special:Redirect/logid/{{ change.logId }} {{ timestamp|trans|date_format }}]{#
    #}{% endif %}{#
#}{% else %}{#
    #}{{ timestamp|trans|date_format }}{#
#}{% endif %}

| {% if change.paramsDeleted %}{{ msg('data-unavailable') }}{% else %}
{% for right in change.added %}
<span style="color:#006400">+{{ ec.userRights.rightsName(right)|trim }}</span>{% if not loop.last %}, {% endif %}
{% endfor %}{% if change.added|length > 0 and change.removed|length > 0 %}

{% endif %}
{% for right in change.removed %}
<span style="color:#8B0000">-{{ ec.userRights.rightsName(right)|trim }}</span>{% if not loop.last %}, {% endif %}
{% endfor %}
{% endif %}

| {% if change.performerDeleted %}{{ msg('username-removed') }}{% else %}{% if change.performer is not empty %} <span class="plainlinks">[{% verbatim %}{{{% endverbatim %}fullurl:User:{{ change.performer }}}} {{ change.performer }}]</span>{% endif %}{% endif %}

| {% if change.grantType == 'manual' %}{% if change.commentDeleted %}{{ msg('edit-summary-removed') }}{{ change.comment }}{% else %}{% endif %}{% else %}''{{ msg('automatic') }}''{% endif %}

{% endfor %}
|}
