{% import 'macros/wiki.html.twig' as wiki %}

<table class="table table-bordered table-hover table-striped rightschanges-table">
    <thead>
        {% for key in ['date', 'rights', 'performer', 'summary'] %}
            <th>
                <span class="sort-link sort-link--{{ key }}" data-column="{{ key }}">
                    {{ msg(key)|ucfirst }}
                    <span class="glyphicon glyphicon-sort"></span>
                </span>
            </th>
        {% endfor %}
    </thead>
    <tbody>
        {% set index = 0 %}
        {% for timestamp, change in rightsChanges %}
            <tr>
                <td class="{{ change.grantType == 'pending' ? 'pending ' : '' }}sort-entry--date" data-value="{{ timestamp }}">
                    {% if change.logId is not empty %}
                        {{ wiki.logLink(change.type == 'local' ? project : metaProject, change.logId, timestamp|trans|date_format) }}
                    {% else %}
                        {{ timestamp|trans|date_format }}
                    {% endif %}
                </td>
                <td class="{{ change.grantType == 'pending' ? 'pending ' : '' }}sort-entry--rights" data-value="{{ change.added|length + change.removed|length }}">
                        {% if change.paramsDeleted %}
                            <i class="text-muted">{{ msg('data-unavailable') }}</i>
                        {% else %}
                            {% for right in change.added %}
                                <div class="diff-pos">{{ ec.userRights.rightsName(right)|trim }}</div>
                            {% endfor %}
                            {% for right in change.removed %}
                                <div class="diff-neg" dir="ltr">-{{ ec.userRights.rightsName(right)|trim }}</div>
                            {% endfor %}
                        {% endif %}
                </td>
                <td class="{{ change.grantType == 'pending' ? 'pending ' : '' }}sort-entry--performer" data-value="{{ change.performer }}">
                    {% if change.performerDeleted %}
                        <i class="text-muted">{{ msg('username-removed') }}</i>
                    {% else %}
                        {% if change.grantType == 'manual' %}
                            {{ wiki.userLink(change.performer, change.type == 'local' ? project : metaProject) }}
                        {% endif %}
                    {% endif %}
                </td>
                <td class="sort-entry--summary" data-value="{{ change.comment }}">
                    {% if change.grantType == 'manual' %}
                        {% if change.commentDeleted %}
                            <i class="text-muted">{{ msg('edit-summary-removed') }}</i>
                        {% else %}
                            {{ change.comment|wikify(change.type == 'local' ? project : metaProject)|raw }}
                        {% endif %}
                    {% else %}
                        <i class="text-muted">{{ msg('automatic') }}</i>
                    {% endif %}
                </td>
            </tr>
            {% set index = index + 1 %}
        {% endfor %}
    </tbody>
    {% if remaining > 0 and is_sub_request %}
        <tfoot><tr class="show-more-row">
            <td colspan="4">
                <a href="{{ path('EditCounterRightsChanges', {project: project.domain, username: user.usernameIdent}) }}">
                    {{ remaining }} {{ msg('num-others', [remaining]) }}
                </a>
            </td>
        </tr></tfoot>
    {% endif %}
</table>
