{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}

{% block body %}
<div class="panel panel-primary">
    <header class="panel-heading">
        <div class="text-center xt-heading-top" >
            <a class="back-to-search" href="{{ path('pages') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{ msg('back') }}
            </a>
            {{ user_link(username, project_url) }}
            <small>
                &bull;
                {{ project }}
            </small>
        </div>
    </header>

    <div class="panel-body xt-panel-body" >
        <p class="text-center xt-heading-subtitle">
            {{ user_log_link(username, project_url, msg('block-log'), 'block') }}
            {% if isWMFLabs() %}
            &middot;
            <a href="{{ link("/ec/"~project~"/"~username) }}" >{{ msg('tool-ec') }}</a>
            {% if not isSingleWiki() %}
            &middot;
            <a target="_blank" href="//tools.wmflabs.org/guc/?user={{ username }}" >{{ msg('global-contribs') }}</a>
            {% endif %}
            &middot;
            {# FIXME: make this link go to what options are set here (redirects, namespace, etc.) #}
            <a target="_blank" href="//tools.wmflabs.org/userviews/?project={{ project }}&amp;user={{ username }}">{{ msg('pageviews-pages-created') }}</a>
            {% endif %}
        </p>

        {% set multiNamspace = count|length > 1 %}

        {% if multiNamspace %}
        <div class="text-center xt-toc">
            {#
             # To save real estate, show "Namespace (talk)" where appropriate
             # instead of "Namespace" "Namespace talk"
             #}
            {% for key, value in count if (key is even or (key is odd and not(count[key - 1] is defined))) %}
                <span>
                    <a href="#{{ key }}" data-section="{{ key }}">{{ namespaces[key] }}</a>
                    {% if count[key + 1] is defined %}
                        (<a href="#{{ key+1 }}" data-section="{{ key+1 }}">{{ msg('talk') | lower }}</a>)
                    {% endif %}
                </span>
            {% endfor %}
        </div>
        {% endif %}

        {% set content %}
            <div class="col-lg-6 stat-list clearfix">
                <table class="table"><tbody>
                    <tr>
                        <td>{{ msg('namespace') }}</td>
                        <td>
                            {% if namespace == 'all' %}
                                {{ msg('all') | capitalize_first }}
                            {% else %}
                                {{ namespaces[namespace] }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ msg('redirects') }}</td>
                        <td>{{ msg('redirfilter-' ~ redirect) }}</td>
                    </tr>
                </tbody></table>
            </div>
            <div style="clear:both"></div>
            <table class="table table-bordered table-hover table-striped namespaces-table">
                <thead><tr>
                    {% for key in summaryColumns %}
                        <th>
                            <span class="sort-link sort-link--{{ key }}" data-column="{{ key }}">
                                {{ msg(key) | capitalize_first }}
                                <span class="glyphicon glyphicon-sort"></span>
                            </span>
                        </th>
                    {% endfor %}
                </tr></thead>
                <tbody>
                    {% for key, value in count %}
                    <tr>
                        <td class="sort-entry--namespace" data-value="{{ namespaces[key] }}">
                            {% if multiNamspace %}
                            <span class="namespace-toggle" data-index="{{ loop.index }}" data-ns="{{ key }}">
                                <span class="glyphicon glyphicon-remove"></span>
                            {% endif %}
                                <span class="color-icon" style="background:{{ color(key) }}"></span>
                            {% if multiNamspace %}
                            </span>
                            {% endif %}

                            <a href="#{{ key }}" >{{ namespaces[key] }}</a>
                        </td>
                        {% if redirect != 'onlyredirects' %}
                            <td class="sort-entry--pages" data-value="{{ value.total }}">
                                {{ value.total }}
                            </td>
                        {% endif %}
                        {% if redirect != 'noredirects' %}
                            <td class="sort-entry--redirects" data-value="{{ value.redirect }}">
                                {{ value.redirect }}
                                {% if redirect != 'onlyredirects' %}
                                    ({{ value.redirect | percent_format(value.total) }})
                                {% endif %}
                            </td>
                        {% endif %}
                        <td class="sort-entry--deleted" data-value="{{ value.deleted }}">
                            {{ value.deleted }}
                            ({{ value.deleted | percent_format(value.total) }})
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% if pages|length > 1 %}
                    <tfoot>
                        <th class="namespaces--namespaces">
                            {{ pages|length|number_format }}
                            {{ msg('num-namespaces', [pages|length]) }}
                        </th>
                        <th class="namespaces--pages">
                            {{ total | number_format }}
                        </th>
                        {% if 'redirects' in summaryColumns and 'pages' in summaryColumns %}
                            <th class="namespaces--redirects">
                                {{ redirectTotal | number_format }}
                                ({{ redirectTotal | percent_format(total) }})
                            </th>
                        {% endif %}
                        <th class="namespaces--deleted">
                            {{ deletedTotal | number_format }}
                            ({{ deletedTotal | percent_format(total) }})
                        </th>
                    </tfoot>
                {% endif %}
            </table>
            {% if namespace == 'all' %}
            <div class="chart-wrapper">
                <canvas id="pie_chart" width="400" height="400"></canvas>
            </div>
            {% endif %}
        {% endset %}
        {{ layout.content_block('summary', content) }}

        {% for key in pages|keys %}
            {% set content %}
                <table class="table table-bordered table-hover table-striped top-editors-table">
                    <thead><tr>
                        <th>#</th>
                        {% set columns = ['page-title', 'date', 'original-size', 'current-size'] %}
                        {% if key == '0' and hasPageAssessments %}
                            {% set columns = columns|merge(['assessment']) %}
                        {% endif %}
                        {% for thKey in columns %}
                            <th>
                                <span class="sort-link sort-link--{{ thKey }}" data-column="{{ thKey }}">
                                    {{ msg(thKey) | capitalize_first }}
                                    <span class="glyphicon glyphicon-sort"></span>
                                </span>
                            </th>
                        {% endfor %}
                        <th>{{ msg('links') }}</th>
                    </tr></thead>
                    <tbody>
                        {% set index = 0 %}
                        {% set maxRows = 100 %}
                        {% for date,pageList in pages[key] if not(multiNamspace) or (index < maxRows and multiNamspace) %}
                            {% for page in pageList if not(multiNamspace) or (index < maxRows and multiNamspace) %}
                                {% set index = index + 1 %}
                                <tr>
                                    <td>{{ index }}</td>
                                    {% if key == 0 %}
                                        {% set pagename = page.page_title | e %}
                                    {% else %}
                                        {% set pagename = namespaces[key]~":"~page.page_title %}
                                    {% endif %}
                                    <td class="sort-entry--page" data-value="{{ pagename }}">
                                        {{ wiki_link(pagename, project_url) }}
                                        {% if page.page_is_redirect %}
                                            <small class="text-warning">&middot; ({{ msg("redirect") }})</small>
                                        {% endif %}
                                        {% if page.type == "arc" %}
                                            <small class="text-danger">&middot; ({{ msg("deleted") }})</small>
                                        {% endif %}
                                    </td>
                                    <td class="sort-entry--date" data-value="{{ date }}">
                                        {{ perma_link(page.rev_id, project_url, page.human_time) }}
                                    </td>
                                    <td class="sort-entry--original-size" data-value="{{ page.rev_len }}">
                                        {{ page.rev_len | number_format }}
                                    </td>
                                    <td class="sort-entry--current-size" data-value="{{ page.page_len }}">
                                        {{ page.page_len | number_format }}
                                    </td>
                                    {% if key == '0' and hasPageAssessments %}
                                        <td class="sort-entry--assessment" data-value="{{ page.pa_class ? page.pa_class : 'Unknown' }}">
                                            {% if page.badge is defined %}
                                            <img alt="{{ page.pa_class }}" src="{{ page.badge }}" class="assessment-badge" />
                                            {% endif %}
                                            {{ page.pa_class ? page.pa_class : msg('unknown') }}
                                        </td>
                                    {% endif %}
                                    <td>
                                        {{ wiki_log_link(pagename, project_url) }}
                                        &middot;
                                        {{ wiki_history_link(pagename, project_url) }}
                                        {% if enabled('articleinfo') %}
                                            &middot;
                                            <a href="{{ path('articleinfo', { 'project': project, 'article': pagename }) }}">{{ msg('tool-articleinfo') }}</a>
                                        {% endif %}
                                        {% if enabled('topedits') %}
                                            &middot;
                                            <a href="{{ path('topedits', { 'project': project, 'username': username, 'namespace': namespace, 'page': page.page_title }) }}">{{ msg('tool-topedits') }}</a>
                                        {% endif %}
                                        {% if isWMFLabs() %}
                                            &middot;
                                            <a target="_blank" href="https://tools.wmflabs.org/pageviews?project={{ project }}&pages={{ pagename }}">
                                                {{ msg('pageviews') }}
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        {% if count[key]['total'] > maxRows and multiNamspace %}
                            <tr class="show-more-row">
                                <td></td>
                                <td colspan=6>
                                    <a href="{{ path('pages', { 'project': project, 'username': username, 'namespace': key, 'redirects': redirect }) }}">
                                        {{ msg('num-others', [count[key]['total'] - maxRows]) }}
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            {% endset %}
            {{ layout.content_block(namespaces[key], content, null, key, true) }}
        {% endfor %}
    </div>

    {% if namespace == 'all' %}
        {% set nsIds = count|keys %}
        <script>
            var ctx = document.getElementById("pie_chart");
            window.pieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [
                        {% for ns in nsIds %}
                            "{{ namespaces[ns] }}"{% if not loop.last %},{% endif %}
                        {% endfor %}
                    ],
                    datasets: [{
                        data: [
                            {% for value in count %}
                                {% if value.total is defined %}{{ value.total }}{% else %}0{% endif %}{% if not loop.last %},{% endif %}
                            {% endfor %}
                        ],
                        backgroundColor: [
                            {% for ns in nsIds %}
                                '{{ color(ns) }}'{% if not loop.last %},{% endif %}
                            {% endfor %}
                        ],
                        borderColor: [
                            {% for ns in nsIds %}
                                '{{ color(ns) }}'{% if not loop.last %},{% endif %}
                            {% endfor %}
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: {
                      display: false,
                    }
                }
            });
            window.countsByNamespace = {{ count | json_encode() | raw }};
        </script>
    {% endif %}
</div>
{% endblock %}