{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}

{% block body %}
<div class="panel panel-primary">
    <header class="panel-heading">
        <div class="text-center xt-heading-top" >
            <a class="back-to-search" href="{{ path('pages') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{ msg('back') }}
            </a>
            {{ user_link(username, project_url) }}
            <small>
                &bull;
                {{ project }}
            </small>
        </div>
    </header>

    <div class="panel-body xt-panel-body" >
        <p class="text-center xt-heading-subtitle">
            {{ wiki_log_link('User:'~username, project_url, msg('block_log'), 'block') }}
            &middot;
            <a href="{{ path('EditCounterResult', {project:project, username:username}) }}" >{{ msg('tool_ec') }}</a>
            {% if not isSingleWiki() %}
            &middot;
            <a target="_blank" href="//tools.wmflabs.org/guc/?user={{ username }}" >{{ msg('global_contribs') }}</a>
            {% endif %}
            {% if isWMFLabs() %}
            &middot;
            <a href="{{ link("/ec/"~project~"/"~username) }}" >{{ msg('tool_ec') }}</a>
            &middot;
            {# FIXME: make this link go to what options are set here (redirects, namespace, etc.) #}
            <a target="_blank" href="//tools.wmflabs.org/userviews/?project={{ project }}&amp;user={{ username }}">{{ msg('pageviews_pages_created') }}</a>
            {% endif %}
        </p>

        {% set content %}
            <div class="col-lg-6 stat-list clearfix">
                <table class="table"><tbody>
                    <tr>
                        <td>{{ msg('namespace') }}</td>
                        <td>{{ namespaces[namespace] }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('redirects') }}</td>
                        <td>{{ redirect }}</td>
                    </tr>
                </tbody></table>
            </div>
            <div style="clear:both"></div>
            <table class="table table-bordered table-hover table-striped top-editors-table">
                <thead><tr>
                    {% for key in ['namespace', 'pages', 'redirects', 'deleted'] %}
                        <th>
                            <span class="sort-link sort-link--{{ key }}" data-column="{{ key }}">
                                {{ msg(key) | capitalize_first }}
                                <span class="glyphicon glyphicon-sort"></span>
                            </span>
                        </th>
                    {% endfor %}
                </tr></thead>
                <tbody>
                    {% for key, value in count %}
                    <tr>
                        <td class="sort-entry--namespace" data-value="{{ namespaces[key] }}">
                            <span class="color-icon" style="background:{{ color(key) }}"></span>
                            <a href="#{{ key }}" >{{ namespaces[key] }}</a>
                        </td>
                        <td class="sort-entry--pages" data-value="{{ value.total }}">
                            {% if value.total is defined %}
                                {{ value.total }}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        {% if value.redirect is defined %}
                            <td class="sort-entry--redirects" data-value="{{ value.redirect }}">
                                {{ value.redirect }}
                            </td>
                        {% endif %}
                        <td class="sort-entry--deleted" data-value="{{ value.deleted }}">
                            {{ value.deleted }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="chart-wrapper">
                <canvas id="pie_chart" width="400" height="400"></canvas>
            </div>
        {% endset %}
        {{ layout.content_block('namespacetotals', content) }}

        {% set content %}
            {% for key in pages|keys %}
                <h3 id={{ key }}>{{ namespaces[key] }}</h3>
                <table class="table table-bordered table-hover table-striped top-editors-table">
                    <thead><tr>
                        <th>#</th>
                        {% for key in ['page', 'date'] %}
                            <th>
                                <span class="sort-link sort-link--{{ key }}" data-column="{{ key }}">
                                    {{ msg(key) | capitalize_first }}
                                    <span class="glyphicon glyphicon-sort"></span>
                                </span>
                            </th>
                        {% endfor %}
                        <th>{{ msg('links') }}</th>
                    </tr></thead>
                    <tbody>
                        {% for date,value in pages[key] %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            {% if key == 0 %}
                                {% set pagename = value['page_title']|e %}
                            {% else %}
                                {% set pagename = namespaces[key]~":"~value["page_title"] %}
                            {% endif %}
                            <td class="sort-entry--page" data-value="{{ pagename }}">
                                {{ wiki_link(pagename, project_url) }}
                                {% if value["page_is_redirect"] %}
                                    <small class="text-warning">&middot; ({{ msg("redirect") }})</small>
                                {% endif %}
                                {% if value["type"] == "arc" %}
                                    <small class="text-danger">&middot; ({{ msg("deleted") }})</small>
                                {% endif %}
                            </td>
                            <td class="sort-entry--date" data-value="{{ value['human_time'] }}">
                                {{ value["human_time"] }}
                            </td>
                            <td>
                                {{ wiki_log_link(pagename, project_url) }}
                                &middot;
                                {{ wiki_history_link(pagename, project_url) }}
                                {% if enabled('articleinfo') %}
                                    &middot;
                                    <a href="{{ path('articleinfo', { 'project': project, 'article': pagename }) }}">{{ msg('tool_articleinfo') }}</a>
                                {% endif %}
                                {% if enabled('topedits') %}
                                    &middot;
                                    <a href="{{ path('topedits', { 'project': project, 'username': username, 'namespace': namespace, 'page': value['page_title'] }) }}">{{ msg('tool_topedits') }}</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        {% endset %}
        {{ layout.content_block('pages_created', content) }}
    </div>

    <script>
        var ctx = document.getElementById("pie_chart");
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
        {% set first = 1 %}
                labels: [{% for key,value in count %}{% if not first %},{% endif %}"{{ namespaces[key] }}"{% set first = 0 %}{% endfor %}],
                datasets: [{
                    {% set first = 1 %}
                    data: [{% for value in count %}{% if not first %},{% endif %}{% if value.total is defined %}{{ value.total }}{% else %}0{% endif %}{% set first = 0 %}{% endfor %}],
                    {% set first = 1 %}
                    backgroundColor: [{% for key,value in count %}{% if not first %},{% endif %}'{{ color(key) }}'{% set first = 0 %}{% endfor %}],
                    {% set first = 1 %}
                    borderColor: [{% for key,value in count %}{% if not first %},{% endif %}'{{ color(key) }}'{% set first = 0 %}{% endfor %}],
                    borderWidth: 1
                }]
            }
        });
    </script>
</div>
{% endblock %}