{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}

{% block body %}
<div class="panel panel-primary">
    <header class="panel-heading">
        <div class="text-center xt-heading-top" >
            <a class="back-to-search" href="{{ path('pages') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{ msg('back') }}
            </a>
            {{ user_link(username, project_url) }}
            <small>
                &bull;
                {{ project }}
            </small>
        </div>
    </header>

    <div class="panel-body xt-panel-body" >
        <p class="text-center xt-heading-subtitle">
            {{ user_log_link(username, project_url, msg('block_log'), 'block') }}
            {% if isWMFLabs() %}
            &middot;
            <a href="{{ link("/ec/"~project~"/"~username) }}" >{{ msg('tool_ec') }}</a>
            {% if not isSingleWiki() %}
            &middot;
            <a target="_blank" href="//tools.wmflabs.org/guc/?user={{ username }}" >{{ msg('global_contribs') }}</a>
            {% endif %}
            &middot;
            {# FIXME: make this link go to what options are set here (redirects, namespace, etc.) #}
            <a target="_blank" href="//tools.wmflabs.org/userviews/?project={{ project }}&amp;user={{ username }}">{{ msg('pageviews_pages_created') }}</a>
            {% endif %}
        </p>

        {% set content %}
            <div class="col-lg-6 stat-list clearfix">
                <table class="table"><tbody>
                    <tr>
                        <td>{{ msg('namespace') }}</td>
                        <td>{{ namespaces[namespace] }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('redirects') }}</td>
                        <td>{{ msg('redirfilter_' ~ redirect) }}</td>
                    </tr>
                </tbody></table>
            </div>
            <div style="clear:both"></div>
            <table class="table table-bordered table-hover table-striped top-editors-table">
                <thead><tr>
                    {% for key in summaryColumns %}
                        <th>
                            <span class="sort-link sort-link--{{ key }}" data-column="{{ key }}">
                                {{ msg(key) | capitalize_first }}
                                <span class="glyphicon glyphicon-sort"></span>
                            </span>
                        </th>
                    {% endfor %}
                </tr></thead>
                <tbody>
                    {% for key, value in count %}
                    <tr>
                        <td class="sort-entry--namespace" data-value="{{ namespaces[key] }}">
                            <span class="color-icon" style="background:{{ color(key) }}"></span>
                            <a href="#{{ key }}" >{{ namespaces[key] }}</a>
                        </td>
                        {% if redirect != 'onlyredirects' %}
                            <td class="sort-entry--pages" data-value="{{ value.total }}">
                                {{ value.total }}
                            </td>
                        {% endif %}
                        {% if redirect != 'noredirects' %}
                            <td class="sort-entry--redirects" data-value="{{ value.redirect }}">
                                {{ value.redirect }}
                                {% if redirect != 'onlyredirects' %}
                                    ({{ value.redirect | percent_format(value.total) }})
                                {% endif %}
                            </td>
                        {% endif %}
                        <td class="sort-entry--deleted" data-value="{{ value.deleted }}">
                            {{ value.deleted }}
                            ({{ value.deleted | percent_format(value.total) }})
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if namespace == 'all' %}
            <div class="chart-wrapper">
                <canvas id="pie_chart" width="400" height="400"></canvas>
            </div>
            {% endif %}
        {% endset %}
        {{ layout.content_block('summary', content) }}

        {% set content %}
            {% for key in pages|keys %}
                <h3 id={{ key }}>{{ namespaces[key] }}</h3>
                <table class="table table-bordered table-hover table-striped top-editors-table">
                    <thead><tr>
                        <th>#</th>
                        {% for key in ['page', 'date', 'original_size'] %}
                            <th>
                                <span class="sort-link sort-link--{{ key }}" data-column="{{ key }}">
                                    {{ msg(key) | capitalize_first }}
                                    <span class="glyphicon glyphicon-sort"></span>
                                </span>
                            </th>
                        {% endfor %}
                        {% if hasPageAssessments %}
                            <th>
                                <span class="sort-link sort-link--assessment" data-column="assessment">
                                    {{ msg('assessment') | capitalize_first }}
                                    <span class="glyphicon glyphicon-sort"></span>
                                </span>
                            </th>
                        {% endif %}
                        <th>{{ msg('links') }}</th>
                    </tr></thead>
                    <tbody>
                        {% set index = 0 %}
                        {% for date,pageList in pages[key] %}
                            {% for page in pageList %}
                                {% set index = index + 1 %}
                                <tr>
                                    <td>{{ index }}</td>
                                    {% if key == 0 %}
                                        {% set pagename = page.page_title | e %}
                                    {% else %}
                                        {% set pagename = namespaces[key]~":"~page.page_title %}
                                    {% endif %}
                                    <td class="sort-entry--page" data-value="{{ pagename }}">
                                        {{ wiki_link(pagename, project_url) }}
                                        {% if page.page_is_redirect %}
                                            <small class="text-warning">&middot; ({{ msg("redirect") }})</small>
                                        {% endif %}
                                        {% if page.type == "arc" %}
                                            <small class="text-danger">&middot; ({{ msg("deleted") }})</small>
                                        {% endif %}
                                    </td>
                                    <td class="sort-entry--date" data-value="{{ date }}">
                                        {{ perma_link(page.rev_id, project_url, page.human_time) }}
                                    </td>
                                    <td class="sort-entry--original_size" data-value="{{ page.rev_len }}">
                                        {{ page.rev_len | number_format }}
                                    </td>
                                    {% if hasPageAssessments %}
                                        <td class="sort-entry--assessment" data-value="{{ page.pa_class }}">
                                            {% if page.badge is defined %}
                                            <img alt="{{ page.pa_class }}" src="{{ page.badge }}" class="assessment-badge" />
                                            {% endif %}
                                            {{ page.pa_class ? page.pa_class : msg('unknown') }}
                                        </td>
                                    {% endif %}
                                    <td>
                                        {{ wiki_log_link(pagename, project_url) }}
                                        &middot;
                                        {{ wiki_history_link(pagename, project_url) }}
                                        {% if enabled('articleinfo') %}
                                            &middot;
                                            <a href="{{ path('articleinfo', { 'project': project, 'article': pagename }) }}">{{ msg('tool_articleinfo') }}</a>
                                        {% endif %}
                                        {% if enabled('topedits') %}
                                            &middot;
                                            <a href="{{ path('topedits', { 'project': project, 'username': username, 'namespace': namespace, 'page': page['page_title'] }) }}">{{ msg('tool_topedits') }}</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        {% endset %}
        {{ layout.content_block('pages_created', content) }}
    </div>

    {% if namespace == 'all' %}
        {% set nsIds = count|keys %}
        <script>
            var ctx = document.getElementById("pie_chart");
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [
                        {% for ns in nsIds %}
                            "{{ namespaces[ns] }}"{% if not loop.last %},{% endif %}
                        {% endfor %}
                    ],
                    datasets: [{
                        data: [
                            {% for value in count %}
                                {% if value.total is defined %}{{ value.total }}{% else %}0{% endif %}{% if not loop.last %},{% endif %}
                            {% endfor %}
                        ],
                        backgroundColor: [
                            {% for ns in nsIds %}
                                '{{ color(ns) }}'{% if not loop.last %},{% endif %}
                            {% endfor %}
                        ],
                        borderColor: [
                            {% for ns in nsIds %}
                                '{{ color(ns) }}'{% if not loop.last %},{% endif %}
                            {% endfor %}
                        ],
                        borderWidth: 1
                    }]
                }
            });
        </script>
    {% endif %}
</div>
{% endblock %}