{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}
{% import 'macros/wiki.html.twig' as wiki %}
{% import 'macros/pieChart.html.twig' as chart %}

{% block body %}
<div class="panel panel-primary">
    <header class="panel-heading">
        <div class="text-center xt-heading-top">
            <a class="back-to-search" href="{{ path('articleinfo') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{ msg('back') }}
            </a>
            {{ wiki.pageLink(page) }}
            <small>
                &bull;
                {{ project.domain }}
            </small>
        </div>
    </header>

    <div class="panel-body xt-panel-body">
        <p class="text-center xt-heading-subtitle">
            {{ wiki.pageHistLink(page) }}
            &middot;
            {{ wiki.pageLogLink(page) }}
            {% if isWMFLabs() %}
                &middot;
                {{ wiki.pageviewsLinks(page) }}
                {% if page.wikidataId is defined %}
                    &middot;
                    {{ wiki.extLink('https://tools.wmflabs.org/reasonator/?q=' ~ page.wikidataId, 'Resonator (Wikidata)') }}
                {% endif %}
            {% endif %}
        </p>

        <div class="text-center xt-toc">
            {% set sections = ['general-stats', 'top-editors', 'year-counts', 'month-counts'] %}
            {% if general.automated_count > 0 %}
                {% set sections = sections|merge(['auto-edits']) %}
            {% endif %}
            {% if assessments is defined %}
                {% set sections = sections|merge(['assessments']) %}
            {% endif %}
            {% if bugs is defined %}
                {% set sections = sections|merge(['bugs']) %}
            {% endif %}

            {% for section in sections %}
                <span>
                    <a href="#{{ section }}" data-section="{{ section }}">{{ msg(section) }}</a>
                </span>
            {% endfor %}
        </div>

        {# ======================== GENERAL STATS ======================== #}
        {% set content %}
            <div class="col-lg-6 stat-list clearfix">
                <table class="table"><tbody>
                    <tr>
                        <td>ID</td>
                        <td>
                            {{ wiki.pageInfoLink(page, page.id) }}
                        </td>
                    </tr>
                    {% if page.wikidataId is not empty %}
                    <tr>
                        <td>Wikidata ID</td>
                        <td>
                            {{ wiki.extLink('https://www.wikidata.org/wiki/' ~ page.wikidataId, page.wikidataId) }}
                            &middot;
                            {{ numWikidataItems|number_format }} {{ msg('num-sitelinks', [numWikidataItems]) }}
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>{{ msg('page-size') }}</td>
                        <td>{{ page.length|number_format }} {{ msg('num-bytes', [page.length]) }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('total-edits') }}</td>
                        <td>{{ page.numRevisions|number_format }}</td>
                    </tr>
                    <tr>
                        <td>
                            <a class="rm-inline-margin" href="#usertable">{{ msg('editors') }}</a>
                        </td>
                        <td>{{ general.editor_count|number_format }}</td>
                    </tr>
                    {% if assessments is defined %}
                        <tr>
                            <td>
                                <a class="rm-inline-margin" href="#assessments">{{ msg('assessment') }}</a>
                            </td>
                            <td>
                                {% set assessment_value %}
                                    {% if assessments.assessment.badge is defined %}
                                        <img alt="{{ assessments.assessment.value }}" src="{{ assessments.assessment.badge }}" class="assessment-badge" />
                                        {{ assessments.assessment.value }}
                                    {% else %}
                                        {{ assessments.assessment.value }}
                                    {% endif %}
                                {% endset %}
                                {{ wiki.pageLinkRaw(assessments.assessment.category, project, assessment_value) }}
                            </td>
                        </tr>
                    {% endif %}

                    <tr>
                        <td class="stat-list--new-group">{{ msg('minor-edits') }}</td>
                        <td class="stat-list--new-group">
                            {{ general.minor_count|number_format }} &middot; ({{ general.minor_percentage }}%)
                        </td>
                    </tr>
                    <tr>
                        <td>{{ msg('ip-edits') }}</td>
                        <td>{{ general.anon_count|number_format }} &middot; ({{ general.anon_percentage }}%)</td>
                    </tr>
                    <tr>
                        <td>{{ msg('bot-edits') }}</td>
                        <td>{{ general.bot_revision_count|number_format }} &middot; ({{ general.bot_percentage }}%)</td>
                    </tr>
                    <tr>
                        <td>
                            <a class="rm-inline-margin" href="#auto-edits">{{ msg('auto-edits') }}</a>
                        </td>
                    </td>
                    <td>{{ general.automated_count|number_format }}</td>
                    <tr>
                        <td>{{ msg('reverted-edits') }}</td>
                        <td>{{ general.revert_count|number_format }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('average-time-bw-edits') }}</td>
                        <td>{{ general.average_days_per_edit }} {{ msg('num-days', [general.average_days_per_edit]) }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('average-edits-per-user') }}</td>
                        <td>{{ general.edits_per_editor|number_format(1) }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('average-edits-per-day') }}</td>
                        <td>{{ general.edits_per_day }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('average-edits-per-month') }}</td>
                        <td>{{ general.edits_per_month|number_format(1) }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('average-edits-per-year') }}</td>
                        <td>{{ general.edits_per_year|number_format(1) }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('edits-last-day') }}</td>
                        <td>{{ general.count_history.day|number_format }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('edits-last-week') }}</td>
                        <td>{{ general.count_history.week|number_format }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('edits-last-month') }}</td>
                        <td>{{ general.count_history.month|number_format }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('edits-last-year') }}</td>
                        <td>{{ general.count_history.year|number_format }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('top-ten-count') }}</td>
                        <td>{{ general.top_ten_count|number_format }} &middot; ({{ general.top_ten_percentage }}%)</td>
                    </tr>
                </tbody></table>
            </div>
            <div class="col-lg-6 stat-list clearfix">
                <table class="table"><tbody>
                    <tr>
                        <td>{{ msg('first-edit') }}</td>
                        <td>
                            {{ wiki.diffLink(firstEdit, firstEdit.timestamp) }}
                            &bull;
                            {{ wiki.userLink(firstEdit.user, project) }}
                            &bull;
                            {{ firstEdit.size|diff_format }}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ msg('latest-edit') }}</td>
                        <td>
                            {{ wiki.diffLink(lastEdit, lastEdit.timestamp) }}
                            &bull;
                            {{ wiki.userLink(lastEdit.user, project) }}
                            &bull;
                            {{ lastEdit.size|diff_format }}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ msg('max-text-added') }}</td>
                        <td>
                            {{ wiki.diffLink(general.max_add, general.max_add.timestamp) }}
                            &bull;
                            {{ wiki.userLink(general.max_add.user, project) }}
                            &bull;
                            {{ general.max_add.size|diff_format }}
                        </td>
                    </tr>
                    {% if general.max_del is defined %}
                        <tr>
                            <td>{{ msg('max-text-deleted') }}</td>
                            <td>
                                {{ wiki.diffLink(general.max_del, general.max_del.timestamp) }}
                                &bull;
                                {{ wiki.userLink(general.max_del.user, project) }}
                                &bull;
                                {{ general.max_del.size|diff_format }}
                            </td>
                        </tr>
                    {% endif %}

                    <tr>
                        <td class="stat-list--new-group">{{ msg('links-in') }}</td>
                        <td class="stat-list--new-group">
                            {{ wiki.pageLinksInLink(page, links_in_count|number_format) }}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ msg('redirects') }}</td>
                        <td>
                            {{ wiki.pageRedirectsLink(page, redirects_count|number_format) }}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ msg('links-out') }}</td>
                        <td>{{ links_out_count|number_format }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('links-external') }}</td>
                        <td>{{ links_ext_count|number_format }}</td>
                    </tr>
                    <tr>
                        <td>{{ msg('page-watchers') }}</td>
                        <td>{{ page.watchers is defined ? page.watchers : '< 30' }}</td>
                    </tr>
                    </tr>
                    {% if isWMFLabs() %}
                    <tr>
                        <td>{{ msg('pageviews') }} (60 {{ msg('num-days', [60]) }})</td>
                        <td>
                            {{ wiki.pageviewsLink(page, general.pageviews|number_format, '&range=latest-'~general.pageviews_offset) }}
                        </td>
                    </tr>
                    {% endif %}

                    {% if bugs is defined %}
                    <tr>
                        <td class="stat-list--new-group"><a href='#bugs'>{{ msg('bugs') }}</a></td>
                        <td class="stat-list--new-group">{{ bugs|length }}</td>
                    </tr>
                    {% endif %}
                </tbody></table>
            </div>
            <div class="basic-info-charts clearfix">
                {{
                    chart.pie_chart('users_ips',
                        [{
                            label: msg('accounts'),
                            value: page.numRevisions - general.anon_count,
                            percentage: 100 - general.anon_percentage
                        },
                        {
                            label: msg('ips'),
                            value: general.anon_count,
                            percentage: general.anon_percentage
                        }]
                    )
                }}
                {{
                    chart.pie_chart('minor_major',
                        [{
                            label: msg('major-edits'),
                            value: page.numRevisions - general.minor_count,
                            percentage: 100 - general.minor_percentage,
                        },
                        {
                            label: msg('minor-edits'),
                            value: general.minor_count,
                            percentage: general.minor_percentage,
                        }]
                    )
                }}
                {{
                    chart.pie_chart('top_bottom',
                        [{
                            label: msg('top-ten-percent'),
                            value: general.top_ten_count,
                            percentage: general.top_ten_percentage,
                        },
                        {
                            label: msg('bottom-ninety'),
                            value: page.numRevisions - general.top_ten_count,
                            percentage: 100 - general.top_ten_percentage,
                        }]
                    )
                }}
            </div>
        {% endset %}
        {{ layout.content_block('general-stats', content) }}

        <div style="clear:both"></div>

        {# ======================== TOP EDITORS ======================== #}
        {% set content %}
            <div class="top-editors-charts clearfix">
                <div class="pull-left">
                    <div class="chart-title">{{ msg('top-ten-by-edits')|capitalize_first }}</div>
                    {{ chart.pie_chart('top_by_edits', topTenEditors) }}
                </div>
                <div class="pull-left">
                    <div class="chart-title">{{ msg('top-ten-by-text')|capitalize_first }}</div>
                    {{ chart.pie_chart('top_by_added', topTenEditorsByAdded) }}
                </div>
            </div>
            <table class="table table-bordered table-hover table-striped top-editors-table">
                <thead><tr>
                    {% for key in ['rank', 'username', 'links', 'edits', 'minor-edits', 'minor-edits-percentage', 'first-edit', 'latest-edit', 'average-time-bw-edits', 'added-bytes'] %}
                        <th>
                            <span{% if key != "links" %} class="sort-link sort-link--{{ key }}" data-column="{{ key }}"{% endif %}>
                                {% if key == 'average-time-bw-edits' %}
                                    atbe<sup>1</sup>
                                {% else %}
                                    {{ msg(key)|capitalize_first }}
                                {% endif %}
                                {% if key == 'added_bytes' %}
                                    <sup class="rm-inline-margin-left">2</sup>
                                {% endif %}
                                {% if key != "links" %}<span class="glyphicon glyphicon-sort"></span>{% endif %}
                            </span>
                        </th>
                    {% endfor %}
                </tr></thead>
                <tbody>
                {% set counter = 0 %}
                {% set edit_sum = 0 %}
                {% set editorlimit = app.request.query.get("editorlimit")|default(20) %}
                {% for editor, stats in editors|slice(0, editorlimit ) %}
                    {% set counter = counter + 1 %}
                    {% set edit_sum = edit_sum + stats.all %}
                    <tr>
                        <td class="sort-entry--rank" data-value="{{ counter }}">{{ counter }}</td>
                        <td class="sort-entry--username" data-value="{{ editor }}">
                            {{ wiki.userLink(editor, project) }}
                        </td>
                        <td>
                            {% if enabled('ec') %}
                                <a href="{{ path('ec', { 'project': project.domain, 'username': editor }) }}">{{ msg('tool-ec') }}</a>
                            {% endif %}
                            &middot;
                            {% if enabled('topedits') %}
                                <a href="{{ path('topedits', { 'project': project.domain, 'username': editor }) }}">{{ msg('tool-topedits') }}</a>
                            {% endif %}
                        </td>
                        <td class="sort-entry--edits" data-value="{{ stats.all }}">
                            {{ stats.all|number_format }}
                        </td>
                        <td class="sort-entry--minor-edits" data-value="{{ stats.minor }}">{{ stats.minor|number_format }}</td>
                        {% set user_minor_percent = stats.minor|percent_format(stats.all) %}
                        <td class="sort-entry--minor-percentage" data-value="{{ user_minor_percent }}">{{ user_minor_percent }}</td>
                        <td class="sort-entry--first-edit" data-value="{{ stats.first_id }}">
                            {{ wiki.pageLinkRaw('Special:Diff/'~stats.first_id, project, stats.first) }}
                        </td>
                        <td class="sort-entry--latest-edit" data-value="{{ stats.last_id }}">
                            {{ wiki.pageLinkRaw('Special:Diff/'~stats.last_id, project, stats.last) }}
                        </td>
                        <td class="sort-entry--average-time-bw-edits" data-value="{{ stats.atbe }}">
                            {{ stats.atbe|number_format(1) }}
                        </td>
                        <td class="sort-entry--added-bytes" data-value="{{ stats.added }}">
                            {{ stats.added|number_format }}
                        </td>
                    </tr>
                {% endfor %}
                {% if counter < editors|length %}
                <tr class="show-more-row">
                    <td></td>
                    <td>
                        {% set expand_url = path(app.request.attributes.get('_route'), app.request.get('_route_params')|merge({'editorlimit': editorlimit * 10})) %}
                        <a href="{{ expand_url }}">{{ msg('num-others', [editors|length - counter]) }}</a>
                    </td>
                    <td></td>
                    <td>{{ (page.numRevisions - edit_sum)|number_format }}</td>
                    <td colspan=6></td>
                </tr>
                {% endif %}
                </tbody>
            </table>
            <div class="footnotes">
                <sup>1</sup> {{ msg('average-time-bw-edits') }}
                <br/><sup>2</sup> {{ msg('text-added-description') }}
            </div>

            {% if bots is not empty %}
            <h4>{{ msg('bot-list') }}</h4>
            <table class="table table-bordered table-hover table-striped">
                <thead><tr>
                    <th>
                        <span class="sort-link sort-link--username" data-column="username">
                            {{ msg('bot') }}
                            <span class="glyphicon glyphicon-sort"></span>
                        </span>
                    </th>
                    <th>{{ msg('links') }}</th>
                    <th>
                        <span class="sort-link sort-link--edits" data-column="count">
                            {{ msg('edits') }}
                            <span class="glyphicon glyphicon-sort"></span>
                        </span>
                    </th>
                </tr></thead>
                <tbody>
                {% for bot, bot_data in bots %}
                    <tr>
                        <td class="sort-entry--username" data-value="{{ bot }}">
                            {{ wiki.userLink(bot, project) }}
                            {% if not bot_data.current %}
                                <i>
                                    ({{ wiki.pageLogLinkRaw('User:'~bot, project, msg('former-bot'), 'rights') }})
                                </i>
                            {% endif %}
                        </td>
                        <td>
                            {% if enabled('ec') %}
                                <a href="{{ path('ec', { 'project': project.domain, 'user': bot }) }}">{{ msg('tool-ec') }}</a>
                            {% endif %}
                            &middot;
                            {% if enabled('topedits') %}
                                <a href="{{ path('topedits', { 'project': project.domain, 'user': bot }) }}">{{ msg('tool-topedits') }}</a>
                            {% endif %}
                        </td>
                        <td class="sort-entry--count" data-value="{{ bot_data.count }}">{{ bot_data.count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        {% endset %}
        {{ layout.content_block('top-editors', content) }}

        {# ======================== YEAR COUNTS ======================== #}
        {% set content %}
            <script>
                $(function() {
                    var yearDatasets = [{
                        type: 'bar',
                        label: "{{ msg('all-edits') }}",
                        backgroundColor: "{{ chartColor(0) }}",
                        data: [],
                        yAxisID: 'edits',
                    },
                    {
                        type: 'bar',
                        label: "{{ msg('minor-edits') }}",
                        backgroundColor: "{{ chartColor(1) }}",
                        data: [],
                        yAxisID: 'edits',
                    },
                    {
                        type: 'bar',
                        label: "{{ msg('ip-edits') }}",
                        backgroundColor: "{{ chartColor(2) }}",
                        data: [],
                        yAxisID: 'edits',
                    },
                    {
                        type: 'line',
                        label: "{{ msg('size') }}",
                        borderColor: "{{ chartColor(3) }}",
                        backgroundColor: "{{ chartColor(3) }}",
                        fill: false,
                        data: [],
                        yAxisID: 'size',
                    }];

                    // restructure data the way Chart.js wants it
                    {% for year in year_count|keys %}
                        yearDatasets[0].data.push({{ year_count[year].all }});
                        yearDatasets[1].data.push({{ year_count[year].minor }});
                        yearDatasets[2].data.push({{ year_count[year].anon }});
                        yearDatasets[3].data.push({{ year_count[year].size }});
                    {% endfor %}

                    new Chart($("#year_count"), {
                        type: 'bar',
                        data: {
                            labels: {{ year_count|keys|json_encode()|raw }},
                            datasets: yearDatasets,
                        },
                        options: {
                            responsive: true,
                            legend: {
                                display: false,
                            },
                            tooltips: {
                                mode: 'label'
                            },
                            barValueSpacing: 20,
                            scales: {
                                yAxes: [{
                                    id: 'edits',
                                    type: 'linear',
                                    position: 'left',
                                    gridLines:{
                                        display: false
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: "{{ msg('edits') }}"
                                    }
                                }, {
                                    id: 'size',
                                    type: 'linear',
                                    position: 'right',
                                    gridLines:{
                                        display: false
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: "{{ msg('size') }}"
                                    }
                                }],
                            },
                        },
                    });
                });
            </script>
            <div class="year-count-charts clearfix">
                <div class="chart-wrapper">
                    <div class="canvas-wrapper">
                        <canvas id="year_count" height="400" width="800"></canvas>
                    </div>
                    <span class="chart-legend" id="year_count_legend">
                        <div class="legend-body">
                            <div>
                                <span class="color-icon" style="background:{{ chartColor(0) }}"></span>
                                <span class="legend-label">{{ msg('all-edits') }}</span>
                            </div>
                            <div>
                                <span class="color-icon" style="background:{{ chartColor(1) }}"></span>
                                <span class="legend-label">{{ msg('minor-edits') }}</span>
                            </div>
                            <div>
                                <span class="color-icon" style="background:{{ chartColor(2) }}"></span>
                                <span class="legend-label">{{ msg('ip-edits') }}</span>
                            </div>
                            <div>
                                <span class="color-icon" style="background:{{ chartColor(3) }}"></span>
                                <span class="legend-label">{{ msg('size') }}</span>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
            <table class="table table-bordered table-hover table-striped">
                <thead><tr>
                    {% for key in ['year', 'edits', 'ips', 'ips-percentage', 'minor-edits', 'minor-edits-percentage', 'log-events'] %}
                        <th>
                            <span class="sort-link sort-link--{{ key }}" data-column="{{ key }}">
                                {{ msg(key)|capitalize_first }}
                                <span class="glyphicon glyphicon-sort"></span>
                            </span>
                        </th>
                    {% endfor %}
                </tr></thead>
                <tbody>
                {% for year, stats in year_count %}
                    <tr>
                        <td class="sort-entry--year" data-value="{{ year }}">{{ year }}</td>
                        <td class="sort-entry--edits" data-value="{{ stats.all }}">{{ stats.all|number_format }}</td>
                        <td class="sort-entry--ips" data-value="{{ stats.anon }}">{{ stats.anon }}</td>
                        {% set year_ips_percent = stats.anon|percent_format(stats.all) %}
                        <td class="sort-entry--ips-percentage" data-value="{{ year_ips_percent }}">{{ year_ips_percent }}</td>
                        <td class="sort-entry--minor-edits" data-value="{{ stats.minor }}">{{ stats.minor|number_format }}</td>
                        {% set year_minor_percent = stats.minor|percent_format(stats.all) %}
                        <td class="sort-entry--minor-edits-percentage" data-value="{{ year_minor_percent }}">{{ year_minor_percent }}</td>
                        <td>
                            {% for event, count in stats.events %}
                                <span class="comma-separated">
                                    {{ count|number_format }} {{ msg('num-'~event, [count]) }}
                                </span>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endset %}
        {{ layout.content_block('year-counts', content) }}

        {# ======================== MONTH COUNTS ======================== #}
        {% set content %}
            <table class="table table-bordered table-hover table-striped month-counts-table">
                <thead><tr>
                    {% for key in ['month', 'edits', 'ips', 'ips-percentage', 'minor-edits', 'minor-edits-percentage'] %}
                        <th>
                            <span class="sort-link sort-link--{{ key }}" data-column="{{ key }}">
                                {{ msg(key)|capitalize_first }}
                                <span class="glyphicon glyphicon-sort"></span>
                            </span>
                        </th>
                    {% endfor %}
                    <th>
                        <span class="color-icon" style="background:rgba(171, 212, 235, 1)"></span>
                        {{ msg('edits') }}
                        &middot;
                        <span class="color-icon" style="background:rgba(178, 223, 138, 1)"></span>
                        {{ msg('ips') }}
                        &middot;
                        <span class="color-icon" style="background:rgba(251, 154, 153, 1)"></span>
                        {{ msg('minor-edits') }}
                    </th>
                </tr></thead>
                <tbody>
                {% for year, year_stats in year_count %}
                    {% for month, stats in year_stats.months %}
                        {% set month_str = '%02d'|format(month) %}
                        <tr>
                            <td class="sort-entry--month" data-value="{{ year }}{{ month_str }}">
                                {{ year }}-{{ "%02d"|format(month) }}
                            </td>
                            <td class="sort-entry--edits" data-value="{{ stats.all }}">
                                {% if stats.all > 0 %}
                                    {# Generate link to revision history showing all edits for the given month #}
                                    {% set offset = date(year~"-"~month_str~"-01")|date("Ymt")~"235959" %}
                                    {{ wiki.pageHistLink(page, stats.all|number_format, offset, stats.all) }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                            <td class="sort-entry--ips" data-value="{{ stats.anon }}">{{ stats.anon|number_format }}</td>
                            {% set month_ips_percent = stats.anon|percent_format(stats.all) %}
                            <td class="sort-entry--ips-percentage" data-value="{{ month_ips_percent }}">{{ month_ips_percent }}</td>
                            <td class="sort-entry--minor-edits" data-value="{{ stats.minor }}">{{ stats.minor|number_format }}</td>
                            {% set month_minor_percent = stats.minor|percent_format(stats.all) %}
                            <td class="sort-entry--minor-edits-percentage" data-value="{{ month_minor_percent }}">{{ month_minor_percent }}</td>
                            <td class="stripes-column">
                                {# stripes are shown as figure over max edits for all months, with a max width of 400px #}
                                {% set all_edits_width = (stats.all / max_edits_per_month) * 400 %}
                                <div class="stripes" style="background:rgba(171, 212, 235, 1); width:{{ all_edits_width }}px"></div>
                                {% set anon_edits_width = (stats.anon / max_edits_per_month) * 400 %}
                                <div class="stripes" style="background:rgba(178, 223, 138, 1); width:{{ anon_edits_width }}px"></div>
                                {% set minor_edits_width = (stats.minor / max_edits_per_month) * 400 %}
                                <div class="stripes" style="background:rgba(251, 154, 153, 1); width:{{ minor_edits_width }}px"></div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        {% endset %}
        {{ layout.content_block('month-counts', content) }}

        {# ======================== AUTOMATED EDITS ======================== #}
        {% if general.automated_count > 0 %}
        {% set content %}
            <table class="table table-bordered table-hover table-striped">
                <thead><tr>
                    {% for key in ['tool', 'edits'] %}
                        <th>
                            <span class="sort-link sort-link--{{ key }}" data-column="{{ key }}">
                                {{ msg(key)|capitalize_first }}
                                <span class="glyphicon glyphicon-sort"></span>
                            </span>
                        </th>
                    {% endfor %}
                </tr></thead>
                <tbody>
                {% for tool, values in tools %}
                    <tr>
                        <td class="sort-entry--tool" data-value="{{ tool }}">
                            {{ wiki.pageLinkRaw(values.link, project, tool) }}
                        </td>
                        <td class="sort-entry--edits" data-value="{{ values.count }}">{{ values.count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endset %}
        {{ layout.content_block('auto-edits', content) }}
        {% endif %}

        {# ======================== ASSESSMENTS ======================== #}
        {% if assessments is defined %}
        {% set content %}
            <table class="table table-bordered table-hover table-striped assessments-table">
                <thead><tr>
                    {% for key in ['wikiproject', 'assessment', 'importance'] %}
                        <th>
                            <span class="sort-link sort-link--{{ key }}" data-column="{{ key }}">
                                {{ msg(key)|capitalize_first }}
                                <span class="glyphicon glyphicon-sort"></span>
                            </span>
                        </th>
                    {% endfor %}
                </tr></thead>
                <tbody>
                {% for wikiproject, assessment in assessments.wikiprojects %}
                    <tr>
                        <td class="sort-entry--wikiproject" data-value="{{ wikiproject }}">
                            {{ wiki.pageLinkRaw(assessments.wikiproject_prefix ~ wikiproject, project, wikiproject) }}
                        </td>
                        <td style="background:{{ assessment.class.color }}" class="sort-entry--assessment" data-value="{{ assessment.class.value }}">
                            {% set assessment_value %}
                                <img alt="{{ assessment.class.value }}" src="{{ assessment.class.badge }}" class="assessment-badge" />
                                {{ assessment.class.value }}
                            {% endset %}
                            {{ wiki.pageLinkRaw(assessment.class.category, project, assessment_value) }}
                        </td>
                        <td style="background:{{ assessment.importance.color }}" class="sort-entry--importance" data-value="{{ assessment.importance.weight }}">
                            {% set importance_label = assessment.importance ? assessment.importance.value : '???' %}
                            {{ wiki.pageLinkRaw(assessment.importance.category, project, importance_label) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endset %}
        {{ layout.content_block('assessments', content) }}
        {% endif %}

        {# ======================== BUGS ======================== #}
        {% if bugs is defined %}
        {% set content %}
            <table class="table table-bordered table-hover table-striped bugs-table">
                <thead><tr>
                    {% for key in ['priority', 'name', 'notice', 'explanation'] %}
                        <th>
                            <span class="sort-link sort-link--{{ key }}" data-column="{{ key }}">
                                {{ msg(key)|capitalize_first }}
                                <span class="glyphicon glyphicon-sort"></span>
                            </span>
                        </th>
                    {% endfor %}
                    <th>{{ msg('edit')|capitalize_first }}</th>
                </tr></thead>
                <tbody>
                {% for bug in bugs %}
                    <tr>
                        <td class="sort-entry--priority" data-value="{{ bug.prio }}">{{ bug.prio }}</td>
                        <td class="sort-entry--name" data-value="{{ bug.name }}">{{ bug.name }}</td>
                        <td class="sort-entry--notice" data-value="{{ bug.notice }}">
                            {% if bug.name == 'Wikidata' %}
                                {{ bug.notice|raw }}
                            {% else %}
                                <code>{{ bug.notice }}</code>
                            {% endif %}
                        </td>
                        <td class="sort-entry--explanation" data-value="{{ bug.explanation }}">{{ bug.explanation|raw }}</td>
                        <td>
                            {% if bug.name == 'Wikidata' %}
                                <a target='_blank' href='//www.wikidata.org/wiki/{{ wikidataId }}'>
                                    {{ msg('edit') }}
                                </a>
                            {% else %}
                                {{ wiki.editLink(page) }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endset %}
        {% set description_link %}
            {% set pcwLink %}
                <a target='_blank' href='https://tools.wmflabs.org/checkwiki/'>Project Check Wikipedia</a>
            {% endset %}
            {{ msg('powered-by', [pcwLink]) }}
        {% endset %}
        {{ layout.content_block('bugs', content, description_link) }}
        {% endif %}
    </div>
</div>
{% endblock %}
