{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}

{% block body %}
<div class="panel panel-primary">
    <header class="panel-heading">
        <div class="text-center xt-heading-top">
            {{ wiki_link(title, project_url) }}
            <small>
                &bull;
                {{ project }}
            </small>
        </div>
    </header>

    <div class="panel-body xt-panel-body-top">
        <p class="text-center">
            {{ wiki_history_link(title, project_url) }}
            &middot;
            {{ wiki_log_link(title, project_url) }}
            &middot;
            {% if isWMFLabs() %}
            {{ pageviews_links(title, project) }}
            {% if wikidataId is defined %}
                &middot;
                <a target="_blank" href="http://tools.wmflabs.org/reasonator/?q={{ wikidataId }}">Resonator (Wikidata)</a>
            {% endif %}
            {% endif %}
        </p>

        {% set content %}
            <dl class="col-lg-6 dl-horizontal stat-list clearfix">
                <dt>ID</dt>
                <dd>
                    <a target="_blank" href="{{ project_url }}/w/index.php?action=info&title={{ title }}">{{ id }}</a>
                </dd>
                {% if wikidataId is defined %}
                    <dt>Wikidata ID</dt>
                    <dd>
                        <a target="_blank" href="https://www.wikidata.org/wiki/{{ wikidataId }}">{{ wikidataId }}</a>
                        &middot;
                        {{ msg('num-items', [numWikidataItems]) }}
                    </dd>
                {% endif %}
                <dt>{{ msg('pagesize') }}</dt>
                <dd>{{ msg('num-bytes', [length | number_format, length]) }}</dd>
                <dt>{{ msg('totaledits') }}</dt>
                <dd>{{ revision_count | number_format }}</dd>
                <dt>{{ msg('editorcount') }}</dt>
                <dd>{{ editor_count | number_format }}</dd>
            </dl>
            <dl class="col-lg-6 dl-horizontal stat-list clearfix">
                <dt>{{ msg('firstedit') }}</dt>
                <dd>
                    {{ diff_link(first_edit.revid, project_url, datetime_first_edit) }}
                    &bull;
                    {{ user_link(first_edit.user, project_url) }}
                    &bull;
                    {{ first_edit.size | diff_format }}
                </dd>
                <dt>{{ msg('latestedit') }}</dt>
                <dd>
                    {{ diff_link(last_edit.revid, project_url, datetime_last_edit.timestamp) }}
                    &bull;
                    {{ user_link(last_edit.user, project_url) }}
                    &bull;
                    {{ last_edit.size | diff_format }}
                </dd>
                <dt>{{ msg('maxadd') }}</dt>
                <dd>
                    {{ diff_link(max_add.revid, project_url, max_add.timestamp) }}
                    &bull;
                    {{ user_link(max_add.user, project_url) }}
                    &bull;
                    {{ max_add.size | diff_format }}
                </dd>
                <dt>{{ msg('maxdel') }}</dt>
                <dd>
                    {{ diff_link(max_del.revid, project_url, max_del.timestamp) }}
                    &bull;
                    {{ user_link(max_del.user, project_url) }}
                    &bull;
                    {{ max_del.size | diff_format }}
                </dd>
            </dl>
            <dl class="col-lg-6 dl-horizontal stat-list clearfix" style="clear:both">
                <dt>{{ msg('minoredits') }}</dt>
                <dd>{{ minor_count | number_format }} &middot; ({{ minor_percentage }}%)</dd>
                <dt>{{ msg('anonedits') }}</dt>
                <dd>{{ anon_count | number_format }} &middot; ({{ anon_percentage }}%)</dd>
                <dt>{{ msg('botedits') }}</dt>
                <dd>{{ bot_revision_count | number_format }} &middot; ({{ bot_percentage }}%)</dd>
                <dt>{{ msg('avg_timebwedits_sign') }}</dt>
                <dd>{{ average_days_per_edit }} {{ msg('days', [average_days_per_edit]) }}</dd>
                <dt>{{ msg('editsperuser') }}</dt>
                <dd>{{ edits_per_editor | number_format(1) }}</dd>
                <dt>{{ msg('editsperday') }}</dt>
                <dd>{{ edits_per_day }}</dd>
                <dt>{{ msg('editspermonth') }}</dt>
                <dd>{{ edits_per_month | number_format }}</dd>
                <dt>{{ msg('editsperyear') }}</dt>
                <dd>{{ edits_per_year | number_format }}</dd>
                <dt>{{ msg('lastday') }}</dt>
                <dd>{{ count_history.day | number_format }}</dd>
                <dt>{{ msg('lastweek') }}</dt>
                <dd>{{ count_history.week | number_format }}</dd>
                <dt>{{ msg('lastmonth') }}</dt>
                <dd>{{ count_history.month | number_format }}</dd>
                <dt>{{ msg('lastyear') }}</dt>
                <dd>{{ count_history.year | number_format }}</dd>
                <dt>{{ msg('toptencount') }}</dt>
                <dd>{{ top_ten_count | number_format }} &middot; ({{ top_ten_percentage }}%)</dd>
            </dl>
            <dl class="col-lg-6 dl-horizontal stat-list clearfix">
                <dt>{{ msg('links_in') }}</dt>
                <dd>
                    <a target="_blank" href="{{ project_url }}/w/index.php?title=Special:WhatLinksHere/{{ title }}&hidetrans=1">{{ links_in_count | number_format }}</a>
                </dd>
                <dt>{{ msg('redirects') }}</dt>
                <dd>
                    <a target="_blank" href="{{ project_url }}/w/index.php?title=Special:WhatLinksHere/{{ title }}&hidetrans=1&hidelinks=1">{{ redirects_count | number_format }}</a>
                </dd>
                <dt>{{ msg('links_out') }}</dt>
                <dd>{{ links_out_count | number_format }}</dd>
                <dt>{{ msg('links_ext') }}</dt>
                <dd>{{ links_ext_count | number_format }}</dd>
                <dt>{{ msg('pagewatchers') }}</dt>
                <dd>{{ watchers | number_format }}</dd>
                <dt>{{ msg('pageviews') }} (60 {{ msg('days', [60]) }})</dt>
                <dd>
                    <a target="_blank" href="https://tools.wmflabs.org/pageviews?project={{ project }}&pages={{ title }}&range=latest-{{ pageviews_offset }}">
                        {{ pageviews | number_format }}
                    </a>
                </dd>
            </dl>
        {% endset %}
        {{ layout.content_block(msg('generalstats'), content) }}

        <div style="clear:both"></div>

        {% set content %}
            <table class="table table-bordered table-hover table-striped">
                <thead><tr>
                    <th>{{ msg('username') }}</th>
                    <th>{{ msg('links') }}</th>
                    <th>{{ msg('edits') | capitalize }}</th>
                    <th>{{ msg('minor') }}</th>
                    <th>%</th>
                    <th>{{ msg('firstedit') }}</th>
                    <th>{{ msg('latestedit') }}</th>
                    <th>{{ msg('net_change') }}</th>
                </tr></thead>
                <tbody>
                {% for editor, stats in editors | slice(0, 10) %}
                    <tr>
                        <td>
                            {{ user_link(editor, project_url) }}
                        </td>
                        <td>
                            {# FIXME: make sure these tools are enabled #}
                            {{ msg('tool_ec') }}
                            &middot;
                            {{ msg('tool_topedits') }}
                        </td>
                        <td>{{ stats.all | number_format }}</td>
                        <td>{{ stats.minor | number_format }}</td>
                        <td></td>
                        <td>
                            <a target="_blank" href="{{ project_url }}/wiki/Special:Diff/{{ stats.first_id }}">{{ stats.first }}</a>
                        </td>
                        <td>
                            <a target="_blank" href="{{ project_url }}/wiki/Special:Diff/{{ stats.last_id }}">{{ stats.last }}</a>
                        </td>
                        <td>
                            {{ stats.added | diff_format }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h4>{{ msg('bot_list') }}</h4>
            <table class="table table-bordered table-hover table-striped">
                <thead><tr>
                    <th>{{ msg('bot') }}</th>
                    <th>{{ msg('links') }}</th>
                    <th>{{ msg('count') }}</th>
                </tr></thead>
                <tbody>
                {% for bot in bots %}
                    <tr>
                        <td>
                            {{ user_link(bot.username, project_url) }}
                            {% if not bot.current %}
                                <i>
                                    (<a target="_blank" href="{{ project_url }}/w/index.php?title=Special:Log&action=view&page=User:{{ bot.username }}&type=rights">{{ msg('former_bot') }}</a>)
                                </i>
                            {% endif %}
                        </td>
                        <td>
                            {# FIXME: make sure these tools are enabled #}
                            {{ msg('tool_ec') }}
                            &middot;
                            {{ msg('tool_topedits') }}
                        </td>
                        <td>{{ bot.count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endset %}
        {{ layout.content_block(msg('usertable'), content) }}

        {% set content %}
            <table class="table table-bordered table-hover table-striped">
                <thead><tr>
                    <th>{{ msg('year') }}</th>
                    <th>{{ msg('numedits') }}</th>
                    <th>{{ msg('ips') }}</th>
                    <th>{{ msg('ips') }} %</th>
                    <th>{{ msg('minor') }}</th>
                    <th>{{ msg('minor') }} %</th>
                    <th>{{ msg('events') }}</th>
                </tr></thead>
                <tbody>
                {% for year, stats in year_count %}
                    <tr>
                        <td>{{ year }}</td>
                        <td>{{ stats.all | number_format }}</td>
                        <td>{{ stats.anon }}</td>
                        {# FIXME: refactor the trimming of .0 into a twig extension #}
                        <td>{{ stats.anon | percent_format(stats.all) }}</td>
                        <td>{{ stats.minor | number_format }}</td>
                        <td>{{ stats.minor | percent_format(stats.all) }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endset %}
        {{ layout.content_block(msg('yearcounts'), content) }}

        {% set content %}
            <table class="table table-bordered table-hover table-striped">
                <thead><tr>
                    <th>{{ msg('month') }}</th>
                    <th>{{ msg('numedits') }}</th>
                    <th>{{ msg('ips') }}</th>
                    <th>{{ msg('ips') }} %</th>
                    <th>{{ msg('minor') }}</th>
                    <th>{{ msg('minor') }} %</th>
                    <th>
                        {{ msg('alledits') }}
                        &middot;
                        {{ msg('ips') }}
                        &middot;
                        {{ msg('minor') }}
                    </th>
                </tr></thead>
                <tbody>
                {% for year, year_stats in year_count %}
                    {% for month, stats in year_stats.months %}
                        <tr>
                            <td>{{ year }}-{{ "%02d" | format(month) }}</td>
                            <td>{{ stats.all | number_format }}</td>
                            <td>{{ stats.anon | number_format }}</td>
                            <td>{{ stats.anon | percent_format(stats.all) }}</td>
                            <td>{{ stats.minor | number_format }}</td>
                            <td>{{ stats.minor | percent_format(stats.all) }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        {% endset %}
        {{ layout.content_block(msg('monthcounts'), content) }}
    </div>
</div>
{% endblock %}
