{% extends is_sub_request ? 'subrequest.html.twig' : 'base.html.twig' %}
{% import 'macros/wiki.html.twig' as wiki %}

{% block body %}

{% if not is_sub_request %}
    {% set descriptionLink %}
        {% set wikiwhoLink %}
            <a target='_blank' href='https://f-squared.org/wikiwho/'>Wikiwho</a>
        {% endset %}
        {{ msg('powered-by', [wikiwhoLink]) }}
    {% endset %}
    {% set downloadLink %}
        {{ layout.downloadLink('ArticleInfoAuthorshipResult', {project:project.domain, page:page.title}, ['wikitext']) }}
    {% endset %}

    <div class="panel panel-primary">
        <header class="panel-heading">
            <div class="text-center xt-heading-top">
                <a class="back-to-search" href="{{ path('ArticleInfoResult', {project: project.domain, page:page.title}) }}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    {{ msg('see-full-statistics') }}
                </a>
                {{ wiki.pageLink(page) }}
                <small>
                    &bull;
                    {{ project.domain }}
                </small>
            </div>
        </header>
        <div class="panel-body xt-panel-body">
            {{ wiki.pageLinks(page) }}

            <section class="panel panel-default clearfix">
                <header class="panel-heading col-lg-12">
                    <h4>
                        {{ msg('authorship') }}
                        <span class='pull-right text-muted xt-panel-description'>{{ downloadLink }}</span>
                        <span class='pull-right text-muted xt-panel-description'>{{ descriptionLink }}</span>
                    </h4>
                </header>
                <div class="panel-body col-lg-12">
{% endif %}

<p class="authorship-desc">{{ msg('authorship-desc') }}</p>

{% if textshares.error is defined %}
    <div class="alert alert-danger">
        <p>
            {{ msg('api-error', ['Wikiwho API'] ) }}:
            <code>{{ textshares.error }}</code>
        </p>
    </div>
{% else %}
    <table class="table table-bordered table-hover table-striped textshares-table toggle-table">
        <thead>
        {% for key in ['rank', 'username', 'links', 'characters', 'percentage'] %}
            <th>
                <span{% if key != 'links' %} class="sort-link sort-link--{{ key }}" data-column="{{ key }}"{% endif %}>
                    {{ msg(key)|capitalize_first }}
                    {% if key != "links" %}<span class="glyphicon glyphicon-sort"></span>{% endif %}
                </span>
            </th>
        {% endfor %}
        </thead>
        <tbody>
            {% set totalPercentage = 0 %}
            {% set totalCount = 0 %}
            {% for username, values in textshares.list %}
                {% set totalPercentage = totalPercentage + values.percentage %}
                {% set totalCount = totalCount + values.count %}
                <tr>
                    <td class="sort-entry--rank" data-value="{{ loop.index }}">{{ loop.index|num_format }}</td>
                    <td class="sort-entry--username" data-value="{{ username }}">
                        <span class="textshares-toggle toggle-table--toggle" data-index="{{ loop.index0 }}" data-key="{{ username }}">
                            <span class="glyphicon glyphicon-remove"></span>
                            <span class="color-icon" style="background:{{ chartColor(loop.index0) }}"></span>
                        </span>
                        {{ wiki.userLink(username, project) }}
                    </td>
                    <td>
                        {% if enabled('TopEdits') %}
                            <a href="{{ path('TopEditsResultPage', { 'project': project.domain, 'username': username, 'namespace': page.namespace, 'page': page.titleWithoutNamespace }) }}">{{ msg('tool-topedits') }}</a>
                        {% endif %}
                        &middot;
                        {% if enabled('EditCounter') %}
                            <a href="{{ path('EditCounterResult', { 'project': project.domain, 'username': username }) }}">{{ msg('tool-editcounter') }}</a>
                        {% endif %}
                    </td>
                    <td class="sort-entry--characters" data-value="{{ values.count }}">
                        {{ values.count|num_format }}
                    </td>
                    <td class="sort-entry--percentage" data-value="{{ values.percentage }}">
                        {{ values.percentage|percent_format }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        {% if textshares.totalAuthors > 10 and is_sub_request == true %}
            <tfoot><tr class="show-more-row">
                <td></td>
                <td>
                    <a href="{{ path('ArticleInfoAuthorshipResult', {project:project.domain, page:page.title})}}">
                        {{ (textshares.totalAuthors - 10)|num_format }}
                        {{ msg('num-others', [textshares.totalAuthors - 10]) }}
                    </a>
                </td>
                <td></td>
                <td>
                    {{ (textshares.totalCount - totalCount)|num_format }}
                </td>
                <td>
                    {{ (100 - totalPercentage)|percent_format }}
                </td>
            </tr></tfoot>
        {% endif %}
    </table>

    {##
     # Set the size of the chart to be relative to the number of tools.
     # Otherwise it may get too big and hog up the real estate.
     # 37 is the heigh of one row.
     #}
    {% set maxHeight = min(400, (textshares.list|length + 2) * 37) %}
    {% set height = max(150, maxHeight) %}
    <div class="chart-wrapper textshares-chart-wrapper toggle-table--chart">
        <canvas id="textshares_chart" width="{{ height }}" height="{{ height }}"></canvas>
    </div>

    {% set colors = [] %}
    {% for i in 0..(textshares.list|length) %}
        {% set colors = colors|merge([chartColor(i)]) %}
    {% endfor %}
    <script>
        window.textsharesChart = new Chart($('#textshares_chart'), {
            type: 'pie',
            data: {
                labels: {{ textshares.list|keys|json_encode()|raw }},
                datasets: [{
                    data: [
                        {% for username, values in textshares.list %}
                            {{ values.percentage }}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    ],
                    backgroundColor: {{ colors|json_encode()|raw }},
                    borderColor: {{ colors|json_encode()|raw }},
                    borderWidth: 1
                }]
            },
            options: {
                aspectRatio: 1,
                legend: {
                  display: false
                },
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, chartData) {
                            var label = chartData.labels[tooltipItem.index],
                                value = chartData.datasets[0].data[tooltipItem.index] / 100;
                            return label + ': ' + value.toLocaleString(i18nLang, {
                                style: 'percent',
                                maximumFractionDigits: 1
                            });
                        }
                    }
                }
            }
        });
        window.textshares = {{ textshares.list|json_encode()|raw }};
    </script>
{% endif %}

{% if not is_sub_request %}
    </div></section></div></div>
{% endif %}

{% endblock %}
