{% set xtPage = 'error' %}

{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}

{% block body %}
<div class="panel panel-danger">
    <header class="panel-heading">
        <div class="text-center xt-heading-top">
            <strong>{{ status_code }}: {{ status_text }}</strong>
        </div>
    </header>

    <div class="panel-body xt-panel-body error-wrapper">
        <div class="error-mascot--wrapper pull-right">
            <a target="_blank" title="By Lilyu (Own work) [WTFPL], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File%3ALapinou_Furieux.svg"><img class="error-mascot" alt="Lapinou Furieux" src="{{ asset('images/error_mascot.svg') }}"/></a>
        </div>

        {% if exception is defined and attribute(exception, 'message') is defined %}
            {% set message = attribute(exception, 'message') %}
        {% else %}
            {% set message = 'unknown' %}
        {% endif %}

        {% if msgExists(message, [exception.code]) %}
            <p><strong>{{ msg(message, [exception.code]) }}</strong></p>
        {% elseif 999 == exception.code %}
            {# This is a server-build message ready to be display that can safely use raw() #}
            <p>{{ message|raw }}</p>
        {% else %}
            {% set phabLink %}
                <a target="_blank" href="https://phabricator.wikimedia.org/maniphest/task/create/?title=PLEASE REPLACE WITH A DESCRIPTION OF THE ERROR&amp;priority=75&amp;projects=XTools&amp;description=```{{ attribute(exception, 'file') }}: {{ attribute(exception, 'line') }} - {{ message }}```%0A%0AURL: {{app.request.uri}}%0A%0APlease provide any further details here%0A%0AXTools version: {{ version }}-{{ shortHash() }}">Phabricator</a>
            {% endset %}
            <p>{{ msg('error-title', [phabLink]) }}</p>

            {# TODO: Probably want to get rid of this completely, or at least truncate the lines of the error message which can sometimes include massive SQL queries #}
            {# Fallback to "the server said: ..." #}
            <p>{{ msg('error-server-message', ['<code>' ~ message ~ '</code>']) }}</p>
        {% endif %}

        {% if status_code == 429 %}
            <p>
                {% set loginLink = "<a href='" ~ path('login', {'callback': url('oauth_callback', {'redirect': app.request.uri}) }) ~ "'>" ~ msg('error-rate-limit-login') ~ "</a>" %}
                <h3 class="text-danger"><strong>{{ msg('error-rate-limit-login-big', [loginLink]) }}</strong></h3>
            </p>
        {% endif %}

        <div class="text-center">
            <img class="splash-logo splash-logo--small" style="width:150px" src="{{ asset('images/logo.svg') }}" alt="{{ msg('xtools-title') }}" />
            <h5 class="about-subtitle">
                {{ msg('version', [version]) }}
                ({{ releaseDate() }})
                &middot;
                <a target="_blank" href="https://xtools.readthedocs.io">{{ msg('documentation') }}</a>
                &middot;
                {{ layout.apiLink }}
                &middot;
                <a target="_blank" href="https://github.com/x-tools/xtools">{{ msg('view-source') }}</a>
            </h5>
            <small>
                {% include 'default/_report_issue_links.html.twig' %}
            </small>
        </div>
    </div>
</div>
{% endblock %}
